@import '../../../colors&typo/styles.scss';

.tag {
  display: block;
  padding: 9.5px 26px 9.5px 30px;
  width: fit-content;
  min-height: 36px;
  min-width: 84px;
  max-width: 300px;
  border-radius: 4px;
  position: relative;

  span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @include text-style(14px);
    font-family: $rubik;
    line-height: 17px;
  }

  i {
    font-size: 16px;
    display: none;
  }
}

.tag:hover {
  padding: 9.5px 37px 9.5px 19px;
  cursor: context-menu;
  i {
    display: block;
    position: absolute;
    top: 47%;
    right: 22px;
    transform: translate(50%, -50%);
  }
  i:hover {
    cursor: pointer;
  }
}

@mixin tag-style($bg-color, $text-color) {
  background-color: $bg-color;
  span,
  i {
    color: $text-color;
  }
}

.white-text-tag {
  @include tag-style($secondary-1, rgb(255, 255, 255));
}
.blue-text-tag {
  @include tag-style(rgba(77, 124, 254, 0.08), $secondary-1);
}
.cyan-text-tag {
  @include tag-style(rgba(77, 124, 254, 0.08), $secondary-4);
}
.green-text-tag {
  @include tag-style(rgba(109, 210, 48, 0.08), $secondary-2);
}
.orange-text-tag {
  @include tag-style(rgba(255, 171, 43, 0.08), $primary);
}
.pink-text-tag {
  @include tag-style(rgba(254, 77, 151, 0.08), $secondary-3);
}
.gray-text-tag {
  @include tag-style(rgba(119, 140, 162, 0.08), $secondary-dark-1);
}

.hover-tag {
  @extend .tag;
  @extend .gray-text-tag;
  @include text-style(14px, $secondary-dark-1);
  font-family: $rubik;
  padding: 9.5px 37px 9.5px 19px;
  cursor: context-menu;
  i {
    display: block;
    position: absolute;
    top: 47%;
    right: 22px;
    transform: translate(50%, -50%);
  }
}
