@import './index.scss';
:host {
  display: block;
}
.tab-content {
  position: relative;
  margin-top: 20px;
}
.tabname {
  padding-bottom: 18px;
  white-space: nowrap;
}
.active {
  color: black;
}
.lineActive {
  display: block;
}

.tabelement {
  box-sizing: border-box;
  color: $secondary-dark-1;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  &:hover .tabname {
    color: $primary-dark;
  }
  &:hover .lineanimation {
    display: block;
  }
}
p {
  font-weight: 500;
}
.caption {
  color: $primary-dark;
  font-family: $roboto;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 20px;
}
.tabs {
  width: 100%;
  :hover {
    color: $primary-dark;
  }
}
.lineanimation {
  height: 2px;
  width: 100%;
  background-color: $primary-dark;
  position: relative;
  display: none;
}

.paragraph {
  position: relative;
}
.underline {
  width: 90%;
  height: 1px;
  background-color: $background-1;
}
#header {
  width: 100%;
  display: flex;
  height: 58px;
}
.content {
  margin-left: auto;
  align-self: center;
  justify-content: center;
}
.all-tabs {
  display: flex;
  justify-items: space-between;
}
