<div class="tabs">
  <div
    *ngFor="let tab of tabElementInput; index as i"
    class="tabelement"
    (click)="clickTab(i)"
  >
    <p>{{ tabElementInput[i] }}</p>
    <div class="lineanimation"></div>
    <p
      class="caption text-left paragraph"
      *ngIf="isClicked[i] && tabComponentInput.length > 0; else ngContent"
    >
      {{ tabComponentInput[i] }}
    </p>
    <ng-template #ngContent
      ><p class="caption text-left paragraph" *ngIf="isClicked[i]">
        <ng-content></ng-content></p
    ></ng-template>
  </div>
</div>
