<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../tabs/build/index.css" />
  </head>
  <body>
    <div id="tab">
      <header>
        <div id="tabelement" >
          <a href="#"><p>Latest News</p></a>
        </div>
        <div id="tabelement" >
          <a id href="#"><p>Trending News</p></a>
        </div>
        <div id="tabelement" >
          <a href="#"><p>Most Popular</p></a>
        </div>
      </header>
      <main>
        <p class="caption text-left">
          By Shreyashi Sanyal (Reuters) - Shares of technology and industrial
          companies pushed Wall Street's main indexes to session highs
        </p>
      </main>
    </div>
  </body>
</html>
