@import '../tabs/core/index.scss';
@import '../tabs/core/index.scss';

#tab{ 
    height: 193px;
    width: 617px;
}

main{
    position: relative;
    margin-top: 20px;
    padding-right: 160px;
    margin-left: 20px;
    
}