<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../tabs/build/index.css" />
  </head>
  <body>
    <div class="tabs">
      <div class="tabelement" id="tab1">
        <a href="#"><p>Latest News</p></a>
        <div class="lineanimation"></div>
        <p class="caption text-left" id="text1">
          By Shreyashi Sanyal (Reuters) - Shares of technology and industrial
          companies pushed Wall Street's main indexes to session highs
        </p>
      </div>
      <div class="tabelement" id="tab2">
        <a id href="#"><p>Trending News</p></a>
        <div class="lineanimation"></div>
        <p class="caption text-left" id="text2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
      <div class="tabelement" id="tab3">
        <a href="#"><p>Most Popular</p></a>
        <div class="lineanimation"></div>
        <p class="caption text-left" id="text3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
          fugiat rem recusandae unde placeat quisquam magni, distinctio alias!
          Ipsam officiis eveniet recusandae vero vitae sunt sed, veritatis
          pariatur ducimus sint?
        </p>
      </div>
    </div>
    <div class="underline"></div>
  </body>
</html>
