<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Input Markup</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
  <link rel="stylesheet" href="index.css">
</head>
<body>


  <label class="input-label" for="basic-input-example">Field title</label>
  <div class="input-wrapper">
    <input id="basic-input-example" type="text" placeholder="Placeholder">
  </div>


  <!-- Input with an icon -->
  <label class="input-label" for="input-icon-example">Text caption</label>
  <div class="input-wrapper">
    <input id="input-icon-example" class="valid" type="text" placeholder="Placeholder">
    <i class="las la-check"></i>
  </div>

</body>
</html>