<div class="expanses-wrapper">
  <div class="header">
    <h2>{{ header }}</h2>
    <div class="dots" (click)="handleClick($event)">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
  <div class="content">
    <div class="left-column" *ngIf="this.showChart">
      <div class="category-list">
        <div class="category" *ngFor="let item of this.chartData">
          <div class="circle" [style.background-color]="item.colorString"></div>
          <p>{{ item.kind }}</p>
        </div>
      </div>
    </div>
    <div class="right-column" *ngIf="this.showChart">
      <div class="chart">
        <kendo-chart>
          <kendo-chart-series>
            <kendo-chart-series-item
              [highlight]="seriesHighlight"
              type="donut"
              [data]="chartData"
              categoryField="percent"
              field="share"
              [colorField]="'colorString'"
            >
              <kendo-chart-series-item-labels
                [content]="labelContent"
                color="#fff"
                background="none"
                [font]="'14px Roboto, sans-serif'"
              >
              </kendo-chart-series-item-labels>
              <kendo-chart-series-item-tooltip
                [color]="'#252631'"
                [background]="'transparent'"
                [padding]="0"
              >
                <ng-template kendoChartSeriesTooltipTemplate let-value="value">
                  <span id="tooltip-text"
                    ><span id="tooltip-title">Total:</span> ${{
                      value.toFixed(2)
                    }}</span
                  >
                </ng-template>
              </kendo-chart-series-item-tooltip>
            </kendo-chart-series-item>
          </kendo-chart-series>
          <kendo-chart-legend [visible]="false"></kendo-chart-legend>
        </kendo-chart>
      </div>
    </div>
    <div class="no-chart" *ngIf="!this.showChart">
      <p>No Chart Data</p>
    </div>
  </div>
</div>
