@import 'index.scss';
:host {
  width: 555px;
  height: auto;
  background-color: #fff;
}
.expanses-wrapper {
  .header {
    height: 17%;
    padding: 15px 23px;
    border-bottom: #d8d8d8 solid 1px;
    h2 {
      font-size: 16px;
    }
  }
  .content {
    height: 83%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .left-column {
      margin: 23px 2px;
      .category-list {
        padding-left: 23px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .category {
          width: max-content;
          padding-bottom: 10x;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          border-radius: 18px;
          background-color: $background-2;
          .circle {
            margin-left: 16px;
            margin-right: 11px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
          }
          p {
            margin: 9px 0px;
            margin-right: 16px;
            font-size: 14px;
            font-family: $rubik;
            color: #252631;
          }
        }
      }
    }
    .right-column {
      .k-chart,
      .k-sparkline,
      .k-stockchart {
        height: 100%;
      }
      .chart {
        height: 100%;
      }
    }
  }
}
