@import '../../colors&typo/styles.scss';
@import 'core/index1.scss';
@import 'core/index2.scss';
body{
    font-family : $roboto;
}
p {
    font-size: 30px;
    margin: 75px 0 70px 150px;
    color: $primary-dark;
}
.line-one{
    height: 1px;
    width: 100%;
    background-color: $outline;
    margin-bottom: 88px;
}
.line-two{
    height: 1px;
    width: 79%;
    margin: auto;
    background-color: $outline;
}
.secondary-header{
    font-size : 16px;
    margin: 34px 0 31px 150px;
    color: $primary-dark;
}.paginations {
  margin-left: 145px;
  width: 385px;
  i {
    color: $secondary-dark-1;
    font-size: 18px;
  }
}

.pagination-two{
  margin-left: 205px;
  div{
    color: $secondary-dark-1;
  }
  .angle-left{
    margin-right: 30px;
  }
}

.pages {
  box-sizing: border-box;
  width: 41px;
  height: 41px;
  border-radius: 5px;
}
.pagination {
  display: flex;
}