<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <p>Pagination</p>
    <div class="line-one"></div>
    <div class="line-two"></div>
    <p class="secondary-header">Pagination</p>
    <div class="pagination">
      <div class="paginations">
        <div class="angle-left"><i class="las la-angle-left"></i></div>
        <div class="prev firsElement">Prev</div>
        <div class="pages first-page">1</div>
        <div class="pages active">2</div>
        <div class="pages">3</div>
        <div class="pages">4</div>
        <div class="pages">5</div>
        <div class="next">Next</div>
        <div class="angle-right"><i class="las la-angle-right"></i></div>
      </div>
      <div class="paginations pagination-two">
        <div class="angle-left"><i class="las la-angle-left"></i></div>
        <div class="pages firsElement first-page">1</div>
        <div class="pages active">2</div>
        <div class="pages">3</div>
        <div class="pages">4</div>
        <div class="pages">5</div>
        <div class="angle-right"><i class="las la-angle-right"></i></div>
      </div>
    </div>
  </body>
</html>
