
@import '../../colors&typo/styles.scss';
@import 'core/index.scss';



.line{
    height: 1px;
    width: 100%;
    background-color: $outline;
    margin-bottom: 88px;
    margin-top: 67px;
}
.feature31{
    padding-top: 64px;
    box-sizing: border-box;
    width: 100%;
    font-family: $roboto;
}


.head{
    font-size: 30px;
    margin-left: 150px;
    font-family: $roboto;
    letter-spacing: 0.1px;
}

.profileDiv{
    margin-left: 100px;
}
