<div
  class="charts-container"
  *ngIf="incomes$ | async as incomes"
  [ngStyle]="{
    gridTemplateColumns: 'repeat(' + (incomeColumns$ | async) + ', 1fr)'
  }"
>
  <app-accounts-list-chart
    *ngFor="let income$ of incomes"
    [info$]="income$"
  ></app-accounts-list-chart>
</div>

<app-accounts-list-cards [cards$]="cards$"></app-accounts-list-cards>
<app-accounts-list-deposits
  [deposits$]="deposits$"
></app-accounts-list-deposits>
<app-accounts-list-loans [loans$]="loans$"></app-accounts-list-loans>
