<div class="charts-container" *ngIf="incomes$ | async as incomes">
  <app-accounts-list-chart
    *ngFor="let income of incomes"
    [info]="{
      title: income.name ? income.name : 'unknown',
      data: income.data
    }"
  ></app-accounts-list-chart>
</div>

<app-accounts-list-cards
  *ngIf="cards$ | async as cards"
  [cards]="cards"
></app-accounts-list-cards>
<app-accounts-list-deposits
  *ngIf="deposits$ | async as deposits"
  [deposits]="deposits"
></app-accounts-list-deposits>
<app-accounts-list-loans
  *ngIf="loans$ | async as loans"
  [loans]="loans"
></app-accounts-list-loans>
