$primary: #FFAB2B; 
$primary-dark: #252631;
$secondary-dark-1: #778CA2;
$secondary-dark-2: #98A9BC;
$secondary-1:  #4D7CFE;
$secondary-2: #6DD230;
$secondary-3: #FE4D97;
$secondary-4:  #2CE5F6;
$outline: #E8ECEF;
$background-1: #F2F4F6;
$background-2: #F8FAFB;