<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <main class="main">
        <div class="menu">
            <div class="top-nav">
                <div class="intro">
                    <div class="intro-heading">
                        <div class="intro-heading-title">TBC</div>
                        <div class="intro-heading-subtitle">Banking</div>
                    </div>
                </div>
                <div class="side-bar">
                    <a class="side-bar-item" href="#">
                        <div class="side-bar-icon">
                            <i class="las la-clock"></i>
                        </div>
                        <div class="side-bar-title">DASHBOARD</div>
                    </a>
                    <a class="side-bar-item" href="#">
                        <div class="side-bar-icon">
                            <i class="las la-redo"></i>
                        </div>
                        <div class="side-bar-title">TRANSACTIONS</div>
                    </a>
                    <a class="side-bar-item" href="#">
                        <div class="side-bar-icon">
                            <i class="las la-briefcase"></i>
                        </div>
                        <div class="side-bar-title">PRODUCTS</div>
                    </a>
                    <a class="side-bar-item" href="#">
                        <div class="side-bar-icon">
                            <i class="las la-credit-card"></i>
                        </div>
                        <div class="side-bar-title">PAYMENTS</div>
                    </a>
                    <a class="side-bar-item" href="#">
                        <div class="side-bar-icon">
                            <i class="las la-chart-area"></i>
                        </div>
                        <div class="side-bar-title">STOCKS</div>
                    </a>
                    <a class="side-bar-item" href="#">
                        <div class="side-bar-icon">
                            <i class="las la-file-alt"></i>
                        </div>
                        <div class="side-bar-title">LINK</div>
                    </a>
                    <a class="side-bar-item" href="#">
                        <div class="side-bar-icon">
                            <i class="las la-puzzle-piece"></i>
                        </div>
                        <div class="side-bar-title">
                            <pre>UI KIT</pre>
                        </div>
                    </a>
                </div>
            </div>
            <div class="bottom-nav">
                <div class="accounts">
                    <h3 class="accounts-main-title">Accounts</h3>
                    <a class="accounts-item" href="#">
                        <div class="accounts-icon">
                            <i class="lab la-cc-visa"></i>
                        </div>
                        <div class="accounts-title">
                            <span class="span-visible">Card xxxx-80</span><span class="span-hidden">**</span>04
                        </div>
                    </a>
                    <a class="accounts-item" href="#">
                        <div class="accounts-icon">
                            <i class="lab la-cc-mastercard"></i>
                        </div>
                        <div class="accounts-title">
                            <span class="span-visible">Card xxxx-19</span><span class="span-hidden">**</span>02
                        </div>

                    </a>
                    <a class="accounts-item" href="#">
                        <div class="accounts-icon">
                            <i class="las la-address-card"></i>
                        </div>
                        <div class="accounts-title">
                            <span class="span-visible">Card xxxx-18</span><span class="span-hidden">**</span>04
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-dashboard">
                <div class="content-dashboard-wrapper">
                    <div class="burger-menu">
                        <div class="burger-menu-line"></div>
                        <div class="burger-menu-line"></div>
                        <div class="burger-menu-line"></div>
                    </div>
                    <h3 class="content-dashboard-title">Dashboard</h3>
                </div>
                <div class="profile">
                    <div class="profile-bef dropbtn" onclick="myFunction()">
                        <div class="image dropbtn"><img class="dropbtn" src="assets/user.png" alt=""></div>
                        <div class="name dropbtn">Barry Armstrong</div>
                    </div>
                    <div class="profile-hover" id="myDropdown">
                        <div class="about">
                            <div class="profile-mini"><img src="assets/user.png" alt=""></div>
                            <div>
                                <div>Barry Armstrong</div>
                                <div class="gmail">b.armstrong@gmail.com</div>
                            </div>

                        </div>
                        <div class="prof-settings">
                            <div><i class="las la-user"></i>
                                <p>YOUR PROFILE</p>
                            </div>
                            <div><i class="las la-cog"></i>
                                <p>SETTINGS</p>
                            </div>
                            <div><i class="las la-sign-out-alt"></i>
                                <p>SIGN OUT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-main">
                <p>some content</p>
            </div>
            <div class="footer">
                <div class="footer-text">© 2019 TBC Banking - All Rights Reserved.</div>
            </div>
        </div>
    </main>

    <script src="index.js"></script>
</body>

</html>