@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.tag, .hover-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9.5px 5px;
  min-width: 84px;
  max-width: 300px;
  border-radius: 4px;
}
.tag span, .hover-tag span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #252631;
  letter-spacing: 0.2px;
  font-family: "Rubik", sans-serif;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 17px;
  margin-right: 5px;
}
.tag i, .hover-tag i {
  font-size: 16px;
  display: none;
}

.tag:hover, .hover-tag:hover {
  justify-content: space-evenly;
  cursor: context-menu;
}
.tag:hover i, .hover-tag:hover i {
  display: inline-block;
}
.tag:hover i:hover, .hover-tag:hover i:hover {
  cursor: pointer;
}

.white-text-tag {
  background-color: #4D7CFE;
}
.white-text-tag span,
.white-text-tag i {
  color: white;
}

.blue-text-tag {
  background-color: rgba(77, 124, 254, 0.08);
}
.blue-text-tag span,
.blue-text-tag i {
  color: #4D7CFE;
}

.cyan-text-tag {
  background-color: rgba(77, 124, 254, 0.08);
}
.cyan-text-tag span,
.cyan-text-tag i {
  color: #2CE5F6;
}

.green-text-tag {
  background-color: rgba(109, 210, 48, 0.08);
}
.green-text-tag span,
.green-text-tag i {
  color: #6DD230;
}

.orange-text-tag {
  background-color: rgba(255, 171, 43, 0.08);
}
.orange-text-tag span,
.orange-text-tag i {
  color: #FFAB2B;
}

.pink-text-tag {
  background-color: rgba(254, 77, 151, 0.08);
}
.pink-text-tag span,
.pink-text-tag i {
  color: #FE4D97;
}

.gray-text-tag, .hover-tag {
  background-color: rgba(119, 140, 162, 0.08);
}
.gray-text-tag span, .hover-tag span,
.gray-text-tag i,
.hover-tag i {
  color: #778CA2;
}

.hover-tag {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #778CA2;
  letter-spacing: 0.2px;
  font-family: "Rubik", sans-serif;
  justify-content: space-evenly;
}
.hover-tag i {
  display: block;
}

h1 {
  height: 106px;
  padding-left: 150px;
  border-bottom: 1px solid #E8ECEF;
  margin: 50px auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

.container {
  width: 78%;
  height: 123px;
  border-top: 1px solid #E8ECEF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 82px auto;
}

.tags {
  width: 88%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

/*# sourceMappingURL=index.css.map */
