@import '../tags/core/index.scss';

h1 {
  height: 106px;
  padding-left: 150px;
  border-bottom: 1px solid $outline;
  margin: 50px auto;
  font-family: $roboto;
  font-weight: 400;
  font-size: 30px;
}

p {
  font-family: $roboto;
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.container {
  width: 78%;
  height: 123px;
  border-top: 1px solid $outline;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 82px auto;
}

.tags {
  width: 88%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
