@import './index.scss';

.container {
  max-height: 806px;
  width: 100%;
  min-width: 570px;

  > :not(:first-child) {
    padding: 0 16px;
  }

  img {
    width: 100%;
    height: 311px;
    overflow: hidden;
  }

  h2 {
    margin: 22px auto 8px 2px;
  }

  hr {
    border: 1px solid $outline;
    width: 95%;
    margin-top: 22px;
    margin-left: 16px;
  }

  p {
    color: $secondary-dark-2;
  }

  .wrapper {
    position: relative;
    padding-top: 8px;

    &::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 1111;
      background-image: linear-gradient(
        to bottom,
        rgba(228, 216, 216, 0),
        white
      );
      height: 89px;
    }
  }

  .scroll {
    max-height: 300px;
    width: 100%;
    position: relative;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .article {
    padding-top: 20px;
    padding-bottom: 65px;
    width: 100%;
  }
}

:host {
  display: inline-block;
}

:host ::ng-deep p {
  color: $primary-dark;
}
