.payments-wrapper {
  width: 79.16%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

  // development ones  (will remove when finished)
  //background: grey;
  background: #f6f6f6;
  margin: 0 auto;
  border: 1px solid black;
}
