@import './styles/primary-buttons/style.scss';
@import './styles/outline-buttons/style.scss';
@import './styles/color-options-buttons/style.scss';
@import './styles/icon/style.scss';

:host {
  display: block;
  height: 46px;
  width: 206px;
}

button {
  height: 100%;
  width: 100%;
  border-style: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 49px;
  position: relative;
  outline: none;
  cursor: pointer;
}
