@import '../../../colors&typo/typography.scss';
@import '../../../colors&typo/palette.scss';
* {
    box-sizing: border-box;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin checkbox_default($col, $fontSize:16px) {
    cursor: pointer;
    position: relative;
    font-family: $roboto;
    font-weight: 300;
    font-size: 16px;
    color: $col;
    padding-left: 5px;
}

@mixin checkbox_default_before($color) {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: -10;
    border-radius: 2px;
    background-color: rgba($color: $color, $alpha: 0.15);
    left: -22px;
    top: 0;
}