<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div class="checkbox">
        <input type="checkbox" id="uncheck">
        <label for='uncheck'>Unchecked</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="check" checked>
        <label for='check'>Checked</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="checkDisable" disabled>
        <label for='checkDisable'>Disabled unchecked</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="checkDisable" checked disabled>
        <label for='checkDisable'>Disabled checked</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="checkError">
        <label for='checkError' class="checkbox-error">Unchecked error</label>
    </div>
    <div class="checkbox">
        <input type="checkbox" id="checkErrorCheck" checked>
        <label for='checkErrorCheck' class="checkbox-error">Checked error</label>
    </div>



</body>

</html>