@import './base.scss';
@import '../../../colors&typo/typography.scss';
@import '../../../colors&typo/palette.scss';
.checkbox {
    &__text {
        @include checkbox_default($secondary-dark-1);
    }
    &__text::before {
        @include flex;
        @include checkbox_default_before($secondary-dark-1);
    }
    input {
        opacity: 0;
        cursor: pointer;
    }
    input:disabled+.checkbox__text {
        opacity: 80%;
    }
    input:checked+.checkbox__text {
        color: $primary-dark;
    }
    input:checked+.checkbox__text::before {
        content: '\2714';
        color: $background-2;
        background-color: $secondary-dark-2;
    }
    .checkError__text {
        @include checkbox_default($secondary-3);
    }
    .checkError__text::before {
        @include flex;
        @include checkbox_default_before($secondary-3);
    }
    input:checked+.checkError__text {
        color: $secondary-2;
    }
    input:checked+.checkError__text::before {
        content: '\2714';
        color: $secondary-2;
        background-color: rgba($color: $secondary-2, $alpha: 0.15);
    }
}