@import '../../colors&typo/typography.scss';
@import './base.scss';
.checkbox-container {
    input[type='checkbox'] {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }
    label {
        cursor: pointer;
        display: flex;
    }
    input[type='checkbox']:checked+label::before {
        content: '\2714';
        @include flex-center($background-2);
    }
    #unique:checked+label::before {
        content: '\2714';
        @include flex-center($secondary-2);
    }
    .checkbox-unchecked::before {
        content: "";
        @include checkbox-core($outline);
    }
    .checkbox-error::before {
        content: "";
        @include checkbox-square(rgba($color: $secondary-3, $alpha: 0.15));
    }
    .checkbox-check::before {
        content: "";
        @include checkbox-core($secondary-dark-2)
    }
    .checkbox-disCheck::before {
        content: "";
        @include checkbox-core(rgba($color: $secondary-2, $alpha: .15));
    }
}

#text1 {
    @include text-fonts($secondary-dark-1);
}

#text2 {
    @include text-fonts($secondary-3);
}

#text3 {
    @include text-fonts($primary-dark);
}

#text4 {
    @include text-fonts($secondary-2);
}