@import '../../colors&typo/styles.scss';
@import '../../layout/layout-empty-dashboard/index.scss';
@import './core/chart/index.scss', './core/lists/index.scss';

.content-main>*:not(:last-child) {
    margin-bottom: 17px;
}

.charts-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    margin-bottom: 20px;
}

.profile-hover {
    z-index: 1;
}