@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.chart-container {
  padding: 15.5px 21.5px;
  background-color: white;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}
.chart-container *, .chart-container {
  position: relative;
}
.chart-container .info {
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width: min-content;
}
.chart-container .info * {
  white-space: nowrap;
  width: min-content;
}
.chart-container .amount {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
  margin-bottom: 8px;
}
.chart-container .amount sup {
  font-size: 80%;
  vertical-align: top;
  margin-left: 1.5px;
  bottom: 3px;
}
.chart-container .title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #98A9BC;
  letter-spacing: 0.2px;
  letter-spacing: -0.02px;
}
.chart-container .chart {
  float: right;
  width: calc(100% - 158px);
  height: 100%;
  transform: rotateX(180deg);
}
.chart-container.green sup {
  color: #6DD230;
}
.chart-container.green .chart {
  background-image: linear-gradient(0deg, #6DD230, white);
}
.chart-container.orange sup {
  color: #FFAB2B;
}
.chart-container.orange .chart {
  background-image: linear-gradient(0deg, #FFAB2B, white);
}
.chart-container.pink sup {
  color: #FE4D97;
}
.chart-container.pink .chart {
  background-image: linear-gradient(0deg, #FE4D97, white);
}

.list {
  position: relative;
  width: 100%;
}
.list .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.list .header .name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #778CA2;
  letter-spacing: 0.2px;
}
.list .header .new {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #252631;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.list .header .new i {
  font-size: 18px;
  color: #FFAB2B;
  margin-right: 3px;
}
.list ul {
  display: table;
  padding: 1px 24px;
  background-color: white;
  border-radius: 4px;
}
.list .item {
  display: table-row;
}
.list .item > * {
  padding: 16px 0;
  display: table-cell;
  padding-left: 23px;
  border-bottom: 1px solid #E8ECEF;
  vertical-align: middle;
}
.list .item div:nth-child(1) {
  width: 58px;
}
.list .item div:nth-child(2) {
  width: calc(100% / 874 * 326);
}
.list .item div:nth-child(3) {
  width: calc(100% / 874 * 178);
}
.list .item div:nth-child(4) {
  width: calc(100% / 874 * 261);
}
.list .item div:nth-child(5) {
  width: calc(100% / 874 * 109);
}
.list .item div:nth-child(6) {
  width: min-content;
}
.list .item div:first-child {
  padding-left: 0;
}
.list .item div:last-child .container {
  margin-left: auto;
}
.list .item div:last-child .container *, .list .item div:last-child .container {
  width: min-content;
  white-space: nowrap;
}
.list .item:last-child > div {
  border: none;
}
.list .icon {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  background-color: #F8FAFB;
  height: 40px;
}
.list .icon i {
  margin: 0 auto;
}
.list .icon img {
  margin: 0 auto;
}
.list .icon.green {
  background-color: rgba(109, 210, 48, 0.1);
  color: #6DD230;
}
.list .icon.orange {
  background-color: rgba(255, 171, 43, 0.1);
  color: #FFAB2B;
}
.list .icon.blue {
  background-color: rgba(77, 124, 254, 0.1);
  color: #4D7CFE;
}
.list .primary {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
  margin-bottom: 1px;
}
.list .secondary {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #98A9BC;
  letter-spacing: 0.2px;
}
.list .blocked .balance .primary, .list .blocked .done .primary, .list .blocked .additionalInfo .primary {
  color: #778CA2;
}

body {
  padding: 30px;
}
body > * {
  margin-bottom: 19px;
}

.charts-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
