@import './index.scss';

:host {
  display: block;
}

.invoice-group {
  display: flex;
  width: 100%;
  height: 54px;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;

  p {
    margin: 0;
    font-size: 14px;
  }

  .invoice-list-header {
    float: left;
    @include text-style(16px);
  }

  .invoice-icon-container {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 2%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    @media screen and (max-width: 838px) {
      width: 25px;
      height: 25px;
    }

    .invoice-icon-circle {
      width: 40px;
      height: 40px;
      background-color: $primary;
      opacity: 0.1;
      border-radius: 50%;
      @media screen and (max-width: 838px) {
        width: 25px;
        height: 25px;
      }
    }
    .icon {
      opacity: 1;
      position: absolute;

      i {
        text-align: center;
        font-size: 18px;
        color: $primary;
        @media screen and (max-width: 838px) {
          font-size: 10px;
        }
      }
    }
  }

  .invoice-name-container {
    float: left;
    margin-left: 1.3%;
    height: 38px;
    width: 100px;
    cursor: pointer;

    .invoice-name {
      width: 100%;
    }
    .invoice {
      display: block;
    }
    @media screen and (max-width: 838px) {
      width: 70px;
    }
  }

  .invoice-date-container {
    float: left;
    margin-left: 27%;
    height: 38px;
  }
  @media screen and (max-width: 1385px) {
    .invoice-date-container {
      margin-left: 5%;
    }
  }
  @media screen and (max-width: 1165px) {
    .invoice-date-container {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 838px) {
    p {
      font-size: 10px;
    }
    .invoice-list-header {
      float: left;
      @include text-style(12px);
    }
    .invoice-icon-circle {
      width: 20px;
      height: 20px;
    }
  }
  .invoice-amount-container {
    float: left;
    margin-left: 7%;
    height: 38px;
    width: 60px;
  }
  .invoice-status-paid-container {
    float: left;
    margin-left: 6.5%;
    height: 38px;
    width: 82px;
    border-radius: 18px;
    background-color: $background-2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    @media screen and (max-width: 838px) {
      width: 50px;
      border-radius: 17px;
      height: 25px;
    }

    .invoice-status-green {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $secondary-2;
      display: inline-block;
      @media screen and (max-width: 838px) {
        height: 5px;
        width: 5px;
      }
    }
  }

  .invoice-status-pending-container {
    float: left;
    margin-left: 6.5%;
    height: 38px;
    width: 107px;
    border-radius: 18px;
    background-color: $background-2;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    @media screen and (max-width: 838px) {
      width: 80px;
      border-radius: 17px;
      height: 25px;
    }

    .invoice-status-yellow {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $primary;
      display: inline-block;
      @media screen and (max-width: 838px) {
        height: 5px;
        width: 5px;
      }
    }
  }
  .invoice-status {
    display: inline-block;
    margin-left: 7%;
    font-family: 'Rubik';
    margin-bottom: 0;
  }
  .invoice-status-cancelled-container {
    float: left;
    margin-left: 6.5%;
    height: 38px;
    width: 118px;
    border-radius: 18px;
    background-color: $background-2;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    @media screen and (max-width: 838px) {
      width: 88px;
      border-radius: 17px;
      height: 25px;
    }
    .invoice-status-red {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $secondary-3;
      display: inline-block;
      @media screen and (max-width: 838px) {
        height: 5px;
        width: 5px;
      }
    }
  }

  .invoice-more-icon {
    margin-left: auto;
    margin-right: 10px;
    height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }
}
hr {
  width: 100%;
  color: #e8ecef;
  opacity: 0.1;
}

.one-line-invoice {
  box-sizing: border-box;
  width: 100%;
  block-size: fit-content;
}

li:hover {
  background-color: rgb(0, 175, 238, 0.05);
  box-sizing: border-box;
}
app-shared-tabs {
  width: 100%;
}
.gradient {
  position: relative;
  width: 100%;
}
.gradient:after {
  position: absolute;
  width: 100%;
  content: '';
  height: 100px;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 80%
  );
  pointer-events: none; /* so the text is still selectable */
}
.content {
  width: 100%;
}
ul:last-child {
  padding-bottom: 65px;
}
ul {
  padding: 0;
  position: relative;
  width: 100%;
  height: 700px;
  overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
ul::-webkit-scrollbar {
  display: none;
}
:host {
  display: block;
  background-color: white;
}

.date-picker {
  label {
    display: inline-block;
    @include text-style(14px, $secondary-dark-1);
    margin-right: 10px;
  }
  .las {
    color: $secondary-dark-1;
    font-size: 14px;
    display: inline-block;
  }
  input {
    font-family: $roboto;
    @include text-style(12px);
    border: 0;
    margin-right: 10px;
    text-transform: uppercase;
    outline: none;
    @media screen and (max-width: 838px) {
      @include text-style(10x);
    }
  }
}
