.btn-schema {
    width: 206px;
    height: 46px;
    border-style: none;
    border-radius: 3px;
    font-size: 14px;
    line-height: 49px;
    position: relative;
    outline: none;
    cursor: pointer;
}