<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.11.2/css/all.css”>
    <link rel=“stylesheet” href=“https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css”>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="../buld/index.css">
    <title>Component/buttons</title>
</head>
<body>
    <div class="outline buttons">
        <button class="active btn">ACTIVE</button>
    </div>
    <div class="primary buttons icon">
        <button class="active btn"><i class="lar la-heart"></i>ACTIVE</button>
     </div>
</body>
</html>