<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="core/styles/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../buld/index.css">
    <title>Component/buttons</title>
</head>
<body>
    <div class="outline buttons">
        <button class="active btn">ACTIVE</button>
    </div>
    <div class="primary buttons icon">
        <button class="active btn"><i class="fa fa-heart-o" aria-hidden="true"></i>ACTIVE</button>
     </div>
</body>
</html>