@import"../../colors&typo/styles.scss";

*{
    box-sizing: border-box;
}
.bottom-line{
    border-bottom: 1px solid $outline;
    padding-bottom: 6.5px;
    margin-bottom: 21px;
    margin-top: 25px;
}

.payment-limits{
    max-width: 870px;
    padding: 18px 0px 0px 24px;

    &>h5{
        margin-bottom: 27px;
    }
    .payment-box{
        max-width: 699px;
    .cash-withdrawals{
        
        display: flex;
        justify-content: space-between;

        .current-limit{
            &>p{
                margin-bottom: 13px;
            }
            p{
                color: $primary-dark;
            }
            width: 48%;
            .payment-changer{
                padding-left: 16px;
                
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid $outline;
                border-radius: 4px;
                .payment-plusMinus{
                    margin-right: 15px;
                    display: flex;
                    font-size: 18px;
                    color: $secondary-dark-1;
                    .plusMinus{
                        cursor: pointer;
                        &:first-of-type{
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .spendings-wrap{
            width: 48%;
            
            p{
                margin-bottom: 14px;
                color: $primary-dark;
                &:last-child{
                    font-weight: 500;
                }
            }
            .spendings-header{
                display: flex;
                justify-content: space-between;
            }
            .spendings-bottom{
                height: 52px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $outline;
                border-radius: 4px;
                background-color: $background-2;
            .spendings-chart{
                position: relative;
                width: 292px;
                height: 4px;
                background-color: $background-1;
                &::after{
                    content: "";
                    position: absolute;
                    width: 60%;
                    height: 100%;
                    background-color: $primary;
                    border-radius: 2px;
                }
            }
        }
        }
    }
    }
    .payments-footer{
        margin-top: 125px;
        .payment-button{
            height: 46px;
            border: none;
            border-radius: 4px;
        }
        .cancle{
            width: 148px;
            background-color: $background-1;
            margin-left: 10px;
            color: $secondary-dark-1;
            letter-spacing: 1.4px;
        }
        .update{
            width: 206px;
            background-color: $primary;
            color: white;
            letter-spacing: 1.4px;
        }
    }
    

}