@import "../../colors&typo/styles.scss";
@import "../../components/basic-inputs/core/index.scss";
@import "../../components/buttons/core/index.scss";

.settingsAndMenu {
  min-width: 1140px;
  border-radius: 5px;
  position: relative;
  display: flex;
  font-family: "Roboto", sans-serif;
  .generalSettings {
    width: 877px;

    padding-top: 18px;

    .settingsInfo {
      width: 696px;
      padding-left: 24px;
      .userInfo {
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(1fr, 2);
        grid-template-rows: repeat(1fr, 3);
        grid-column-gap: 24px;
        grid-row-gap: 22px;
        .dropdown-general {
        
          color: $primary-dark;
          margin-top: -2px;
            width: 336px;   
            
            .selected {
                margin-top: 10px;
         }
            }
           
        }
        .lastName {
          grid-column: 2/2;
        }
      
      }

      .generalInfo {
        margin-bottom: 25px;
        font-size: 16px;
        color: $primary-dark;
        font-weight: 400;
      }
      .userProfile {
        width: 696px;
        border: 1px solid $outline;
        display: flex;
        align-items: center;
        border-radius: 7px;
        padding: 27px 0px 27px 26px;

        .profilePic {
          width: 67px;
          height: 67px;
          background-color: $outline;
          border-radius: 50%;
          padding: 3px 5px;
        }

        p {
          font-size: 18px;
          font-weight: 400;
          color: $primary-dark;
          margin-left: 19px;
          margin-top: -5px;
        }
      }
    }

    .primary {
      margin-left: 24px;
      margin-top: 31px;

      .resting {
        width: 148px;
        margin-left: 12px;
        padding-right: 15px;
      }
    }

    .buttons {
      padding-top: 140px;
    }
    .menu {
      max-width: 262px;
      border-left: 1px solid $outline;
      display: flex;
      margin-left: -5px;
  
      .menuTabs {
        padding-top: 26px;
  
        padding-left: 18px;
        p:nth-child(1) {
          color: $primary-dark;
        }
  
        p {
          margin-bottom: 21px;
          font-weight: 500;
          font-family: "Roboto", sans-serif;
          font-size: 14px;
          color: $secondary-dark-1;
        }
        p:nth-last-child(1) {
          margin-top: 492px;
        }
      }
  
      .tabStick {
        height: 15px;
        margin-top: 26px;
        background-color: black;
        width: 1.5px;
        display: block;
      }
    }
  
  
  }

 