<div class="popup-blur"></div>
<div class="details-popup print">
  <div class="details-container">
    <i class="las la-times-circle close"></i>
    <div class="details-left">
      <div class="invoice-num">
        <p>Invoice #</p>
        <h5>IO-BN-124</h5>
        <div class="tag">
          <app-shared-tag [color]="'green'"> Paid </app-shared-tag>
        </div>
      </div>
      <div class="invoice-addr">
        <p>To</p>
        <h3>Vodafone LLC</h3>
        <div class="address">
          <p>Department 98</p>
          <p>44-46 Morningside Road</p>
          <p>Edinburgh</p>
          <p>Scotland</p>
          <p>EH10 4BF</p>
          <p>marketing@vdfn.com</p>
        </div>
      </div>
      <div class="invoice-date">
        <p>Date</p>
        <h5>6 Aug 2018, 2:15 AM</h5>
      </div>
      <div class="invoice-due">
        <p>Due to</p>
        <h5>16 Aug 2018</h5>
      </div>
      <div class="print-receipt">
        <i class="las la-print" (click)="print()"></i>
        <p (click)="print()">PRINT RECEIPT</p>
      </div>
    </div>
    <div class="details-right">
      <div class="inv-content-container">
        <div class="invoice-content">
          <div class="inv-row inv-heading">
            <p class="inv-desc">Description</p>
            <p class="inv-rate">Rate.</p>
            <p class="inv-qty">Qty.</p>
            <p class="inv-row-total">Total</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Marketing Materials</p>
            <p class="inv-rate">$50</p>
            <p class="inv-qty">150</p>
            <p class="inv-row-total">$7500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Website design</p>
            <p class="inv-rate">$350</p>
            <p class="inv-qty">1</p>
            <p class="inv-row-total">$350</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Mobile app</p>
            <p class="inv-rate">$550</p>
            <p class="inv-qty">2</p>
            <p class="inv-row-total">$1100</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
          <div class="inv-row">
            <p class="inv-desc">Printing equipment</p>
            <p class="inv-rate">$150</p>
            <p class="inv-qty">10</p>
            <p class="inv-row-total">$1500</p>
          </div>
        </div>
      </div>
      <div class="invoice-total">
        <div class="inv-total-row">
          <p class="title">Subtotal:</p>
          <p class="amount">$10450</p>
        </div>
        <div class="inv-total-row">
          <p class="title">Tax 10%:</p>
          <p class="amount">$1045</p>
        </div>
        <div class="inv-total-row inv-total-foot">
          <p class="total-title">Total:</p>
          <p class="total-amount">$11495</p>
        </div>
      </div>
    </div>
  </div>
</div>
