:host {
  display: block;
  max-width: 100%;
  min-width: 506px;
}

.news-container {
  padding: 28px;
  gap: 28px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .news-left-part {
    flex: 1;
    min-width: 450px;
    padding-right: 10px;
    background: white;
  }
  @media screen and (max-width: 1055px) {
    .news-container {
      flex-direction: column;
    }

    .news-list {
      height: 100vh;
      min-height: 600px;
      overflow-y: scroll;
    }
  }

  .news-right-part {
    flex: 1;
    background: white;
    height: fit-content;
    min-width: 450px;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      .news-article {
        width: 92%;
        height: fit-content;
        margin-top: 25px;
      }
    }
  }
}
