<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.11.2/css/all.css”>
    <link rel=“stylesheet” href=“https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css”>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="buld/index.css">
    <title>Component/buttons</title>
</head>
<body>
    <div class="content">
        <header>
            <h1>Buttons</h1>
        </header>

        <div class="main">
            <div class="primary buttons">
                <h5>Primary buttons</h5>
                    <button class="active btn">ACTIVE</button>
                    <button class="hover btn">HOVER</button>
                    <button class="resting btn">RESTING</button>
                    <button class="hover2 btn">HOVER</button>
            </div>
            <div class="outline buttons">
                <h5>Outline buttons</h5>
                    <button class="active btn">ACTIVE</button>
                    <button class="hover btn">HOVER</button>
                    <button class="resting btn">RESTING</button>
                    <button class="hover2 btn">HOVER</button>
            </div>
            <div class="primary buttons">
                <h5>Primary buttons with icon</h5>
                    <button class="active btn"><i class="lar la-heart"></i>ACTIVE</button>
                    <button class="hover btn"><i class="lar la-heart"></i>HOVER</button>
                    <button class="resting btn"><i class="lar la-heart"></i>RESTING</button>
                    <button class="hover2 btn"><i class="lar la-heart"></i>HOVER</button>
            </div>
            <div class="outline buttons">
                <h5>Outline buttons with icon</h5>
                    <button class="active btn"><i class="lar la-heart"></i>ACTIVE</button>
                    <button class="hover btn"><i class="lar la-heart"></i>HOVER</button>
                    <button class="resting btn"><i class="lar la-heart"></i>RESTING</button>
                    <button class="hover2 btn"><i class="lar la-heart"></i>HOVER</button>
            </div>
            <div class="color-options buttons">
                <h5>Color options</h5>
                    <button class="green active btn">ACTIVE</button>
                    <button class="blue active btn">ACTIVE</button>
                    <button class="pink active btn">ACTIVE</button>
                    <button class="light-blue active btn">ACTIVE</button>

                <div class="btns bottom">
                    <button class="green hover btn">HOVER</button>
                    <button class="blue hover btn">HOVER</button>
                    <button class="pink hover btn">HOVER</button>
                    <button class="light-blue hover btn">HOVER</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>