@import 'core/index';

body {
    width: 1440px;
  }
  
  header {
      border-bottom:  2px solid $background-1;
  
      h1 {
          margin: 64px auto 65px 150px;
      }
  }
  
  .content {
      width: 100%;
      font-family: $roboto;
  
      .main{
          width: 1141px;
          margin: 0px auto;
  
          .buttons {
              width: 100%;
              height: 133px;
              border-top: 2px solid $background-1;
              margin-top: 91px;
      
              h5 {
                  margin-top: 31px;
                  margin-bottom: 33px;
              }
  
              .btn {
                  margin-right: 27.5px;
              }
              .bottom {
                  margin-top: 24px;
                  height: 200px;
              }
              
          }
      }
}
  
  