<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="styles/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="buld/index.css">
    <title>Component/buttons</title>
</head>
<body>
    <div class="content">
        <header>
            <h1>Buttons</h1>
        </header>

        <div class="main">
            <div class="primary buttons">
                <h5>Primary buttons</h5>
                <div class="btns">
                    <button class="active btn">ACTIVE</button>
                    <button class="hover btn">HOVER</button>
                    <button class="resting btn">RESTING</button>
                    <button class="hover2 btn">HOVER</button>
                </div>
            </div>
            <div class="outline buttons">
                <h5>Outline buttons</h5>
                <div class="btns">
                    <button class="active btn">ACTIVE</button>
                    <button class="hover btn">HOVER</button>
                    <button class="resting btn">RESTING</button>
                    <button class="hover2 btn">HOVER</button>
                </div>
            </div>
            <div class="primary buttons with icon">
                <h5>Primary buttons with icon</h5>
                <div class="btns">
                    <button class="active btn"><i class="fa fa-heart-o" aria-hidden="true"></i>ACTIVE</button>
                    <button class="hover btn"><i class="fa fa-heart-o" aria-hidden="true"></i>HOVER</button>
                    <button class="resting btn"><i class="fa fa-heart-o" aria-hidden="true"></i>RESTING</button>
                    <button class="hover2 btn"><i class="fa fa-heart-o" aria-hidden="true"></i>HOVER</button>
                </div>
            </div>
            <div class="outline buttons with icon">
                <h5>Outline buttons with icon</h5>
                <div class="btns">
                    <button class="active btn"><i class="fa fa-heart-o" aria-hidden="true"></i>ACTIVE</button>
                    <button class="hover btn"><i class="fa fa-heart-o" aria-hidden="true"></i>HOVER</button>
                    <button class="resting btn"><i class="fa fa-heart-o" aria-hidden="true"></i>RESTING</button>
                    <button class="hover2 btn"><i class="fa fa-heart-o" aria-hidden="true"></i>HOVER</button>
                </div>
            </div>
            <div class="color-options buttons">
                <h5>Color options</h5>
                <div class="btns">
                    <button class="green active btn">ACTIVE</button>
                    <button class="blue active btn">ACTIVE</button>
                    <button class="pink active btn">ACTIVE</button>
                    <button class="light-blue active btn">ACTIVE</button>
                </div>
                <div class="btns bottom">
                    <button class="green hover btn">HOVER</button>
                    <button class="blue hover btn">HOVER</button>
                    <button class="pink hover btn">HOVER</button>
                    <button class="light-blue hover btn">HOVER</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>