<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet " href="./index.css">
</head>

<body>
    <h1>Forms / Elements!</h1>
    <div class="container">
        <p>Checkbox</p>
        <div class="main-container">
            <div class="checkbox">
                <input type="checkbox" id="uncheck">
                <label for='uncheck' class="checkbox__text">Unchecked</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="checkDisable" checked disabled>
                <label for='checkDisable' class="checkbox__text">Disabled checked</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="checkError">
                <label for='checkError' class="checkError__text">Unchecked error</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="check" checked>
                <label for='check' class="checkbox__text">Checked</label>
            </div>
            <div class="checkbox">
                <input type="checkbox" id="checkDisable" disabled>
                <label for='checkDisable' class="checkbox__text">Disabled unchecked</label>
            </div>






            <div class="checkbox">
                <input type="checkbox" id="checkErrorCheck" checked>
                <label for='checkErrorCheck' class="checkError__text">Checked error</label>
            </div>

        </div>
    </div>




</body>

</html>