<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet " href="index.css">
</head>

<body>
    <h1>Forms / Elements!</h1>
    <div class="container">
        <p>Checkbox</p>
        <div class="main-container">
            <div class="checkbox-container">
                <input type="checkbox" class="cb1" unchecked>
                <label class="cb1"><span id="text1" >Unchecked</span></label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" class="cb1" disabled>
                <label class="cb1"><span id="text1" >Disabled unchecked</span></label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" class="cb2">
                <label class="cb2"><span id="text2" >Unchecked error</span></label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" class="cb3" checked>
                <label class="cb3"><span id="text3" >Checked</span></label>
            </div>
            <div class="checkbox-container" disabled checked>
                <input type="checkbox" class="cb3" disabled checked>
                <label class="cb3"><span id="text3" >Disabled Checked</span></label>
            </div>
            <div class="checkbox-container" disabled checked>
                <input type="checkbox" class="cb4" id='unique' checked>
                <label class="cb4"><span id="text4" >Checked success</span></label>
            </div>
        </div>
    </div>




</body>

</html>