@import './core/index.scss';
.container {
    width: 1185.5px;
    border-top: 1px solid $outline;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 250px;
    grid-row-gap: 20px;
}

h1 {
    @include text-style(30px);
}

p {
    @include text-style(16px);
    padding-left: 25px;
}