/* Error: Undefined variable.
 *    ,
 * 17 |     $dark-secondary-3);
 *    |     ^^^^^^^^^^^^^^^^^
 *    '
 *   colors&typo\typography.scss 17:5    @import
 *   components\checkbox\main.scss 1:9   @import
 *   components\checkbox\index.scss 2:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 17 \2502      $dark-secondary-3);\d\a    \2502      ^^^^^^^^^^^^^^^^^\a    \2575 \a   colors&typo\\typography.scss 17:5    @import\a   components\\checkbox\\main.scss 1:9   @import\a   components\\checkbox\\index.scss 2:9  root stylesheet";
}
