@import '../../colors&typo/palette.scss';
@import './main.scss';
@import '../../colors&typo/typography.scss';
.container {
    width: 1185.5px;
    border-top: 1px solid $outline;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 250px;
    grid-row-gap: 20px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type='checkbox']:disabled+label,
.checkbox-container input[type='checkbox']:disabled {
    opacity: 85%;
    cursor: default;
}