@import '../../../colors&typo/palette.scss';
 
// Progress bar background
@mixin default-bar($bg-color, $width, $height){
    background-color: $bg-color;
    width: $width;
    height: $height;
}

// Filled bar
@mixin color($bg-color, $width, $height){
    background-color: $bg-color;
    width: $width;
    height: $height;
    border-radius: 1px;
}

////// Ready for task #24 (settings payment limits)

.progress{
    @include default-bar($background-1, 292px, 4px);
    
    .orange{
        @include color($primary, 173px, 4px);
    }
    .pink{
        @include color($secondary-3, 173px, 4px);
    }
    .green{
        @include color($secondary-2, 173px, 4px);
    }
    .blue{
        @include color($secondary-1, 173px, 4px);
    }
}