@import '../../../colors&typo/styles.scss';
 
// Progress bar background
@mixin default-bar($bg-color, $width, $height){
    background-color: $bg-color;
    width: $width;
    div{
        height: $height;
        border-radius: 1px;
    }
}

// Filled bar. Changes a cell color based on percentage.
@mixin color(){
    @for $i from 1 through 100{
        .color-#{$i} {
            width: $i*1%;
            @if $i<26{
                background-color: $secondary-3;
            } @else if $i<61{
                background-color: $primary;
            } @else if $i<81{
                background-color: $secondary-1;
            }@else {
                background-color: $secondary-2;
            }
        }
    }
}
    
////// Ready for task #24 (settings payment limits)
.progress{
    @include default-bar($background-1, 100%, 4px);
    @include color();
}