<div class="settingsAndMenu">
  <router-outlet></router-outlet>

  <div class="menu">
    <div class="menuTabs">
      <a [routerLink]="['/settings/general']" routerLinkActive="active"
        >General information</a
      >
      <!-- ENTER YOUR PATHS BELOW LIKE THE UPPER ONE ^^^     -->

      <a [routerLink]="['#']" routerLinkActive="active">Security</a>
      <a [routerLink]="['settings/payments']" routerLinkActive="active"
        >Payment limits</a
      >
      <a routerLink="#" routerLinkActive="active">Notifications</a>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Close Account</a
      >
    </div>
  </div>
</div>
