@import 'src/styles/index';

.settingsAndMenu {
  width: 95%;
  border-radius: 5px;
  justify-content: space-between;
  position: relative;
  display: flex;
  font-family: 'Roboto', sans-serif;

  .menu {
    max-width: 262px;
    border-left: 1px solid $outline;
    display: flex;
    margin-left: -5px;

    .menuTabs {
      padding-top: 26px;

      padding-left: 18px;
      p:nth-child(1) {
        color: $primary-dark;
      }

      a {
        display: block;
        cursor: pointer;
        margin-bottom: 21px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        text-decoration: none;
        color: $secondary-dark-1;
        &.active {
          color: $primary-dark;
        }
        &:hover {
          color: $primary-dark;
        }
      }

      a:nth-last-child(1) {
        margin-top: 492px;
      }
    }

    .tabStick {
      height: 15px;
      margin-top: 26px;
      background-color: black;
      width: 1.7px;
      margin-left: -1px;
      display: block;
    }
  }
}
