@import 'src/styles/index';
:host {
  width: 100%;
  display: inline-block;
}
.settingsAndMenu {
  min-width: 1030px;
  background: $background-2;
  width: 100%;
  min-height: calc(100vh - 125px);
  border-radius: 5px;
  justify-content: space-between;
  position: relative;
  display: flex;
  font-family: 'Roboto', sans-serif;
  padding: 25px;
  .routerContainer {
    background-color: #fff;
    width: 100%;
    padding: 18px 0px 0px 24px;
  }
  .menu {
    width: 100%;
    background: #fff;
    max-width: 222px;
    border-left: 1px solid $outline;
    display: flex;
    margin-left: -5px;

    .menuTabs {
      padding-top: 26px;

      p:nth-child(1) {
        color: $primary-dark;
      }

      a {
        padding-left: 16.5px;
        border-left: 2px solid transparent;
        margin-left: -1px;
        display: block;
        cursor: pointer;
        margin-bottom: 15px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        text-decoration: none;
        color: $secondary-dark-1;
        line-height: 17px;

        &.active {
          color: $primary-dark;
          border-left: 2px solid black;
        }
        &:hover {
          color: $primary-dark;
        }
      }
    }
  }
}
