@mixin outline-btn ($border-color, $color) {
    background-color: white;
    border: 2px solid $border-color;
    color: $color;
    line-height: 35px
    
}
.outline {
    .active {
        @extend .btn-schema;
        @include outline-btn($primary, $primary-dark);

        &:hover {
            color: $primary;
            border-color: $primary;
        }
    }

    .hover {
        @extend .btn-schema;
        @include outline-btn($primary, $primary);
    }
    
    .resting {
        @extend .btn-schema;
        @include outline-btn($outline, $secondary-dark-1);

        &:hover {
            border: 2px solid $outline;
            color: $primary;
        }
    }
    
    .hover2 {
        @extend .btn-schema;
        @include outline-btn($outline, $primary);
    }
}