<div class="list">
  <div class="header">
    <p class="name">Open Deposit</p>
  </div>
  <div class="items">
    <app-accounts-list-item
      *ngFor="let deposit of pipedDeposits$ | async"
      [info]="deposit.info"
      [color]="deposit.color"
      [class.blocked]="deposit.blocked"
      [routerLink]="['/card-view/deposit/' + deposit.id]"
      ><i [class]="deposit.icon"></i
    ></app-accounts-list-item>
    <p *ngIf="!deposits$ || !(deposits$ | async)?.length">
      You have no deposits
    </p>
  </div>
</div>
