<div class="content">
  <header>
    <h1>Buttons</h1>
  </header>

  <div class="main">
    <div class="buttons">
      <h5>Primary buttons</h5>
      <div class="btn-container">
        <app-button
          [primary]="true"
          [active]="true"
          [width]="100"
          [height]="55"
          (newItemEvent)="onClick($event)"
          >active</app-button
        >
        <app-button
          [primary]="true"
          [resting]="true"
          (newItemEvent)="onClick($event)"
          >resting</app-button
        >
      </div>
    </div>
    <div class="buttons">
      <h5>Outline buttons</h5>
      <div class="btn-container">
        <app-button
          [outline]="true"
          [active]="true"
          (newItemEvent)="onClick($event)"
          >active</app-button
        >
        <app-button
          [outline]="true"
          [resting]="true"
          (newItemEvent)="onClick($event)"
          >resting</app-button
        >
      </div>
    </div>
    <div class="buttons">
      <h5>Primary buttons with icon</h5>
      <div class="btn-container">
        <app-button
          [primary]="true"
          [active]="true"
          (newItemEvent)="onClick($event)"
          ><i class="lar la-heart icon"></i>active</app-button
        >
        <app-button
          [primary]="true"
          [resting]="true"
          (newItemEvent)="onClick($event)"
          ><i class="lar la-heart icon"></i>resting</app-button
        >
      </div>
    </div>
    <div class="buttons">
      <h5>Outline buttons with icon</h5>
      <div class="btn-container">
        <app-button
          [outline]="true"
          [active]="true"
          (newItemEvent)="onClick($event)"
          ><i class="lar la-heart icon"></i>active</app-button
        >
        <app-button
          [outline]="true"
          [resting]="true"
          (newItemEvent)="onClick($event)"
          ><i class="lar la-heart icon"></i>resting</app-button
        >
      </div>
    </div>
    <div class="buttons">
      <h5>Color options</h5>
      <div class="btn-container">
        <app-button [blue]="true" (newItemEvent)="onClick($event)"
          >active</app-button
        >
        <app-button [green]="true" (newItemEvent)="onClick($event)"
          >active</app-button
        >
        <app-button [pink]="true" (newItemEvent)="onClick($event)"
          >active</app-button
        >
        <app-button [lightBlue]="true" (newItemEvent)="onClick($event)"
          >active</app-button
        >
      </div>
    </div>
  </div>
</div>
