<div class="news-item">
  <div class="news-img-wrapper">
    <img [src]="imgSrc" (error)="showPlacehoderImg()" alt="news" />
  </div>
  <div class="news-text-wrapper">
    <a [href]="articleUrl" target="blank"
      ><ng-content select="[articleTitle]"></ng-content
    ></a>
    <div>
      <span><ng-content select="[articleDate]"></ng-content></span>
      <span><i class="las la-comments"></i>{{ comments }}</span>
    </div>
    <p>
      <ng-content select="[articleBody]"></ng-content>
    </p>
  </div>
</div>
