@import '../../../colors&typo/styles.scss';

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 84px;
  min-height: 36px;
  border-radius: 4px;
  line-height: 17px;
  @include text-style(14px);
  font-family: $rubik; /* will be included in mixin */
  i {
    font-size: 16px; 
    display: none;
  }
}

.tag:hover {
  justify-content: space-evenly;
  i {
    display: block;
  }
}

.white-text-tag {
  background-color: $secondary-1;
  color: #ffffff;
}
.blue-text-tag {
  background-color: rgba(77, 124, 254, 0.08);
  color: $secondary-1;
}
.cyan-text-tag {
  background-color: rgba(77, 124, 254, 0.08);
  color: $secondary-4;
}
.green-text-tag {
  background-color: rgba(109, 210, 48, 0.08);
  color: $secondary-2;
}
.orange-text-tag {
  background-color: rgba(255, 171, 43, 0.08);
  color: $primary;
}
.pink-text-tag {
  background-color: rgba(254, 77, 151, 0.08);
  color: $secondary-3;
}
.gray-text-tag {
  background-color: rgba(119, 140, 162, 0.08);
  color: $secondary-dark-1;
}

.hover-tag {
  @extend .tag;
  @include text-style(14px, $secondary-dark-1);
  font-family: $rubik; /* will be included in mixin */
  @extend .gray-text-tag;
  justify-content: space-evenly;
  i {
    display: block;
  }
}
