@mixin outline-btn ($border-color, $color) {
    background-color: white;
    border: 2px solid $border-color;
    color: $color;
    
}
.outline {
    .active {
        @extend .btn-schema;
        @include outline-btn($primary, $primary-dark);

        &:hover {
            color: $primary;
            border-color: $primary;
        }
    }
    
}