@import '../../../../colors&typo/palette.scss';
@mixin checkbox-square($checkboxCol) {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-right: 2px;
    background-color: $checkboxCol;
    border: 0px;
}

@mixin text-fonts ($col) {
    font-family: $roboto;
    font-size: 14px;
    font-weight: 300;
    padding-top: 2px;
    padding-left: 5px;
    color: $col;
}

@mixin checkbox-core($bgCol) {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-right: 2px;
    background-color: $bgCol;
    border: 0px;
}

@mixin flex-center($color) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color;
}