<div style="text-align: center">
  <table class="table">
    <tbody>
      <tr *ngFor="let item of collection.data | paginate: config">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.value }}</td>
      </tr>
    </tbody>
  </table>

  <pagination-template
    #p="paginationApi"
    [id]="config.id"
    (pageChange)="config.currentPage = $event"
  >
    <div class="custom-pagination">
      <div
        class="pagination-previous"
        (click)="onPageChange($event)"
        [class.disabled]="p.isFirstPage()"
      >
        <span *ngIf="!p.isFirstPage()" (click)="p.previous()" class="previous">
          <i class="las la-angle-left"></i>
        </span>
      </div>
      <div
        class="page-number"
        *ngFor="let page of p.pages"
        [class.current]="p.getCurrent() === page.value"
        (click)="onPageChange($event)"
      >
        <span
          (click)="p.setCurrent(page.value)"
          *ngIf="p.getCurrent() !== page.value"
          >{{ page.label }}</span
        >
        <div *ngIf="p.getCurrent() === page.value">
          <span>{{ page.label }}</span>
        </div>
      </div>
      <div
        class="pagination-next"
        (click)="onPageChange($event)"
        [class.disabled]="p.isLastPage()"
      >
        <span *ngIf="!p.isLastPage()" (click)="p.next()" class="next"
          ><i class="las la-angle-right"></i>
        </span>
      </div>
    </div>
  </pagination-template>
</div>
