@import '../../../../styles/index.scss';
.toggle-container {
  display: flex;
  width: 190px;
  .text {
    cursor: pointer;
    display: block;
    margin-left: 18px;
    @include text-style(14px, $secondary-dark-1);
    width: 125px;
    margin-top: -15px;
    margin-left: 53px;
  }
  .disable-select {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 12px;
  }
  .slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: $secondary-dark-2;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: $primary;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  input:checked + .slider:before {
    background-color: #ffffff;
  }
  input:checked ~ label.text {
    color: $primary-dark;
  }
}

.off-disabled {
  input:checked + .slider:before {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  input:checked + .slider {
    background-color: $background-1;
  }
  input:checked + .slider::before {
    background-color: $secondary-dark-2;
  }
  .slider::before {
    opacity: 70%;
  }
  .text {
    color: $secondary-dark-1;
    opacity: 70%;
  }
  input:checked ~ label.text {
    color: $secondary-dark-1;
    opacity: 70%;
  }
}

.error-off {
  .text {
    color: $secondary-3;
    opacity: 100%;
  }
  input:checked + .slider {
    background-color: $background-1;
  }
  .slider {
    background-color: $secondary-3;
  }
  .slider:before {
    background-color: #ffffff;
  }
  input:checked + .slider::before {
    background-color: $secondary-dark-2;
  }
  input:checked ~ label.text {
    color: $secondary-3;
    opacity: 70%;
  }
}

.on-disabled {
  .slider:before {
    left: 20px;
    background-color: #ffffff;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  .slider {
    background-color: $primary;
    opacity: 70%;
  }
  .text {
    color: $primary-dark;
    opacity: 70%;
  }
  input:checked ~ label.text {
    color: $primary-dark;
    opacity: 70%;
  }
}

.success-on {
  .text {
    color: $secondary-2;
    opacity: 70%;
  }
  input:checked + .slider {
    background-color: $secondary-2;
  }
  input:checked ~ label.text {
    color: $secondary-2;
    opacity: 100%;
  }
}
