@import 'src/styles/index';
@import '../style/question-mark.scss';

.cotainer {
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $outline;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

p {
  color: $primary-dark;
  font-weight: 300;
  margin-bottom: 50px;
}
