<div class="cotainer">
  <header>
    <h5>How to fill invoice?</h5>
    <i class="fas fa-question-circle"></i>
  </header>

  <h6>Clients and templates</h6>
  <p>
    Marketers/advertisers usually focus their efforts on the people responsible
    for making the purchase. In many cases, this is an effective approach but in
    other cases it can make for a totally useless marketing campaign.
  </p>

  <h6>Company details</h6>

  <p>
    A successful marketing plan relies heavily on the pulling-power of
    advertising copy. Writing result-oriented ad copy is difficult, as it must
    appeal to, entice, and convince consumers to take action. There is no magic
    formula to write perfect ad copy; it is based on a number of factors,
    including ad placement, demographic.

    <br /><br />
    Marketers/advertisers usually focus their efforts on the people responsible
    for making the purchase. In many cases.
  </p>
</div>
