@import 'src/styles/index';

:host {
  width: 100%;
  display: block;
  padding: 28px;
}

.main-container {
  max-width: 670px;
  min-width: 400px;
  height: 724px;
  border-radius: 4px;
  background: white;
}

.create-card-container {
  display: grid;
  grid-template-rows: 56px 42.5% auto;

  [class|='gritem'] {
    padding: 0 24px;
  }

  .gritem-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $background-1;

    .crd-header {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;

      .card-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f8fafb;
        width: 40.7px;
        height: 28px;
        border-radius: 4px;
        transition: 1.3s ease-in-out;

        .fa-credit-card {
          color: $secondary-dark-1;
          transition: 1.3s ease-in-out;
        }
      }
    }

    .add-crd-txt {
      @include text-style(14px, $primary-dark);
      font-weight: 500;
      letter-spacing: 0;
      line-height: 17px;
      padding-left: 18px;
      user-select: none;
    }

    .crd-money {
      position: absolute;
      right: 0;
      color: $secondary-dark-2;
    }
  }

  .gritem-1 * {
    display: inline-block;
  }

  .gritem-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    user-select: none;

    .card-placeholder {
      position: relative;
      margin: 0 auto;
      width: 327px;
      height: 200px;
      animation-name: placeholder-appearing;
      animation-timing-function: ease;
      animation-duration: 1.5s;

      .card-placeholder-bg {
        position: absolute;
        top: -58px;
        left: 50%;
        transform: translateX(-50%);
      }

      .card-placeholder-txt {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 130px;
        width: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .la-plus-circle {
          position: relative;
          top: 5px;
          font-size: 75px;
          color: $primary;

          &.blue {
            color: $blue-dark;
          }

          &.orange {
            color: $orange-dark;
          }
        }

        h4 {
          font-weight: 500;
          line-height: 22px;
        }

        p {
          font-size: 13px;
          color: hsl(0, 0%, 60%);

          &.blue {
            color: hsl(0, 0%, 66%);
          }
        }
      }
    }
  }

  @keyframes placeholder-appearing {
    from {
      opacity: 0;
      pointer-events: none;
      top: 50px;
    }
    to {
      opacity: 1;
      pointer-events: all;
      top: 0px;
    }
  }

  .gritem-3 {
    .li {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $outline;
      padding: 0 10px;
      height: 41px;
      transition: 0.4s;

      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        background-color: $background-2;
      }

      .la-check {
        color: hsl(120, 30%, 50%);
        margin-left: 3px;
      }

      label {
        transition: 0.3s;
      }

      &:hover label {
        transform: translateX(7px);
      }

      input {
        height: 75%;
        width: 60%;
        border: none;
        padding: 3px 5px;
        text-align: right;
        background: none;
        border-radius: 3px;
        transition: 0.3s;

        &:-webkit-autofill {
          -webkit-text-fill-color: $secondary-dark-2;
          -webkit-background-clip: text;
          -webkit-box-shadow: 0 0 0 30px hsla(0, 0%, 100%, 0) inset !important;
          transition: 0.3s;
        }

        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          &.valid {
            -webkit-box-shadow: 0 0 0 30px hsl(120, 60%, 90%) inset !important;
          }
        }

        &.invalid {
          -webkit-box-shadow: 0 0 0 30px hsl(0, 80%, 90%) inset !important;
        }

        &:focus,
        &:active {
          outline: none;
          border-radius: 3px;
          background: hsl(200, 27%, 94%);
          transition: 0.3s;

          &.valid {
            background: hsl(120, 60%, 90%);
          }
        }

        &.invalid {
          background: hsl(0, 80%, 90%);
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        &[type='number'] {
          -moz-appearance: textfield;
        }

        &:focus + .pop-up {
          visibility: visible;
          opacity: 1;
        }
      }

      // Show input tooltip on hover
      .pop-up {
        display: flex;
        align-items: center;
        position: absolute;
        padding: 0 8px;
        border-radius: 3px;
        bottom: 0;
        left: 103%;
        width: fit-content;
        height: 40px;
        background: #292a2d;
        user-select: none;
        opacity: 0;
        visibility: hidden;
        transition: 0.35s ease-in-out;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 100%;
          margin-top: -8px;
          border-width: 8px;
          border-style: solid;
          border-color: transparent #292a2d transparent transparent;
        }

        .la-info-circle {
          color: #c4c2c2;
          padding-right: 4px;
        }

        span {
          color: #c4c2c2;
          font-family: $roboto;
          font-size: 14px;
          font-weight: 300;
          font-style: italic;
          line-height: 17px;
        }
      }

      label,
      input,
      input::placeholder {
        color: $secondary-dark-2;
        font-family: $roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
      }
    }

    .shared-button {
      position: relative;
      width: 206px;
      height: 46px;
      left: 10px;
      top: 25px;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .create-card-container {
    .gritem-3 {
      .li {
        .pop-up {
          bottom: 115%;
          left: unset;
          right: 50%;

          &::after {
            top: 100%;
            right: 15px;
            margin-top: 0;
            border-color: black transparent transparent transparent;
          }
        }
      }
    }
  }
}
