<main class="grid-container">
  <section class="authentication" [@formTrigger]>
    <div class="auth-form register-form minor-grid-container">
      <div>
        <p>
          <a [routerLink]="['/login']">
            <span class="TBC-bold">TBC</span>
            <span class="banking-light">Banking</span>
          </a>
        </p>
      </div>
      <div class="sign-in">
        <h1>Create account</h1>
        <p>
          Please sign up to your personal account if you want to use all our
          premium products
        </p>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" id="authentication-form">
        <div class="input-container">
          <!-- Imported Custom Input 1 -->
          <app-shared-input
            [formControl]="fullnameFormControl"
            [inputId]="'fullname-input'"
            [type]="'fullname'"
            [pattern]="fullnamePattern"
            [placeholder]="'Enter your full name'"
            [isRequired]="true"
            >Full Name<span
              class="error-message"
              [@errorTrigger]
              *ngIf="
                fullnameFormControl.hasError('required') &&
                fullnameFormControl.touched
              "
              >Required</span
            >
            <span
              class="error-message"
              [@errorTrigger]
              *ngIf="
                fullnameFormControl.hasError('pattern') &&
                fullnameFormControl.touched
              "
              >Invalid Full Name</span
            ></app-shared-input
          >
          <div class="input-tooltip">
            <i class="las la-info-circle"></i>
            <span
              >Use: Latin Letters or Symbols (,.'-)<br />Ex: Luk'e
              Dinnerson</span
            >
          </div>
        </div>
        <br />

        <div class="input-container">
          <!-- Imported Custom Input 2 -->
          <app-shared-input
            [formControl]="emailFormControl"
            [inputId]="'email-input'"
            [type]="'email'"
            [pattern]="emailPattern"
            [placeholder]="'Enter your email'"
            [isRequired]="true"
            >Your email<span
              class="error-message"
              [@errorTrigger]
              *ngIf="
                emailFormControl.hasError('required') &&
                emailFormControl.touched
              "
              >Required</span
            >
            <span
              class="error-message"
              [@errorTrigger]
              *ngIf="
                emailFormControl.hasError('pattern') && emailFormControl.touched
              "
              >Invalid Email</span
            ></app-shared-input
          >
          <div class="input-tooltip">
            <i class="las la-info-circle"></i>
            <span
              >Use: Letters, Numbers or Symbols (#~!$%^&*|?/-_=+)<br />Ex:
              em^ail@domain.com</span
            >
          </div>
        </div>
        <br />

        <div class="input-container">
          <!-- Imported Custom Input 3 -->
          <app-shared-input
            [formControl]="passwordFormControl"
            [inputId]="'password-input'"
            [type]="'password'"
            [pattern]="passwordPattern"
            [placeholder]="'Enter your password'"
            [isRequired]="true"
            >Password<span
              class="error-message"
              [@errorTrigger]
              *ngIf="
                passwordFormControl.hasError('required') &&
                passwordFormControl.touched
              "
              >Required</span
            >
            <span
              class="error-message"
              [@errorTrigger]
              *ngIf="
                passwordFormControl.hasError('pattern') &&
                passwordFormControl.touched
              "
              >Invalid Password</span
            ></app-shared-input
          >
          <div class="input-tooltip">
            <i class="las la-info-circle"></i>
            <span
              >Use: Letters, Numbers or Symbols (#$@!%&*?)<br />Min 8, max 50
              characters</span
            >
          </div>
        </div>

        <div class="checkbox-flex">
          <!-- Imported Checkbox -->
          <app-shared-checkbox
            [formControl]="termsFormControl"
            [required]="true"
            [checked]="true"
            >I agree with terms & conditions</app-shared-checkbox
          >
        </div>
        <!-- Imported Button -->
        <app-shared-button
          class="shared-button"
          [isDisabled]="form.invalid"
          [className]="'primary active'"
          >Sign up</app-shared-button
        >
      </form>
      <div class="auth-form-footer">
        <div>
          <p>Already have an account?</p>
          <a [routerLink]="['/login']">Sign in here</a>
        </div>
      </div>
    </div>
  </section>
  <section class="img-bg" [@formTrigger2]></section>
</main>
