<!-- <ng-content *ngFor="let _ of [].constructor(optionsCount); let i = index" select="#{{i}}"></ng-content> -->

<div class="dropdown-general" (click)="isOptionsOpened = !isOptionsOpened">

  <div class="selected placeholder">
    <div class="content">
      <ng-content class="option" select="#0"></ng-content>
    </div>
    <div class="arrow-container">X</div>
  </div>

  <div class="options" *ngIf="isOptionsOpened">
    <div class="option">
      <ng-content select="#1"></ng-content>
    </div>
    <div class="option">
      <ng-content select="#2"></ng-content>
    </div>
    <div class="option">
      <ng-content select="#3"></ng-content>
    </div>
  </div>
</div>