<!-- <ng-content *ngFor="let _ of [].constructor(optionsCount); let i = index" select="#{{i}}"></ng-content> -->

<div class="dropdown-general" (click)="isOptionsOpened = !isOptionsOpened">
  <div class="selected placeholder">
    <div class="content">
      <ng-content select="#placeholder"></ng-content>
    </div>
    <div class="arrow-container" [class.arrow-active]="isOptionsOpened">
      <ng-content select="#arrow"></ng-content>
    </div>
  </div>

  <ng-content *ngIf="isOptionsOpened" select=".options"> </ng-content>
</div>
