@import "../dropdowns/field/style/index.scss";
@import "../dropdowns/select/style/index.scss";
@import "../dropdowns/disabled/style/index.scss";

body {
  display: flex;
  flex-direction: column;
  padding: 100px;
  gap: 30px;
}

body>.dropdown-field:nth-child(2)
{
  .placeholder {
    color: $dark-secondary-3;
  }
}