:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 360px 325px;
  padding: 28px 28px 30px 28px;
  gap: 30px;
}

@media screen and (max-width: 1220px) {
  :host {
    grid-template-columns: 1fr;
  }
}
