:host {
  width: 100%;
  height: min-content;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 368px 390px;
  padding: 28px;
  gap: 30px;
}

app-features-shared-bank-transactions {
  display: block;
  width: 100%;
  min-height: 0;
  grid-row-end: span 2;
  grid-column-end: span 1;
  height: 788px;
}

app-card-view-template {
  grid-row: 1/3;
  grid-column: 1/2;
}

app-features-shared-expanses {
  grid-row-end: span 1;
  grid-column-end: span 1;
  height: 368px;
  width: 100%;
}

@media screen and (max-width: 1426px) {
  :host {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0px, 368px) minmax(0px, 390px) auto auto;
  }
  app-features-shared-expanses {
    grid-row-end: span 2;
  }
}
