:host {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 430px 328px;
  padding: 28px;
  gap: 30px;
}

@media screen and (max-width: 1426px) {
  :host {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 420px 328px);
  }
}
