<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="../core/build/index.css">
</head>
<body>
    <header>
        <div id="tabelement" >
          <a href="#"><p>Latest News</p></a>
        </div>
        <div id="tabelement" >
          <a id href="#"><p>Trending News</p></a>
        </div>
        <div id="tabelement" >
          <a href="#"><p>Most Popular</p></a>
        </div>
      </header>
</body>
</html>