@import '../../../colors&typo/styles.scss';
#tabelement{
    box-sizing: border-box;
    color:$secondary-dark-1;
    text-decoration: none;
    border-bottom: 2px solid $background-1; 
    margin-left: 23px;
    margin-right: 0px;
    margin-top: 17px;
 
}
#tabelement:hover{ 
    border-color:$primary-dark;
    color: $primary-dark;
}
a{
    text-decoration: none;
  p{
      font-weight: 500;
  }
}

.caption {
    color: $primary-dark;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 400;
}

header{
    display: flex;
    height: 56px;
    :hover{
        color:$primary-dark;
    }
}
