<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../core/build/index.css" />
  </head>
  <body>
    <div class="tabs">
      <div class="tabelement" id="tab1">
        <a href="#"><p>Latest News</p></a>
        <div class="lineanimation"></div>
        <p class="caption text-left" id="text1">
          text1
        </p>
      </div>
      <div class="tabelement" id="tab2">
        <a id href="#"><p>Trending News</p></a>
        <div class="lineanimation"></div>
        <p class="caption text-left" id="text2">
         text2
        </p>
      </div>
      <div class="tabelement" id="tab3">
        <a href="#"><p>Most Popular</p></a>
        <div class="lineanimation"></div>
        <p class="caption text-left" id="text3">
          text3
        </p>
      </div>
    </div>
    <div class="underline"></div>
  </body>
</html>
