@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.available-balances {
  display: flex;
  flex-direction: column;
  max-width: 555px;
  min-width: 372px;
}
.available-balances .balances-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
  max-width: 555px;
  min-width: 372px;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #E8ECEF;
  padding: 20px 0px 18px 23px;
}
.available-balances .balances-container {
  padding: 20px;
  max-width: 555px;
  min-width: 372px;
  display: flex;
  flex-direction: column;
}
.available-balances .balances-container * {
  background-color: inherit;
}
.available-balances .balances-container .la-long-arrow-alt-up {
  color: #6DD230;
}
.available-balances .balances-container .la-long-arrow-alt-down {
  color: #FE4D97;
}
.available-balances .balances-container .account-balance {
  display: flex;
  align-self: center;
  justify-content: space-between;
  border-bottom: 1px solid #E8ECEF;
  padding: 13px 0 16px 0;
  width: 100%;
}
.available-balances .balances-container .account-balance:first-child {
  padding-top: 0px;
}
.available-balances .balances-container .account-balance:last-child {
  border: 0px;
}
.available-balances .balances-container .account-balance .logo-background {
  width: 58.14px;
  height: 40px;
  background-color: #F8FAFB;
  display: flex;
  justify-content: center;
  margin-left: 5px;
}
.available-balances .balances-container .account-balance .account-type {
  display: flex;
}
.available-balances .balances-container .account-balance .account-number {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
  padding-bottom: 5px;
  letter-spacing: 0.4px;
}
.available-balances .balances-container .account-balance .account-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #252631;
  letter-spacing: 0.2px;
  color: #98A9BC;
}
.available-balances .balances-container .account-balance .detail-position, .available-balances .balances-container .account-balance .card-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 21px;
}
.available-balances .balances-container .account-balance .card-position {
  width: 76px;
  justify-content: space-between;
  padding: 0;
}
.available-balances .balances-container .account-balance .balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.available-balances .balances-container .account-balance .balance div {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}
.available-balances .balances-container .account-balance .balance .las {
  padding-bottom: 5px;
}

/*# sourceMappingURL=index.css.map */
