@import 'src/styles/index';
@import './style/flex.scss';

.main-container {
  width: 97%;
  height: fit-content;
  background-color: #fff;
  margin: 20px;
  border-radius: 2px;
  @extend .flex;
}

.form {
  width: 100%;
  margin-left: 20px;
  min-width: 600px;
  margin-right: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.side-info {
  width: 33%;
  min-width: 350px;
  max-width: 500px;
  background-color: $background-2;
}

.icon-text-wrapper {
  width: 90px;
  @extend .flex;
  padding-top: 20px;
}

i {
  color: $secondary-dark-1;
  font-size: 20px;
}

.preview {
  font-size: 12px;
  color: $secondary-dark-1;
  font-weight: 500;
  line-height: 20px;
}

.form-split {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $primary;
  line-height: 0.1em;
  margin: 40px 0 25px;
  span {
    background: #fff;
    padding: 0 10px;
    color: $primary;
  }
}

app-shared-button {
  margin-right: 10px;
}

.buttons {
  padding-left: 20px;
}
