<app-card-view-template
  [list]="list$ | async"
  [cardInfo]="cardInfo$ | async"
  [name]="name$ | async"
  [amount]="amount$ | async"
  [canBlock]="false"
  [color]="color$ | async"
  [buttons]="buttons$ | async"
  [background]="background$ | async"
  [ngClass]="{ 'disable-select': (canSelect$ | async) !== true }"
>
  <i header [class]="icon$ | async"></i>
  <i logo [class]="icon$ | async"></i>
</app-card-view-template>
<app-features-shared-expanses
  [chartData]="chartData$ | async"
  [header]="'Deposit Overview'"
></app-features-shared-expanses>
