@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
}

.toggle-container .text {
  display: inline-block;
  margin-left: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #778CA2;
  letter-spacing: 0.2px;
}

.toggle-container .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.toggle-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F2F4F6;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 12px;
}

.toggle-container .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: #98A9BC;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.toggle-container input:checked + .slider {
  background-color: #FFAB2B;
}

.toggle-container input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  transform: translateX(16px);
}

.toggle-container input:checked + .slider:before {
  background-color: #ffffff;
}

.off-disaled input:checked + .slider:before {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.off-disaled input:checked + .slider {
  background-color: #F2F4F6;
}

.off-disaled input:checked + .slider::before {
  background-color: #98A9BC;
}

.off-disaled .slider::before {
  opacity: 70%;
}

.Error-off .text {
  color: #FE4D97;
}

.Error-off input:checked + .slider {
  background-color: #F2F4F6;
}

.Error-off .slider {
  background-color: #FE4D97;
}

.Error-off .slider:before {
  background-color: #FFFFFF;
}

.Error-off input:checked + .slider::before {
  background-color: #98A9BC;
}

.on-disable .slider:before {
  left: 20px;
  background-color: #FFFFFF;
}

.on-disable input:checked + .slider:before {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.on-disable .slider {
  background-color: #FFAB2B;
  opacity: 70%;
}

.Success-on .text {
  color: #6DD230;
}

.Success-on input:checked + .slider {
  background-color: #6DD230;
}

.column-off {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column-on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}
/*# sourceMappingURL=index.css.map */