@import "../toggle/core/index.scss";
.column-off {
	display: flex;
	width: 1000px;
	justify-content: space-between;
}
.column-on {
	display: flex;
	width: 1000px;
	justify-content: space-between;
	margin-top: 5px;
}
