<div class="feat-notifications">
  <!-- successful pay -->
  <div class="successful-pay" *ngIf="successfulPay">
    <span>
      <i class="las la-bell"></i>
      <p class="payment-text">Success payment</p>
    </span>
    <i class="las la-times-circle" (click)="successfulPayMethod()"></i>
  </div>
  <br /><br />

  <!-- unsuccessful pay -->
  <div class="unsuccessful-pay" *ngIf="unsuccessfulPay">
    <span>
      <i class="las la-bell"></i>
      <p class="payment-text">
        We have some issue with your card. Please contact with us
      </p>
    </span>
    <i class="las la-times-circle" (click)="unsuccessfulPayMethod()"></i>
  </div>

  <br /><br />

  <!-- bell notifications-icon -->
  <div class="bell-notifications-icon">
    <div class="bell" (click)="bellMethod()">
      <i class="las la-bell"></i>
      <div class="dot"></div>

      <!-- bell notifications -->
      <div class="bell-notifications" *ngIf="bellNotifications">
        <ul>
          <li>
            <img
              src="../../../assets/feat-notifications/notification-icon-1.svg"
              alt=""
              class="bell-image"
            />
            <div>
              <p class="notification-header">Advertise Advertise Advertise</p>
              <p class="notification-bottom">
                How many free autoresponders have
              </p>
              <div class="tooltip"></div>
            </div>
          </li>

          <li>
            <img
              src="../../../assets/feat-notifications/notification-icon-2.svg"
              alt=""
              class="bell-image"
            />
            <div>
              <p class="notification-header">Nailing It On The Head</p>
              <p class="notification-bottom">
                Another title for this article can be
              </p>
            </div>
          </li>

          <li>
            <img
              src="../../../assets/feat-notifications/notification-icon-3.svg"
              alt=""
              class="bell-image"
            />
            <div>
              <p class="notification-header">
                How To Boost Traffic Of Your Blog
              </p>
              <p class="notification-bottom">What makes one logo better than</p>
            </div>
          </li>

          <li>
            <img
              src="../../../assets/feat-notifications/notification-icon-4.svg"
              alt=""
              class="bell-image"
            />
            <div>
              <p class="notification-header">Search Engine Optimization</p>
              <p class="notification-bottom">Adwords Keyword research</p>
            </div>
          </li>

          <li>
            <img
              src="../../../assets/feat-notifications/notification-icon-5.svg"
              alt=""
              class="bell-image"
            />
            <div>
              <p class="notification-header">
                Branding Do You Know Who You Are
              </p>
              <p class="notification-bottom">
                I have been questioned many people
              </p>
            </div>
          </li>

          <li class="notification-footer">
            <p class="notification-footer-text">ALL NOTIFICATIONS</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
