@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.payments {
  width: 79.16%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 100px;
}

.payment-providers {
  overflow: auto;
  max-width: 555px;
  background: white;
  height: 718px;
  border-radius: 7px;
}
.payment-providers header {
  padding: 20px;
  padding-bottom: 17px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #E8ECEF;
}
.payment-providers header form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.payment-providers header label {
  margin-right: 5px;
  color: #778CA2;
  font-size: 18px;
  text-align: start;
}
.payment-providers header input {
  margin-top: 2px;
  border: none;
  width: 95px;
  outline: none;
}
.payment-providers header input::placeholder {
  color: #778CA2;
  font-weight: 600;
  font-size: 12px;
}

.providers-list {
  padding-top: 9px;
}
.providers-list .provider-wrapper {
  width: 100%;
  padding-top: 11px;
}
.providers-list .provider-wrapper:hover {
  cursor: pointer;
}
.providers-list .provider {
  width: 91.202%;
  margin: 0 auto;
  border-bottom: 1px solid #E8ECEF;
  padding-bottom: 13px;
}
.providers-list .provider .icon-wrapper {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  float: left;
  background: #fff3df;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #FFAB2B;
  font-size: 20px;
  margin-right: 13px;
}
.providers-list .provider p {
  display: inline-block;
  margin-top: 1px;
}
.providers-list .selected-provider {
  background: #fffbf4;
}
.providers-list .selected-provider .provider {
  border-color: transparent;
}

body {
  background-color: #f8fafb;
}

/*# sourceMappingURL=index.css.map */
