<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <main class="main">
      <div class="menu">
        <div class="top-nav">
          <div class="intro">
            <div class="intro-heading">
              <div class="intro-heading-title">TBC</div>
              <div class="intro-heading-subtitle">Banking</div>
            </div>
          </div>
          <div class="main-nav">
            <a class="main-nav-item" href="#">
              <div class="main-nav-icon">
                <i class="las la-clock"></i>
              </div>
              <div class="main-nav-title">DASHBOARD</div>
            </a>
            <a class="main-nav-item" href="#">
              <div class="main-nav-icon">
                <i class="las la-redo"></i>
              </div>
              <div class="main-nav-title">TRANSACTIONS</div>
            </a>
            <a class="main-nav-item" href="#">
              <div class="main-nav-icon">
                <i class="las la-briefcase"></i>
              </div>
              <div class="main-nav-title">PRODUCTS</div>
            </a>
            <a class="main-nav-item" href="#">
              <div class="main-nav-icon">
                <i class="las la-credit-card"></i>
              </div>
              <div class="main-nav-title">PAYMENTS</div>
            </a>
            <a class="main-nav-item" href="#">
              <div class="main-nav-icon">
                <i class="las la-chart-area"></i>
              </div>
              <div class="main-nav-title">STOCKS</div>
            </a>
            <a class="main-nav-item" href="#">
              <div class="main-nav-icon">
                <i class="las la-file-alt"></i>
              </div>
              <div class="main-nav-title">LINK</div>
            </a>
            <a class="main-nav-item" href="#">
              <div class="main-nav-icon">
                <i class="las la-puzzle-piece"></i>
              </div>
              <div class="main-nav-title">
                <pre>UI KIT</pre>
              </div>
            </a>
          </div>
        </div>
        <div class="bottom-nav">
          <div class="accounts">
            <h3 class="accounts-main-title">Accounts</h3>
            <a class="accounts-item" href="#">
              <div class="accounts-icon">
                <i class="lab la-cc-visa"></i>
              </div>
              <div class="accounts-title">
                <span class="span-visible">Card xxxx-80</span
                ><span class="span-hidden">**</span>04
              </div>
            </a>
            <a class="accounts-item" href="#">
              <div class="accounts-icon">
                <i class="lab la-cc-mastercard"></i>
              </div>
              <div class="accounts-title">
                <span class="span-visible">Card xxxx-19</span
                ><span class="span-hidden">**</span>02
              </div>
            </a>
            <a class="accounts-item" href="#">
              <div class="accounts-icon">
                <i class="las la-address-card"></i>
              </div>
              <div class="accounts-title">
                <span class="span-visible">Card xxxx-18</span
                ><span class="span-hidden">**</span>04
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-dashboard">
          <div class="content-dashboard-wrapper">
            <div class="burger-menu">
              <div class="burger-menu-line"></div>
              <div class="burger-menu-line"></div>
              <div class="burger-menu-line"></div>
            </div>
            <h3 class="content-dashboard-title">Dashboard</h3>
          </div>
          <div class="profile">
            <div class="profile-bef dropbtn" onclick="myFunction()">
              <div class="image dropbtn">
                <img class="dropbtn" src="../../assets/user.png" alt="" />
              </div>
              <div class="name dropbtn">Barry Armstrong</div>
            </div>
            <div class="profile-hover" id="myDropdown">
              <div class="about">
                <div class="profile-mini">
                  <img src="../../assets/user.png" alt="" />
                </div>
                <div>
                  <div>Barry Armstrong</div>
                  <div class="gmail">b.armstrong@gmail.com</div>
                </div>
              </div>
              <div class="prof-settings">
                <div>
                  <i class="las la-user"></i>
                  <p>YOUR PROFILE</p>
                </div>
                <div>
                  <i class="las la-cog"></i>
                  <p>SETTINGS</p>
                </div>
                <div>
                  <i class="las la-sign-out-alt"></i>
                  <p>SIGN OUT</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-main">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod
          blanditiis accusantium quas nisi velit vero illo maiores voluptate,
          temporibus, inventore, quisquam repellat rem tenetur rerum corporis.
          Est sunt accusamus accusantium mollitia consequuntur asperiores totam
          pariatur exercitationem eveniet aperiam ipsum odit a perspiciatis
          expedita nostrum commodi autem fugiat in impedit velit nesciunt,
          soluta debitis quis. Distinctio laudantium explicabo sit esse neque
          quam illum quia, cum cumque hic suscipit dolorum blanditiis
          accusantium consequuntur temporibus facilis omnis officia? Saepe
          reiciendis, expedita cumque culpa voluptatibus amet autem repellat
          assumenda cum similique, dignissimos accusantium ipsam eveniet
          laudantium atque. Quae ut ipsum, dolor dolore commodi deserunt illum
          ad quas dolorum est blanditiis ipsa perspiciatis doloremque, placeat
          quisquam quod enim numquam temporibus corporis adipisci. Commodi velit
          deleniti accusamus quo ipsa temporibus minus doloremque. Unde non
          maxime officiis quibusdam esse repudiandae? Dignissimos voluptates
          porro praesentium maiores dolores magnam qui blanditiis. Quisquam vero
          itaque veniam maxime a possimus tempore, nobis, corrupti asperiores
          eveniet esse officia facilis ex, aperiam repellendus! Repellendus qui
          atque error laudantium optio esse? Quasi deserunt illum autem officiis
          voluptate nobis ipsam molestiae necessitatibus id commodi debitis
          labore harum porro veniam, tempore numquam dignissimos itaque optio
          temporibus perferendis beatae minus. Laboriosam minus obcaecati
          consectetur accusamus illo pariatur voluptatibus aliquid? Ullam
          reprehenderit officiis expedita nihil aperiam facilis repudiandae,
          tempore repellat, tenetur, nisi maiores sapiente quia. Iusto
          doloremque quam ipsam possimus corporis ipsa consequuntur unde
          suscipit a neque magni architecto voluptate esse necessitatibus
          officiis rerum, asperiores praesentium vel molestias minus, alias at
          repellendus itaque. Consequatur ab nesciunt omnis, ratione eius
          distinctio sed ipsum harum molestiae iusto expedita, numquam amet
          accusamus deleniti iure quibusdam veniam, soluta rem dolorem quidem
          vitae id? Minus illum sunt facere? Minus corporis culpa alias
          blanditiis doloremque fuga autem, sit ratione. Ipsa, natus totam esse
          facere at qui obcaecati magni veniam atque tempora vero. Maxime
          nostrum doloribus veritatis, molestiae itaque harum dignissimos
          laborum dicta aspernatur impedit facere iusto et, suscipit excepturi
          eius quaerat placeat est rerum qui, assumenda ratione accusamus. Ipsa
          velit in autem eaque, officia odio accusamus ipsam tempora tenetur rem
          saepe, assumenda fugiat vero corrupti, aliquam cumque eos odit illo.
          Aut quos ab nisi aspernatur ea rem, ex reprehenderit amet sed
          laudantium quisquam non laboriosam consequuntur rerum dolor. Earum
          aliquam nulla optio accusamus consequuntur aut obcaecati repudiandae,
          eum consectetur. Temporibus provident aperiam voluptas minus corrupti,
          odit eum eveniet recusandae dignissimos omnis doloribus vel. Commodi
          nostrum minus quos quia ab quidem expedita beatae cumque maxime est
          sequi cum, impedit quod eos saepe animi. Veritatis maxime explicabo
          ullam aliquam tempora voluptate a illo unde nesciunt iusto fugit,
          ipsum voluptatibus excepturi sint obcaecati nam perspiciatis. Ab
          quibusdam autem sit repellat esse voluptatibus quidem odit odio
          accusamus dolores eveniet sunt quam delectus quis labore distinctio
          perspiciatis repudiandae blanditiis fugiat doloribus, adipisci
          repellendus consequatur id! Repudiandae, quasi distinctio magni,
          similique unde, numquam possimus ducimus qui omnis ipsa architecto.
          Autem assumenda, esse sequi facilis ipsum quo amet dicta similique
          iure delectus quas dignissimos accusamus distinctio exercitationem
          enim ad sunt quaerat? Veniam cupiditate, aperiam quas sed delectus
          eveniet minima earum vero quia aliquam laboriosam similique a.
          Accusantium possimus reprehenderit reiciendis quia? Eaque dolore
          nostrum, officia inventore laborum quod similique? Accusantium
          delectus necessitatibus, laudantium ducimus a quaerat praesentium?
          Ducimus explicabo fugiat est, tenetur facilis minima, hic et, voluptas
          cumque velit deleniti debitis! Ipsum qui pariatur rerum molestiae.
          Incidunt, enim, eum accusamus veritatis quo fugiat nisi nulla quisquam
          esse ratione consequatur laborum ab sed laboriosam quas! Quod, id
          facere. Rem autem temporibus reiciendis sunt cum aliquid, inventore
          corrupti accusantium dolor reprehenderit dolore et est ex dolorum
          nulla facere? Doloribus fugit fugiat ratione inventore, molestias
          repellat vel ut quam ea repellendus iure veniam, sequi atque illum id
          animi laboriosam molestiae excepturi delectus rem! Quos amet dolore
          consectetur magnam nihil! Iste minus mollitia magnam modi? Temporibus
          ullam illum pariatur voluptatibus quidem obcaecati nam aspernatur,
          voluptates nihil facere ad eius in, porro commodi voluptate adipisci
          beatae, quas qui eligendi. Rerum illo blanditiis culpa ad facilis
          dolorem incidunt, optio neque! Accusantium dignissimos fugiat quasi
          inventore, amet in, impedit similique eveniet dolore ipsum molestiae
          quibusdam tenetur ratione consectetur illum sequi sapiente? Repellat
          deserunt autem modi officia deleniti officiis eos ullam odit.
          Consequuntur officiis blanditiis neque fugit praesentium nesciunt
          vitae voluptas, consequatur mollitia minus. Laborum, cumque inventore
          minus, aperiam tenetur incidunt unde explicabo aspernatur nobis
          voluptatibus vero, iure asperiores dolor. Maiores, cumque. Illo amet
          tenetur omnis incidunt corrupti, dignissimos eos exercitationem
          expedita laboriosam magnam modi reprehenderit. Maxime, praesentium
          placeat culpa quisquam possimus odio deserunt non tenetur, nihil, id
          doloremque quo enim ipsa vero dolorem vel illum veritatis similique.
          Neque, beatae? Nihil eos voluptatum laboriosam optio excepturi aut
          ullam modi unde ut facere sint suscipit culpa doloribus temporibus,
          esse rerum fugit iure maiores odit maxime. Non iure voluptatem iste
          iusto, repellat voluptates culpa sed alias minima facere a ipsam
          labore asperiores explicabo inventore nesciunt aut at, illo, expedita
          nostrum ut maiores. Numquam impedit deserunt aperiam magnam maiores,
          eaque distinctio iste, beatae in, porro reprehenderit? Facere earum
          dicta pariatur officia vel! Voluptas, distinctio id ad dicta quae
          praesentium aspernatur magnam unde? Itaque eos ullam sed veniam facere
          sequi temporibus expedita repellendus ipsum totam id perferendis,
          cumque accusamus deserunt dolor iste? Eius atque, deleniti a voluptate
          consequuntur amet odit, cum beatae quo rem vel dolorum assumenda modi
          nihil asperiores, eveniet similique? Accusamus quas explicabo labore
          reprehenderit id neque facilis ea, suscipit, tenetur ratione placeat
          deserunt similique quos perspiciatis laudantium inventore laboriosam.
          Impedit fugit iure ducimus magni adipisci cumque tenetur expedita
          aperiam amet doloribus blanditiis sint ex repellendus, eos aliquam
          natus vero? Iure tempora laborum mollitia non cum fuga, dolorem dicta
          consectetur numquam quo ipsa nostrum nam atque, sed beatae et eum
          cumque incidunt vero accusamus labore magnam, corporis eos nisi! Illo
          tempora beatae voluptates ratione nobis corrupti quidem libero at eius
          nemo, soluta cumque impedit neque in et quos blanditiis reprehenderit
          quis, molestias repellendus voluptatibus mollitia. Voluptatum corrupti
          aut ipsam quae fugit quos magni molestias ducimus minus rerum iure
          veritatis repellendus perferendis iste, maxime consectetur molestiae
          dolores explicabo tenetur itaque distinctio nulla aspernatur. Deserunt
          fuga earum vel ratione aliquam quis veniam quas labore deleniti a.
          Enim deleniti voluptatibus modi nesciunt consequatur doloremque ut ab
          numquam eos? Sint sunt possimus, quos corrupti dolores quasi magni
          voluptatum labore temporibus, officiis aut soluta cum, tenetur itaque
          ipsa? Necessitatibus voluptatem fuga minus ipsam eos animi?
          Accusantium vel assumenda earum exercitationem recusandae natus
          temporibus illo commodi illum doloribus dolorum odit quae, quibusdam
          suscipit quos fugiat maxime consequuntur sapiente cum facere mollitia
          architecto voluptatem labore. Eius excepturi nihil voluptatem laborum
          optio maiores ad alias placeat adipisci ex! Id nostrum, fugit libero
          ducimus magni quae sed voluptas maxime ab ex dicta ipsum sequi sunt
          nihil expedita repellat consectetur labore, inventore deserunt
          officia, recusandae rem. Nam, odio placeat! Quia quidem ratione cum
          deleniti, et dicta repudiandae. Dignissimos deserunt atque labore, non
          quaerat asperiores, libero adipisci quia nemo quo nostrum provident.
          Nisi id harum tempore et odit facilis alias explicabo illum beatae
          doloremque odio magni, voluptatum, accusantium modi sunt unde.
          Mollitia totam reiciendis consequuntur? Asperiores praesentium quaerat
          fugit incidunt consectetur, possimus quas dicta eos hic! Autem
          quisquam ratione numquam reprehenderit cumque quas neque esse animi
          architecto asperiores necessitatibus molestias deleniti natus quaerat
          aliquid, voluptates laudantium cum sunt modi quasi suscipit quos sint!
          Suscipit eum minima, perspiciatis expedita cupiditate, totam neque hic
          autem, provident voluptatum facere debitis odit quos enim qui animi
          distinctio quas molestiae atque? Esse officia dolor voluptatibus
          excepturi nam adipisci atque voluptates nemo odit totam, ullam
          asperiores porro illum dolores quis omnis ducimus vel ipsum?
          Consequuntur, numquam voluptas rerum quaerat consectetur laborum saepe
          blanditiis quibusdam unde! Commodi, quas aliquid! Exercitationem,
          nesciunt pariatur doloremque perspiciatis impedit, adipisci aut autem
          sint amet ab at rerum eveniet quaerat accusantium incidunt laborum cum
          deleniti ipsam quo animi. Possimus, accusamus quisquam explicabo
          consequatur dicta maxime molestiae nam veritatis perspiciatis eius
          mollitia voluptatem excepturi culpa ipsum adipisci placeat soluta qui
          eum nisi, in beatae dignissimos? Nostrum, perferendis saepe a quidem
          doloremque reiciendis dolore totam vel repellendus similique eum
          dolorem vero id pariatur nemo, quos quae voluptatem? Nobis quibusdam
          corporis vel harum quisquam cum! Magnam mollitia eligendi accusantium
          quas, inventore recusandae harum? Harum, cumque officiis porro
          voluptatibus cum eum quam et quas rerum distinctio, perferendis dolore
          accusantium consectetur eaque ab consequatur omnis nam quaerat eos
          tempora! Vero, qui? Nobis ipsam eum sit! Dolores nam minima laborum
          tenetur at quibusdam nemo sapiente quaerat impedit? Earum nam alias
          tempora, doloremque ea provident fugiat similique est ut facilis nemo
          labore libero deleniti ipsam doloribus quia quas. Aliquam magnam animi
          perspiciatis facere quos, obcaecati ad. Neque natus, corrupti vero at
          unde quo? Suscipit illo, hic quam alias mollitia recusandae deserunt
          itaque fugit quis ipsa omnis natus, libero molestiae facilis dolore
          sapiente officia placeat autem incidunt provident, officiis obcaecati.
          Minima cumque doloribus blanditiis fugiat dignissimos vero suscipit
          eum harum, deleniti fuga libero, dolorum velit quibusdam ut
          repudiandae optio nesciunt ratione laudantium, perferendis facilis
          expedita corporis impedit ad. Nisi neque repudiandae nihil ducimus cum
          commodi velit modi nobis quos eveniet impedit consequuntur
          necessitatibus, qui facilis vel illo perspiciatis, repellat numquam
          sunt? Repellat et voluptatum officiis architecto, magni rem. Amet
          quaerat quas placeat doloremque id iure repudiandae minima consequatur
          tenetur ex ullam repellendus fugit optio eaque velit, est dolores
          voluptatum deleniti nemo unde molestiae quos reprehenderit omnis
          nostrum. Omnis accusamus recusandae temporibus eius itaque laudantium
          quia enim debitis distinctio mollitia eum porro beatae, labore
          accusantium suscipit quibusdam esse sit voluptatem fuga cum? Sed
          veniam voluptatibus, quia perferendis, pariatur voluptatem, deserunt
          similique odio vero rem at perspiciatis? Minus, repellendus amet
          praesentium eius harum aut officiis ad dignissimos fuga voluptas, cum
          iure necessitatibus odio omnis saepe quibusdam rem exercitationem. In,
          porro? Odit, consectetur necessitatibus explicabo saepe eaque unde
          minima, non qui hic nulla dignissimos. Adipisci, omnis alias possimus
          voluptatem quas cum quam. Soluta voluptas cum in, libero ab quasi sed
          dolor reprehenderit, doloremque, dignissimos facere officia architecto
          dolore! Minima debitis quod natus quos error, ea quibusdam officia
          unde sed, aut hic nostrum voluptatem aliquid obcaecati, dignissimos
          fuga voluptatibus numquam molestias nam. Asperiores nemo consectetur,
          fugiat praesentium in quam voluptas, quo consequatur exercitationem
          iste quae. Inventore earum harum ipsa quaerat pariatur saepe adipisci
          rem perferendis! Ea vero inventore dolorum harum reiciendis corporis
          perspiciatis labore blanditiis dolores minima beatae, nesciunt
          eligendi molestiae excepturi necessitatibus quidem maiores? Nemo
          pariatur officiis fuga praesentium. Minima adipisci quisquam tempore
          excepturi porro. Vero at dolor voluptates enim dicta corrupti
          voluptatum, obcaecati, nihil sed suscipit repellat animi, vel nisi
          sequi! Dignissimos soluta esse et voluptatibus accusantium eum
          aspernatur ipsum eligendi nobis officiis harum, doloremque maiores cum
          necessitatibus rerum. Inventore nobis quia ad expedita perspiciatis,
          consequuntur rerum quam necessitatibus! Sint distinctio, delectus
          aperiam molestiae, possimus eaque adipisci eligendi soluta voluptates
          omnis quos accusamus molestias excepturi temporibus sunt quas atque
          sit itaque aliquid. Eligendi quod inventore distinctio totam
          dignissimos natus earum facilis, ipsa impedit cum praesentium soluta
          libero laborum. Illo, sit laboriosam ipsum asperiores aliquam
          consequuntur assumenda pariatur eos doloribus architecto velit quam
          voluptates quaerat? Aperiam harum in quis perferendis illum iure quo
          accusamus maxime atque iusto architecto quibusdam nihil molestias unde
          nam quaerat voluptates, officiis hic obcaecati nobis, autem pariatur
          commodi nulla numquam? Nam aut temporibus dolorum et ducimus doloribus
          labore itaque a eos repudiandae inventore laudantium, asperiores ex
          officia perspiciatis libero minus. Odit autem ad veritatis ut nostrum
          obcaecati dolorem repellat nulla quaerat, totam expedita! Est
          veritatis consectetur labore similique possimus velit accusantium
          placeat veniam. Reiciendis odit totam sit mollitia omnis a dolorem
          nisi veniam corrupti quam adipisci qui odio numquam quisquam eveniet,
          perferendis voluptas quo voluptatibus. Nobis voluptas et ullam nisi
          nemo molestias recusandae beatae in eum itaque non aliquid sequi,
          minus voluptatum nam dolore obcaecati veritatis deserunt natus quaerat
          dolorum est sunt tempore quam! Quia, debitis esse aspernatur
          necessitatibus at ex repellat ullam earum iusto sunt corrupti libero,
          soluta voluptate vel quos tenetur ratione nihil praesentium molestiae
          facilis nisi porro magnam! At nisi labore possimus, iste aut cum totam
          a, similique, impedit doloremque aliquid officia est? Pariatur quia
          consequuntur labore voluptatibus sit minus animi corporis dolorum
          libero neque repudiandae ea odio soluta nulla dignissimos nesciunt
          natus enim in, molestias, consequatur eos eveniet! Libero aspernatur
          suscipit est alias, placeat explicabo facere maiores magnam velit
          praesentium blanditiis, eligendi tempore dolorem mollitia animi autem
          corporis, quos rerum consequatur nulla officiis consectetur excepturi?
          Dolore nihil aspernatur minima enim eligendi, voluptate ratione! At
          voluptatem, minus pariatur explicabo error cum ducimus est optio
          reiciendis, quasi tempore aperiam placeat qui? Inventore fuga dolores
          eaque error expedita atque quidem temporibus fugiat quo accusamus
          dolorem, voluptatibus cum blanditiis provident, vel adipisci
          necessitatibus illo officia numquam suscipit alias voluptatum at
          fugit? Alias illum debitis sint optio dolorem asperiores quo sunt, ex
          reprehenderit dicta molestias consequatur. Laborum distinctio ducimus
          numquam nemo reprehenderit excepturi repellat veniam labore itaque eos
          earum nulla incidunt porro, qui molestias natus illum quis, atque
          voluptatibus facere ab quasi iusto! Assumenda voluptatibus adipisci
          molestiae quis beatae quibusdam aliquid voluptatem quo id animi,
          consequuntur omnis corporis esse. Iure culpa, expedita corporis
          asperiores accusamus architecto harum unde beatae facilis, ipsum quis
          officia ea iusto, aut magnam eum illo error ab! Facilis deserunt ea
          dolor culpa ut cupiditate ex dolores nulla atque consequuntur qui,
          labore temporibus facere quae inventore consectetur, quia amet, minus
          cum nostrum? Quasi nobis cumque molestiae ut sapiente? Tenetur
          adipisci placeat, perferendis deserunt error nobis quod quidem velit
          dolorum accusamus aut neque incidunt quibusdam deleniti doloribus non
          quae pariatur inventore esse quo? Voluptates facere voluptatibus aut
          fugit officiis esse aliquid enim reprehenderit repudiandae officia
          tempore temporibus reiciendis, at quia minus quod hic laboriosam ut
          tenetur, vero necessitatibus. Eaque dolorum velit nesciunt ex veniam!
          Obcaecati velit veritatis repudiandae, dolorem praesentium eaque error
          quisquam minima, accusantium possimus, qui amet ratione libero vitae
          aliquid. Tenetur in ut deserunt dolore, provident magni ipsum magnam
          quis perspiciatis maxime tempore voluptatum quaerat veritatis iste
          unde ducimus. Ipsum numquam quibusdam eius veritatis repellendus
          beatae similique omnis sit impedit vitae aliquid laborum, rerum, fuga
          esse nisi illum! Enim, necessitatibus. Corrupti, in deserunt. Eligendi
          dolores suscipit similique nam tenetur dignissimos quam reiciendis
          molestias est repellat! Iusto recusandae ea adipisci architecto eum
          incidunt consequatur dolorum dolores veniam odit, voluptas dolorem
          quis perspiciatis eligendi vero possimus ab. Deleniti ex, reiciendis
          praesentium a optio laudantium. Dolorum rerum eveniet repellendus
          officiis ipsa! Sunt unde, tempora voluptas molestias sit molestiae
          eligendi aperiam doloribus placeat facilis sed, dignissimos nostrum
          explicabo. Beatae, cum tenetur! Tempore cupiditate culpa veritatis,
          laborum ex non maxime, eos explicabo impedit deserunt qui aut
          consectetur, dolore necessitatibus nesciunt expedita ut sint
          temporibus molestiae perferendis sunt totam beatae exercitationem!
          Iusto, sit perspiciatis. Labore doloribus quam officiis architecto
          blanditiis iure quae ut, praesentium quidem illo explicabo.
          Necessitatibus, illum natus numquam doloribus cum corrupti iusto
          repellendus illo itaque tempore? Error quisquam deserunt consequuntur
          quos aliquid quas blanditiis officiis totam suscipit delectus vitae
          rem pariatur vero ratione, hic adipisci quaerat modi! Nostrum possimus
          sapiente ut in expedita culpa optio eius adipisci fugiat distinctio
          delectus, commodi molestias rerum, aspernatur quasi? Est dolorem nisi
          vel assumenda modi quam pariatur sequi tempore voluptate inventore
          eius dolores, possimus nam obcaecati perferendis qui similique
          excepturi doloremque voluptas blanditiis perspiciatis voluptatibus
          distinctio id. Harum adipisci soluta quas sapiente nisi veniam nostrum
          perspiciatis doloribus natus expedita error autem voluptatum quos,
          laborum, debitis cumque esse quo quis! Soluta facere nam voluptate
          possimus unde, cumque dolorem voluptas dolore fugiat? Aperiam minima,
          doloribus molestiae delectus vero soluta dolorum, blanditiis quisquam
          numquam exercitationem architecto consequuntur enim vel officia
          voluptatum provident odio quidem quas corrupti veritatis magnam
          accusamus perspiciatis, laudantium reiciendis? Accusamus consectetur
          iste repellat quia, dicta vero quo assumenda nihil incidunt quae? Quas
          incidunt temporibus odit quos eveniet fugiat, laborum aliquam
          voluptatum est similique quod deleniti possimus velit. Ullam,
          suscipit. Nostrum eaque numquam fugiat exercitationem dolore accusamus
          iusto culpa omnis porro, quo tempora nemo ipsam nobis ab labore error!
          Vero assumenda accusantium voluptatem, libero maxime illum officia
          repellendus accusamus eveniet. Eaque dolorum consequatur magni, cumque
          explicabo nemo dolore atque illum quisquam rem sit, vel aspernatur
          accusantium est consequuntur animi eos pariatur illo odio deleniti!
          Repudiandae ipsam laborum illo eum facere accusamus at neque
          praesentium, corporis laudantium suscipit, tempore pariatur enim
          optio. Inventore, aliquam! Cumque saepe odit impedit optio dolores
          voluptatibus alias magni assumenda maiores facere quod quam, illum
          quaerat mollitia adipisci praesentium nisi esse possimus. Sit amet
          porro soluta quam exercitationem, animi voluptatibus laudantium,
          obcaecati cum enim possimus tempora id commodi illum aliquid corrupti
          autem voluptates corporis nemo laborum facilis inventore. Sunt nisi
          illo quae inventore quaerat doloremque velit assumenda cupiditate
          dicta tenetur expedita amet accusantium eveniet impedit eum, sit
          labore dolorem quia sint nulla odio eos veritatis. Ipsa expedita velit
          ea? Ipsam, hic enim modi totam in explicabo velit voluptatibus
          blanditiis rem fugit. Voluptatibus soluta, voluptate accusamus aut
          itaque mollitia cupiditate nisi nesciunt ullam quibusdam porro quas
          deserunt molestiae quod! Aliquam quia accusamus quibusdam dolores,
          aspernatur maxime eligendi ea consequuntur distinctio veniam quod
          facere molestiae quaerat quis harum voluptas voluptatum, atque odit
          ipsa dolore voluptates error. Eveniet inventore tempore quo
          necessitatibus aliquid non perferendis dicta consectetur, labore
          pariatur culpa est tenetur laborum delectus voluptates facilis
          doloribus dolore rem cumque? Reiciendis architecto ipsa quod ratione
          quibusdam veniam laboriosam veritatis! Minima, deserunt. Cupiditate
          earum assumenda minima animi quaerat labore sed quos velit quae aut et
          consequuntur repellendus, iste neque aspernatur cumque unde eum
          deserunt sapiente atque, tenetur id facere sint. Eaque eos possimus,
          magni vitae unde quaerat. Ab totam temporibus quo laboriosam et.
          Sapiente natus porro ad asperiores voluptatum accusantium sit ipsam
          quo in, sunt cupiditate vero earum quidem itaque. Excepturi molestiae
          iste provident aliquid architecto ipsum fugiat, reprehenderit
          accusamus perferendis deleniti voluptatem earum mollitia id nam!
          Consequatur velit quia fuga atque repellendus voluptatum, ab voluptas
          amet nesciunt sapiente repudiandae quaerat unde asperiores at aliquid
          neque modi ducimus nobis iste. Itaque tempora fugiat ad, distinctio
          cumque dolor obcaecati, quo at accusamus deserunt voluptatum! Error
          maxime repellat dolore. Culpa eligendi aperiam veniam quam molestiae
          porro ab praesentium id qui, iste velit inventore totam est obcaecati
          beatae dicta suscipit exercitationem aliquam consequatur veritatis
          expedita dolores asperiores corrupti! Vero corporis ullam autem, minus
          eligendi dignissimos fugiat blanditiis atque cum, quae eveniet
          cupiditate maiores consectetur aliquam itaque tempore in vel sapiente
          nostrum perspiciatis voluptates accusamus tempora. Minima esse, nulla
          modi officiis voluptatibus fugiat, doloremque eum cum aspernatur
          reprehenderit rem molestias corporis quas id totam blanditiis ea!
          Expedita exercitationem minima placeat quo dolore dolores ratione nam,
          saepe eum laboriosam. Vero excepturi, enim ab suscipit distinctio
          blanditiis iure mollitia perspiciatis? Aut nobis consequuntur cum
          nesciunt illum delectus dignissimos libero inventore, maxime
          repellendus commodi atque at tempora sunt laudantium! Velit atque
          expedita vitae? Eaque tempora, quae dolorem placeat illo sit. At
          placeat perspiciatis sit. Inventore suscipit sunt repellendus
          voluptatibus explicabo eum provident ipsum aliquam magnam, enim aut
          officia labore cupiditate, qui voluptates sapiente, quasi ipsam minima
          maxime? Alias omnis eius, unde commodi dolore sed, voluptatum dicta
          cum, consectetur nostrum laboriosam eligendi modi quo delectus
          assumenda! A, fugit facilis. Quos provident beatae soluta reiciendis a
          eum sapiente voluptate. Magnam iusto vel reiciendis enim voluptates
          laborum velit, et delectus quibusdam libero nulla, quos quam aliquid
          ratione ut possimus illum laudantium aspernatur accusantium. Quidem
          veritatis rerum distinctio porro eius quas repudiandae debitis quos,
          voluptas quisquam necessitatibus quasi autem sapiente animi
          voluptatibus et ratione fugit inventore, mollitia optio nisi officiis
          ipsa quia. Autem mollitia tenetur repudiandae magni distinctio, earum
          dolorem minima. Necessitatibus distinctio debitis minus odio, id
          consequatur magnam omnis, explicabo facilis libero, nam quam nesciunt.
          Et facilis non omnis assumenda aliquam ex recusandae suscipit odio
          cupiditate animi aspernatur maxime at, corporis neque error,
          temporibus fugit laborum repellat vel mollitia modi! Nulla id aliquid
          nihil commodi sit illo mollitia consequuntur voluptatem incidunt. Ut
          facere ducimus itaque dignissimos sapiente aperiam similique delectus?
          Quisquam placeat maiores tempora incidunt. Error id culpa asperiores
          ad quae blanditiis hic est, cum, adipisci minus libero officiis
          molestiae! Excepturi, obcaecati officiis hic aliquam eligendi iure
          commodi optio corrupti laboriosam porro ipsam sint atque ipsum magni
          iste earum repellat perferendis pariatur mollitia ut reiciendis quod.
          Eaque rerum cum sint nam aliquid praesentium perferendis beatae
          voluptatum, assumenda ut veritatis officiis, iusto delectus distinctio
          obcaecati vitae rem aperiam modi inventore! Eaque, exercitationem nam
          voluptatibus aliquam, doloribus qui, iusto cumque aspernatur veritatis
          expedita illo? Laboriosam, sed doloribus minus quaerat, alias dolorem
          eveniet porro consequuntur odio consequatur minima dignissimos aliquam
          nobis accusantium incidunt omnis obcaecati iusto. Aperiam ducimus
          autem, obcaecati temporibus quos quisquam deserunt illum cum quae
          mollitia maxime eveniet quas impedit officia iusto culpa excepturi ad,
          recusandae sit possimus dolorem ea. Dolor, dolorem architecto nobis
          quae cum nisi eius! Quam earum voluptatibus distinctio eius odio
          asperiores dolores autem quae explicabo aperiam! Expedita non, dolore
          similique reprehenderit cumque sapiente perferendis, quis natus ad
          tenetur eius consequatur maxime vitae quasi sequi totam repudiandae
          eum nemo in enim doloremque? Rem enim reiciendis distinctio beatae,
          suscipit possimus aliquam, saepe sed libero qui quaerat impedit veniam
          ut earum? Repellat autem qui incidunt, minus doloribus quisquam,
          tempora eos facere iusto voluptate obcaecati adipisci laborum commodi
          velit tenetur laudantium vero doloremque odio. Odit assumenda et rerum
          nobis nisi, quia possimus repellat sequi rem cum iure eum ex aliquid
          corporis earum atque dignissimos dicta. Voluptate neque aperiam
          debitis soluta omnis porro impedit quas et ratione hic? Beatae, sunt
          ipsa voluptatibus asperiores atque, officiis nesciunt quod doloribus
          facilis consequatur eos cumque dolores nihil quia corrupti libero
          nostrum eveniet. Rerum optio natus doloribus pariatur temporibus
          necessitatibus velit ducimus eum inventore qui reprehenderit, quidem
          alias. Corrupti atque cumque reprehenderit provident ut tempora amet
          soluta, doloribus quidem debitis molestiae ullam unde quibusdam, magni
          itaque aperiam deserunt quo excepturi iure animi autem quas,
          consequuntur accusamus laudantium! Provident ea illum impedit?
          Asperiores assumenda reiciendis fugiat adipisci, nam rerum qui
          pariatur officia laboriosam magni recusandae delectus sit dolorum
          voluptate ex eveniet ratione incidunt. Voluptatum hic molestias et,
          saepe illo, mollitia iste similique dicta obcaecati explicabo a nisi
          perferendis eum dolorum, quos facilis nemo fugiat illum id quod? Qui
          nihil quaerat dolorem officiis in, inventore cumque accusamus quis,
          repellat ab quo similique, dolores nostrum. Hic animi officiis, harum
          sit, veniam dignissimos provident ab inventore dolor eligendi
          consequuntur libero, perferendis labore dicta ullam deleniti dolore
          expedita quasi cupiditate? Consequuntur fugit totam earum vel non ex
          aliquid quod a perspiciatis accusamus mollitia, suscipit atque,
          similique sint iste nisi dolor cupiditate dolorum? Eligendi quos autem
          sequi quis inventore, rerum maiores fuga quia quam totam quaerat
          tempore blanditiis quibusdam ratione, debitis veniam iure recusandae
          error nobis explicabo doloribus vel, perferendis ipsum. Consequuntur
          distinctio, rem ipsa quas eligendi voluptas deleniti quia illum eaque
          fuga eius ab vel ut reiciendis quo provident! Nihil laboriosam
          expedita incidunt? Quas qui architecto fugiat. Excepturi quaerat optio
          ipsam ut perspiciatis illum repudiandae consequuntur aliquam qui
          doloribus aliquid laborum quidem possimus nesciunt, maiores nihil
          repellat. Natus perspiciatis qui iusto numquam. Ab unde facere ut illo
          dolorum! Assumenda, pariatur adipisci minima nesciunt, dolorem
          dignissimos ipsam dicta cupiditate suscipit deserunt quos fuga ut, eum
          culpa mollitia tempora temporibus harum maiores quo nemo eveniet!
          Maxime, repellat. Soluta ab tenetur, reprehenderit doloremque suscipit
          repellendus? Ipsa dolorum doloribus possimus deserunt laborum
          accusamus quis culpa magnam sequi iure. Nostrum, molestias corrupti.
          Odit unde in nihil. Dolorum aut aperiam incidunt. Cupiditate,
          distinctio maiores voluptate consectetur ad doloremque aperiam ut sed
          quod, hic minima voluptatibus laudantium rem doloribus culpa, dolor
          corporis numquam rerum amet at. Eum voluptas nihil commodi, deleniti
          totam maiores voluptatibus architecto at odit iure reprehenderit
          praesentium cumque error quibusdam eaque officiis repellendus illo
          incidunt vitae esse blanditiis harum obcaecati. Possimus provident
          culpa iure ea, fugit dolor ducimus error voluptates tenetur quae
          nihil, sint quo porro quod eveniet obcaecati. Molestias eveniet magni,
          impedit animi perferendis, pariatur quia facilis veritatis quod rem
          laborum molestiae fuga a! Reprehenderit placeat minima nesciunt fugit
          perspiciatis quas nemo. Exercitationem magni nihil quaerat eaque
          voluptate nemo quasi inventore culpa error, illum autem natus
          excepturi doloribus alias aperiam libero suscipit et obcaecati amet?
          Dignissimos eos quae adipisci! Accusantium corporis exercitationem
          officiis necessitatibus, dolorum porro sequi consequatur. Dicta vero
          consectetur deleniti, iure asperiores impedit quibusdam architecto
          dolorum quisquam! Commodi obcaecati consequatur tempora repellendus
          nostrum porro accusamus quibusdam odio assumenda optio esse eveniet
          architecto, quam soluta ut dolore nulla quisquam et, doloremque
          deserunt reiciendis. Earum, minus maiores nesciunt quam nam voluptatem
          suscipit laboriosam iusto accusamus totam voluptate, odit iste beatae
          animi, neque ipsum hic numquam. Amet quo blanditiis deleniti assumenda
          unde voluptates quam eius ipsum nesciunt? Necessitatibus, perspiciatis
          quod. Rerum alias exercitationem earum saepe dolorum quos est id
          consectetur voluptate eum quas consequatur, dolorem quasi, quia enim
          aliquid sed at sequi, vero repellat! Sequi maiores atque iusto, iste
          magnam suscipit expedita, vel vitae nulla, dolorem necessitatibus
          possimus eum quidem assumenda. Est maiores consequatur nesciunt
          doloremque dolore impedit sint ipsum quaerat debitis fuga, illo
          necessitatibus? Nihil distinctio nam assumenda obcaecati, reiciendis
          velit ut! Veniam quae enim neque sunt consectetur, cupiditate ullam
          quam tempora vel saepe illo minima facilis a ipsum quod tempore rem
          amet voluptatum suscipit numquam rerum aspernatur assumenda
          necessitatibus! Assumenda quae quis accusamus! Explicabo perferendis,
          ullam inventore repellat harum pariatur! Repudiandae harum ut quasi
          nemo explicabo consectetur mollitia eveniet illo quas culpa cumque
          quia cupiditate doloribus alias in aperiam optio atque, rem totam
          quisquam esse sint sit nulla non. In dignissimos qui consequuntur quis
          aut, earum, exercitationem ab asperiores fugiat consequatur cumque
          repudiandae tempore eligendi accusamus eos laborum quisquam id quia
          perferendis cum dolorum quibusdam accusantium. Consequuntur esse
          perspiciatis facere vel ullam saepe, quis, voluptatum quos obcaecati
          aspernatur vitae quo quasi at maxime tempora animi sint ea asperiores
          illo beatae adipisci quae ducimus deserunt! Voluptatem, et modi
          possimus, itaque nobis nesciunt recusandae, voluptates assumenda sed
          doloribus sapiente ea deleniti quae laboriosam voluptatum repellat
          totam dicta molestiae necessitatibus quam culpa a commodi. Possimus
          quam veniam magni itaque eos a nesciunt quibusdam nobis iusto. Libero
          atque facere earum architecto reprehenderit, corrupti aperiam
          veritatis aut sunt fuga quae quia fugiat nostrum, repellendus ratione?
          Tempora at ut, nihil reiciendis, magnam sapiente repellendus corporis
          ratione debitis eaque, ducimus accusantium modi tempore aliquam
          dolorem inventore exercitationem vitae? Possimus dicta aliquam
          adipisci vel voluptatum similique suscipit consequuntur asperiores,
          autem esse nam distinctio quo ea cupiditate, omnis voluptatibus porro
          in eligendi qui expedita? Minima quasi obcaecati totam eligendi vitae
          numquam, ut earum quos tempora asperiores maiores accusantium dolores
          perspiciatis delectus atque! Ducimus enim nostrum molestiae! Quas
          nulla aperiam hic, iusto quos, saepe necessitatibus possimus labore ex
          numquam consequuntur explicabo voluptates cupiditate id aut quaerat
          odio ratione voluptatibus, natus ut! Porro sapiente, consectetur eius
          quam debitis nemo quo quae, laboriosam ipsa, repellendus velit sunt
          ullam eveniet reprehenderit ea? Quae asperiores vero distinctio
          tenetur magni autem fugit quia adipisci accusamus iure. Cupiditate
          laborum pariatur eos unde eveniet consequuntur sequi dolore voluptatum
          ut fugit, impedit, aliquid, ratione dolores modi dicta totam! Eligendi
          similique minima, cumque harum laborum beatae numquam at incidunt
          pariatur quas repudiandae amet, quae veniam corporis itaque id.
          Minima, vel nam. Eum dolores quibusdam, sit deleniti aliquid et
          blanditiis repudiandae nostrum illo eveniet aut recusandae neque qui
          iure aperiam tempore odio assumenda porro! Id libero ab numquam fugiat
          deserunt facere eos? Incidunt dolorem magnam omnis maiores. Fugiat
          laboriosam accusamus veniam voluptatibus commodi tempora, perferendis
          alias, consequatur quasi ipsam aliquid perspiciatis? Inventore itaque
          cumque ipsa, repudiandae beatae quos rerum, eum quia maiores deserunt
          sint praesentium in dolorum officia explicabo consequatur maxime?
          Atque asperiores facilis voluptatum voluptas doloribus id, sit eius et
          obcaecati animi facere, blanditiis incidunt magni, suscipit aperiam
          iure sequi quisquam vero in possimus. Modi laborum vel, explicabo quis
          eligendi consequuntur nam qui odit nemo? Exercitationem numquam
          delectus nulla nam sint inventore qui nisi reiciendis nobis illo sequi
          ea consectetur nesciunt voluptatibus, quaerat quia facilis mollitia
          nemo harum quo rerum distinctio! Iusto laudantium dolorum accusantium
          ullam tempora cumque recusandae, inventore ad, commodi libero earum
          hic. Adipisci, maiores quod voluptas consequuntur iusto delectus,
          quaerat, tempora dicta praesentium suscipit sint expedita placeat
          harum perspiciatis quae eius minus. Assumenda vero similique maiores.
          Iusto eos provident voluptatum quisquam error, qui adipisci, placeat
          sunt dolor minus ullam? Nihil molestias dolorem exercitationem atque,
          iure doloribus voluptate unde labore reprehenderit excepturi nam sed
          deleniti ipsa tempora quisquam. Repudiandae, eligendi. Ex eligendi
          iure a quod ipsum neque hic veniam ab omnis dolores quae totam porro
          libero earum sit sint, eum vitae nobis beatae modi nam. Dolores quidem
          nihil corporis exercitationem at magnam nisi quos rerum, quasi
          quibusdam blanditiis veritatis nulla soluta quas eos optio! Possimus
          hic unde qui aut deleniti sunt, in repellendus quidem explicabo nobis
          deserunt eveniet debitis nihil, officia tempore. Magnam quibusdam
          beatae nihil saepe maiores modi ut hic! Voluptas amet, odio rerum
          ullam quis ea harum voluptatibus maiores asperiores dolore voluptate
          vitae, provident quibusdam nemo sapiente rem nostrum veritatis hic
          facere nam iusto ducimus ad numquam. Omnis, at quam. Consequuntur,
          necessitatibus. Perspiciatis possimus nisi excepturi ad repellendus
          placeat debitis reprehenderit asperiores, fuga corporis quo delectus
          in, iusto assumenda! Nisi corporis quae, ab incidunt voluptatibus
          dignissimos totam, accusantium molestias laudantium est sint non
          laboriosam quas iusto nostrum quidem fugiat consectetur, autem tempore
          maxime. Exercitationem tenetur rerum consequatur vitae, architecto sit
          mollitia sint molestias et sed necessitatibus excepturi laudantium
          fugit voluptatum consectetur, consequuntur officia temporibus corrupti
          perferendis est, quia tempora. Dolore fugiat earum repellat quasi
          pariatur quidem error vitae architecto voluptas. Vel repudiandae, aut
          velit cupiditate magni architecto dolorum culpa sint voluptates quam
          excepturi natus quia, dolore adipisci fugit rem tenetur fuga cumque
          quasi. Obcaecati voluptatum ipsam quidem nemo perspiciatis accusamus
          laboriosam commodi enim. Quisquam ipsam explicabo nostrum laborum
          nemo, aut aliquam natus distinctio adipisci. Quia alias aspernatur
          suscipit, a totam eum sint nobis molestiae? Laborum nostrum
          consequatur nobis alias autem blanditiis quidem eos assumenda, officia
          nemo quaerat deleniti, labore omnis ratione? Atque quos nemo tempore
          maxime veniam. Maiores laboriosam omnis doloremque, possimus debitis
          numquam corporis nisi tenetur saepe, quidem qui. Repellendus minus
          adipisci iusto eligendi nesciunt accusamus fuga delectus at nihil ab
          dignissimos eos consequatur corrupti qui omnis enim eaque reiciendis,
          cum, labore explicabo! Nemo cupiditate earum praesentium tempora
          consequuntur laborum sed magni facere, accusantium doloribus
          repudiandae dolor quisquam quas eaque nisi sapiente aspernatur dicta
          recusandae nihil saepe nam! Eaque, voluptatum. Temporibus, accusantium
          itaque. At ad velit odit quod quibusdam illo consequuntur perspiciatis
          atque, necessitatibus beatae accusamus, aspernatur, repellendus
          quaerat doloribus qui dicta vitae minima fuga distinctio id possimus.
          Fuga nostrum sit incidunt, quae excepturi possimus, quam facilis
          commodi sed cumque molestiae dolor ab cum natus qui corrupti velit
          asperiores eaque, quaerat aperiam totam! Recusandae, ipsa beatae?
          Tempore enim, assumenda, perferendis cum ipsa corrupti ducimus
          consectetur ratione pariatur illum minus. Deleniti quo nesciunt
          nostrum. Dolorem.
        </div>
        <div class="footer">
          <div class="footer-text">
            © 2019 TBC Banking - All Rights Reserved.
          </div>
        </div>
      </div>
    </main>

    <script src="index.js"></script>
  </body>
</html>
