@import "../../../../colors&typo/typography";
@import "../../../../colors&typo/palette";
@import "../utils/utils.scss";

.dropdown-select {
  $background: white;
  $text-color: black;
  $height: 52px;
  $width: 360px;

  @mixin option-mixin {
    cursor: pointer;
    height: $height;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    user-select: none;
  }

  position: relative;
  width: $width;
  height: $height;
  border: 1px #e8ecef solid;
  color: $text-color;

  select {
    display: none;
  }

  .selected {
    background-color: $background;
    @include option-mixin();

    // arrow
    &:after {
      content: "";
      position: absolute;
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: $text-color transparent transparent transparent;
    }

    &.arrow-active:after{
      border-color: transparent transparent $text-color transparent;
      top: 7px;
    }
  }

  .placeholder {
    background-color: red;
  }

  .option {
    position: absolute;
    background-color: $background;
    top: 100%;
    left: 0;
    right: 0;

    div {
      @include option-mixin();

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}