.dashboard-wrapper {
  margin: 28px 28px 28px 28px;
  display: grid;
  grid-gap: 28px;
  .row {
    display: grid;
    grid-gap: 28px;
    &.row-1 {
      order: 2;
      grid-template-columns: 1fr 1fr;
      .row-1-right {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &.row-2 {
      grid-template-columns: 1fr 1fr;
      order: 3;
    }
    &.row-3 {
      display: grid;
      order: 1;
      grid-template-columns: 1fr;
    }
  }
}
.widget {
  background-color: white;
}

app-features-shared-account-balances,
app-shared-accounts-spendings,
app-features-shared-income-chart,
app-features-shared-expanses
{
  width: 100%
}

app-features-shared-expanses{
  height: 100%;
}

@media all and (max-width: 1100px) {
  .dashboard-wrapper {
    .row {
      &.row-2 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
      }
    }
  }
}
@media all and (max-width: 1000px) {
  .dashboard-wrapper {
    .row {
      &.row-1 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
      }
    }
  }
}
