@import '../../../../../styles/index.scss';
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin Flex($justify: 'unset', $align: 'unset') {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
:host {
  @include size(360px, 406px);
  display: block;
}
.monthly-chart {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  font-family: $roboto;
  background-color: #fff;
  border-radius: 5px;
  @include size(100%, 100%);
}
.title {
  padding: 0px 10px;
  @include Flex(space-between, center);
  @include size(100%, 100%);
  .title-info {
    padding: 15px 0px;
    @include size(100%, 100%);
    @include Flex(space-between, flex-start);
    .info-title1 {
      border-bottom: #000000 2px solid;
      cursor: pointer;
      @include size(auto, 100%);
      h3 {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .dots {
      width: auto;
      cursor: pointer;
      @include Flex(space-between, center);
      .dot {
        border-radius: 50%;
        margin: 2px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        @include size(3px, 3px);
      }
    }
  }
}
.chart-legend {
  padding: 8px 10px;
  @include Flex(space-between, flex-start);
  @include size(100%, 100%);
  .right-legend {
    width: 100px;
    padding: 10px 0px;
    background-color: $background-2;
    border-radius: 18px;
    @include Flex(center, center);
    p {
      font-size: 14px;
      font-family: $rubik;
      color: $primary-dark;
    }
    .legend-circle {
      border-radius: 50%;
      margin-right: 10px;
      @include size(10px, 10px);
    }
  }
  .left-legend {
    h2 {
      font-size: 26px;
    }
    p {
      font-size: 14px;
    }
  }
}
.chart-container {
  position: relative;
  overflow: auto;
  @include Flex(center, center);
  @include size(100%, 100%);
}
#myChart {
  @include size(100px, 100px);
}
