@mixin dropdown-option-mixin($height) {
  cursor: pointer;
  height: $height;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4px 15px 0px;
}

.dropdown-display-none {
  display: none;
}

.dropdown-disable-select {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}