<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="./index.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
        />
        <title>Document</title>
    </head>
    <body>
        <header>
            <h1>Forms</h1>
        </header>
        <main>
            <h5>Text area</h5>
            <div class="textAreasContainer">
                <!-- Disabled textArea -->
                <div class="textAreaContainer">
                    <textarea disabled placeholder="Your message"></textarea>
                    <i class="las la-meh"></i>
                </div>
                <!-- active one -->
                <div class="textAreaContainer">
                    <textarea placeholder="Your message"></textarea>
                    <i class="las la-meh"></i>
                </div>
                <div class="textAreaContainer">
                    <textarea placeholder="Your message">Text caption</textarea>
                    <i class="las la-meh"></i>
                </div>
            </div>
        </main>
    </body>
</html>
