@import '../styles/index';
:host {
  display: block;
  width: 360px;
  height: 90px;
}
.textAreaContainer {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .icon-container {
    top: -1px;
    display: inline-block;
    position: relative;
    height: 30px;
    min-height: 30px;
    border: 1px solid $outline;
    border-top: none;
    i {
      position: absolute;
      left: 21px;
      bottom: 13px;
      color: $secondary-dark-2;
    }
  }

  textarea {
    height: 100%;
    padding: 16px 18px;
    outline: none;
    @include text-style(14px, $dark-secondary-3);
    &::placeholder {
      @include text-style(14px, $secondary-dark-2);
    }
    border: 1px solid $outline;
    border-bottom: none;
    resize: none;
  }

  textarea:disabled {
    background: $background-2;
    border: 1px solid transparent;

    & + .icon-container {
      background: $background-2;
      border: none;
    }
  }

  ::-webkit-resizer {
    display: none;
  }
}
