<head>
  <link rel=“stylesheet”
  href=“https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css”>
  <link
    rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
  />
</head>

<div class="generalSettings">
  <div class="settingsInfo">
    <p class="generalInfo">General information</p>
    <div class="userProfile">
      <div class="profilePic">
        <img src="https://img.icons8.com/dotty/60/000000/user-male.png" />
      </div>
      <p>{{ user.fullname }}</p>
    </div>
    <div class="userInfo">
      <form [formGroup]="form">
        <div class="input-wrapper">
          <label for="first">First name</label>
          <div>
            <app-shared-input
              id="first"
              formControlName="firstName"
              type="text"
              placeholder="Enter your first name"
            ></app-shared-input>
            <div
              class="validation"
              *ngIf="
                form.get('firstName').invalid && form.get('firstName').touched
              "
            >
              <small *ngIf="form.get('firstName').errors.required"
                >This field is neccessary!</small
              >
              <small *ngIf="form.get('firstName').hasError('pattern')"
                >Your first name should contain only letters!</small
              >
            </div>
          </div>
        </div>
        <div class="lastName">
          <label for="last">Last name</label>
          <div>
            <app-shared-input
              id="last"
              type="text"
              formControlName="lastName"
              placeholder="Enter your last name"
            ></app-shared-input>
            <div
              class="validation"
              *ngIf="
                form.get('lastName').invalid && form.get('lastName').touched
              "
            >
              <small *ngIf="form.get('lastName').errors.required"
                >This field is neccessary!</small
              >
              <small *ngIf="form.get('lastName').hasError('pattern')"
                >Your last name should contain only letters!</small
              >
            </div>
          </div>
        </div>
        <div class="input-wrapper">
          <label for="email">Email</label>
          <div>
            <app-shared-input
              type="text"
              id="email"
              formControlName="email"
              placeholder="Enter your email"
            ></app-shared-input>

            <div
              class="validation"
              *ngIf="form.get('email').invalid && form.get('email').touched"
            >
              <small *ngIf="form.get('email').errors.required"
                >This field is neccessary!</small
              >
              <small *ngIf="form.get('email').errors.email"
                >Incorrect email!</small
              >
            </div>
          </div>
        </div>
        <div class="input-wrapper">
          <label for="phone"> Phone</label>
          <div>
            <app-shared-input
              id="phone"
              formControlName="phone"
              placeholder="Enter your phone(5xx-xxx-xxx)"
              type="text"
            ></app-shared-input>
            <div
              class="validation"
              *ngIf="form.get('phone').invalid && form.get('phone').touched"
            >
              <small *ngIf="form.get('phone').hasError('pattern')"
                >Incorrect phone number!</small
              >
            </div>
          </div>
        </div>
        <div class="dropdownContainer">
          <label for="langDropdown">Language</label>
          <div class="dropdown-general">
            <app-shared-dropdown
              id="langDropdown"
              formControlName="language"
              [options]="['English', 'Georgian', 'Russian']"
              style="margin-top: 10px; width: 100%"
            >
            </app-shared-dropdown>
          </div>
        </div>
        <div class="dropdownContainer">
          <label for="sexDropdown">Sex</label>
          <div class="dropdown-general">
            <app-shared-dropdown
              id="sexDropdown"
              formControlName="sex"
              [options]="['Male', 'Female', 'Other']"
              style="margin-top: 10px; width: 100%"
            >
            </app-shared-dropdown>
          </div>
        </div>
        <div class="buttons">
          <app-shared-button
            [className]="{ primary: true, active: true }"
            style="width: 206px; height: 46px"
            type="submit"
            (click)="submit()"
            >UPDATE SETTINGS</app-shared-button
          >

          <app-shared-button
            [className]="{ primary: true, resting: true }"
            style="height: 46px; width: 103px"
            type="button"
            (click)="reset()"
          >
            CANCEL</app-shared-button
          >
        </div>
        <div class="cancel">
          <app-shared-button
            [className]="{ pink: true }"
            style="height: 46px; width: 200px"
            type="button"
            (click)="showContent = true"
          >
            <i class="lar la-trash-alt icon"></i> Delete
            Account</app-shared-button
          >
        </div>
      </form>
    </div>
  </div>
</div>
<app-deactivate
  *ngIf="showContent"
  (closeAccount)="showContent = false"
  (confirm)="deleteUser(this.user.id)"
></app-deactivate>
