@import 'src/styles/index';
.generalSettings {
  max-width: 877px;
  padding-top: 18px;

  .settingsInfo {
    width: 100%;
    padding-left: 24px;
    .userInfo {
      padding-top: 30px;

      form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 22px;
        input {
          padding: 19px 14px 15px 14px;
          display: block;
          width: 100%;
          @include text-style(14px);
          letter-spacing: 0.15px;
          border-radius: 4px;
          border: 1px solid $outline;
          margin-top: 10px;
          &::-webkit-input-placeholder,
          &::-ms-input-placeholder,
          &::placeholder {
            color: $secondary-dark-2;
          }

          &:focus,
          &:active {
            outline: none;
          }

          &:disabled {
            background-color: $background-2;
            color: $secondary-dark-2;
          }

          &.ng-touched.validated {
            &.ng-valid {
              border-color: $secondary-2;
            }

            &.ng-invalid {
              border-color: $secondary-3;
            }

            &.ng-valid,
            &.ng-invalid {
              padding-right: 35px;
            }
          }
        }
        .dropdownContainer {
          .dropdown-general {
            color: $primary-dark;
            width: 336px;
            .selected {
              margin-top: 10px;
            }
          }
        }
        .validation {
          padding-top: 5px;
          small {
            font-size: 10px;
            color: red;
          }
        }

        .lastName {
          grid-column: 2/2;
        }

        .buttons {
          display: flex;
          padding-top: 60px;
          margin-left: 0;
          app-shared-button {
            margin-right: 15px;
          }
        }
      }
    }

    .generalInfo {
      margin-bottom: 25px;
      font-size: 16px;
      color: $primary-dark;
      font-weight: 400;
    }
    .userProfile {
      width: 696px;
      border: 1px solid $outline;
      display: flex;
      align-items: center;
      border-radius: 7px;
      padding: 27px 0px 27px 26px;

      .profilePic {
        width: 67px;
        height: 67px;
        background-color: $outline;
        border-radius: 50%;
        padding: 3px 5px;
      }

      p {
        font-size: 18px;
        font-weight: 400;
        color: $primary-dark;
        margin-left: 19px;
        margin-top: -5px;
      }
    }
  }
}
