@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn-schema, .light-blue, .blue, .pink, .green, .outline .hover2, .outline .resting, .outline .hover, .outline .active, .primary .hover2, .primary .resting, .primary .hover, .primary .active {
  width: 206px;
  height: 46px;
  border-style: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 49px;
  position: relative;
  outline: none;
  cursor: pointer;
}

.primary .active {
  color: white;
  background-color: #FFAB2B;
}
.primary .active:hover {
  color: white;
  background-color: #F4A42B;
}
.primary .hover {
  background-color: #F4A42B;
  color: white;
}
.primary .resting {
  background-color: #F2F4F6;
  color: #778CA2;
}
.primary .resting:hover {
  background-color: #F2F4F6;
  color: #FFAB2B;
}
.primary .hover2 {
  background-color: #F2F4F6;
  color: #FFAB2B;
}

.outline .active {
  background-color: white;
  border: 2px solid #FFAB2B;
  color: #252631;
  line-height: 35px;
}
.outline .active:hover {
  color: #FFAB2B;
  border-color: #FFAB2B;
}
.outline .hover {
  background-color: white;
  border: 2px solid #FFAB2B;
  color: #FFAB2B;
  line-height: 35px;
}
.outline .resting {
  background-color: white;
  border: 2px solid #E8ECEF;
  color: #778CA2;
  line-height: 35px;
}
.outline .resting:hover {
  border: 2px solid #E8ECEF;
  color: #FFAB2B;
}
.outline .hover2 {
  background-color: white;
  border: 2px solid #E8ECEF;
  color: #FFAB2B;
  line-height: 35px;
}

.icon {
  position: absolute;
  top: 13px;
  left: 23px;
  font-size: 18px;
}

.green {
  color: white;
  background-color: #6DD230;
}
.green:hover {
  background-color: #69C930;
}

.pink {
  color: white;
  background-color: #FE4D97;
}
.pink:hover {
  background-color: #F34B91;
}

.blue {
  color: white;
  background-color: #4D7CFE;
}
.blue:hover {
  background-color: #4B78F3;
}

.light-blue {
  color: white;
  background-color: #2CE5F6;
}
.light-blue:hover {
  background-color: #2CDBEC;
}

.color-options .hover.green {
  background-color: #69C930;
}
.color-options .hover.blue {
  background-color: #4B78F3;
}
.color-options .hover.pink {
  background-color: #F34B91;
}
.color-options .hover.light-blue {
  background-color: #2CDBEC;
}

body {
  width: 1440px;
}

header {
  border-bottom: 2px solid #F2F4F6;
}
header h1 {
  margin: 64px auto 65px 150px;
}

.content {
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.content .main {
  width: 1141px;
  margin: 0px auto;
}
.content .main .buttons {
  width: 100%;
  height: 133px;
  border-top: 2px solid #F2F4F6;
  margin-top: 91px;
}
.content .main .buttons h5 {
  margin-top: 31px;
  margin-bottom: 33px;
}
.content .main .buttons .btn {
  margin-right: 27.5px;
}
.content .main .buttons .bottom {
  margin-top: 24px;
  height: 200px;
}

.security-settings-wrapper {
  margin-left: 24px;
  margin-bottom: 24px;
  margin-top: 18px;
  line-height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}
.security-settings-wrapper #btn {
  margin-top: 183px;
}
.security-settings-wrapper #btn button:nth-of-type(1) {
  width: 206px;
  height: 46px;
}
.security-settings-wrapper #btn button:nth-of-type(2) {
  margin-left: 12px;
  width: 148px;
  height: 46px;
}
.security-settings-wrapper .svg1 {
  position: absolute;
  top: 56px;
  right: 43px;
}
.security-settings-wrapper .svg2 {
  position: absolute;
  top: 56px;
  right: 43px;
}
.security-settings-wrapper .dropdown-general {
  width: 336px;
  margin-right: 26px;
}
.security-settings-wrapper h4 {
  font-size: 18px;
}
.security-settings-wrapper .headers {
  text-align: left;
  color: #98a9bc;
  border-bottom: solid 1px #e8ecef;
  width: 695px;
}
.security-settings-wrapper .settings-form-aligment {
  display: flex;
}
.security-settings-wrapper .settings-form-aligment div {
  position: relative;
}
.security-settings-wrapper .settings-form-aligment label {
  display: block;
}
.security-settings-wrapper input {
  width: 336px;
  height: 52px;
  border-color: #e8ecef;
  border-radius: 6px;
  margin-right: 26px;
  border-style: solid;
  padding-left: 7px;
}
.security-settings-wrapper input::placeholder {
  color: #98a9bc;
  text-transform: capitalize;
}
.security-settings-wrapper select {
  width: 336px;
  height: 52px;
  border-radius: 6px;
  border-color: #e8ecef;
  margin-right: 26px;
  border-style: solid;
  margin-right: 26px;
}

/*# sourceMappingURL=index.css.map */
