.color-options {
    .hover {
        &.green {
            background-color: $secondary-2-hover;
        }
    
        &.blue {
            background-color: $secondary-1-hover;
        }
    
        &.pink {
            background-color: $secondary-3-hover;
        }
    
        &.light-blue {
            background-color: $secondary-4-hover;
        }
    }
}
