@import "../../../../../colors&typo/styles.scss";
@import "../../utils/_utils.scss";

@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");

.dropdown-general {
  $background-color: white;
  $active-color: $primary;
  $shadow-color: rgba(0, 0, 0, 0.02);

  $border-size: 1px;
  $border-radius: 4px;
  $border-style: solid;

  $width: 360px;

  $selected-height: 52px;
  $selected-color: $dark-secondary-3;

  $option-height: 46px;
  $option-color: $dark-secondary-3;

  $options-gap: 6px;

  $placeholder-color: $secondary-dark-2;

  @extend p;
  @extend .dropdown-disable-select;
  position: relative;
  width: $width;
  height: $selected-height;

  select {
    @extend .dropdown-display-none;
  }

  .selected {
    @include dropdown-option($selected-height);
    @include dropdown-multiple-line-ellipsis(2);
    color: $selected-color;
    background-color: $background-color;
    border-radius: $border-radius;
    border: $border-size $outline $border-style;

    &:after {
      @include dropdown-center(true, false);
      @include dropdown-symbol("\f107", 18px, 900);
      position: absolute;
      right: 10px;
    }

    &.arrow-active:after {
      color: $active-color;
    }
  }

  .placeholder {
    align-items: center;
    color: $placeholder-color;
    background-color: $background-color;
  }

  .options {
    width: 100%;
    position: absolute;
    box-shadow: 0 0 6px 6px $shadow-color;
    border-radius: $border-radius;
    background-color: $background-color;
    top: calc(#{$selected-height} + #{$options-gap});
    z-index: 1;

    .option {
      @include dropdown-option($option-height);
      color: $option-color;
      padding: 3px 17px;

      &:hover {
        color: $active-color;
      }

      &:nth-child(1) {
        height: 58px;
        padding: 12px 17px 0 17px;
      }

      &:nth-last-child(1) {
        height: 55px;
        padding: 0 17px 10px 17px;
      }
    }
  }
}
