$primary: #00adee;
$primary-light: rgba(0, 173, 238, 0.1);
$primary-lighter: rgba(0, 175, 238, 0.05);
$primary-dark: #252631;
$secondary-dark-1: #778ca2;
$secondary-dark-2: #98a9bc;
$dark-secondary-3: #1b1e24;
$secondary-1: #4d7cfe;
$secondary-2: #6dd230;
$secondary-3: #fe4d97;
$secondary-4: #2ce5f6;
$outline: #e8ecef;
$background-1: #f2f4f6;
$background-2: #f8fafb;
$orange: #ffa500;
