@import './index.scss';

:host {
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .name {
    @include text-style(16px, $secondary-dark-1);
  }

  .new {
    @include text-style(12px);
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;

    position: relative;
    bottom: 2px;

    i {
      position: relative;
      font-size: 18px;
      color: $primary;
      margin-right: 6px;
      top: 2px;
    }
  }
}

.items {
  padding: 1px 24px;
  background-color: white;
  border-radius: 4px;

  & > *:not(:last-child) {
    border-bottom: 1px solid $outline;
  }
}
