@import 'index.scss';
.flex-container-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.underline {
  width: 100%;
  height: 1px;
  background-color: $background-1;
}
.widget {
  width: 100%;
  height: 341px;
  background-color: white;
}
header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  p {
    font-size: 16px;

    color: $primary-dark;
  }
  .iconscontainer {
    position: relative;
    cursor: pointer;
  }
}
.download {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  padding-top: 30px;
  p {
    color: #252631;
    font-size: 14px;
    font-weight: 500;
  }
  i {
    position: relative;
    color: #ffab2b;
  }
}

.circle {
  top: 4px;
  left: 4px;
  position: relative;
  border-radius: 50%;
  width: 138px;
  height: 138px;
  background-color: #fffbf4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ffd08a;
  p {
    font-size: 32px;
    color: $primary;
    line-height: 20px;
    padding-top: 10px;
  }
  .profit {
    padding-top: 10px;
    font-size: 14px;
  }
}

.progress {
  width: 145px;
  height: 145px;

  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}
.outer-border {
  border-radius: 50%;
  border: 1px solid #ffd08a;
  margin-top: 25px;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  font-size: 24px;
  color: #fff;

  text-align: center;
  position: absolute;
}

.progress.blue .progress-bar {
  border-color: $primary;
}

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

.progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}
.card-paragraph {
  font-size: 16px;
  color: #252631;
  padding-top: 10px;
}
