@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(c:\Users\Administrator\Desktop\mobile-bank\angular-bootcamp-2020-internet-bank\node_modules\@fortawesome\fontawesome-free\css\all.css);
@import url(c:\Users\Administrator\Desktop\mobile-bank\angular-bootcamp-2020-internet-bank\node_modules\line-awesome2\dist\css\line-awesome.min.css);
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.details-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.details-container .details-popup {
  width: 360px;
  height: 436px;
  margin-bottom: 57px;
  border-radius: 4px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 148px auto;
      grid-template-rows: 148px auto;
  min-width: 360px;
}

.details-container .details-popup .details-popup-upper {
  background-color: rgba(221, 32, 49, 0.7);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}

.details-container .details-popup .details-popup-upper i {
  color: white;
  position: absolute;
  right: 12px;
  top: 13px;
  font-size: 18px;
}

.details-container .details-popup .details-popup-lower {
  background-color: #FFFFFF;
  position: relative;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  -ms-grid-rows: 23px 26px 92px 64px 42px;
      grid-template-rows: 23px 26px 92px 64px 42px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-logo {
  height: 62px;
  width: 62px;
  border: 4px solid #FFFFFF;
  background-image: url("media/images/Ico.png");
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: -1px;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-heading h3 {
  line-height: 26px;
  text-align: center;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-tag button {
  width: 74px;
  height: 34px;
  border: 0px;
  background-color: rgba(109, 210, 48, 0.08);
  color: #6DD230;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-transaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 2px solid #E8ECEF;
  border-bottom: 2px solid #E8ECEF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-transaction-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-transaction-account h5 {
  line-height: 21px;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-transaction-account p {
  padding-bottom: 6px;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-transaction-amount {
  text-align: right;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-transaction-amount #details-popup-lower-transaction-amount {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #252631;
  letter-spacing: 0.2px;
  margin-bottom: -3px;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-receipt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-receipt i {
  font-size: 18px;
  padding-right: 5px;
  padding-bottom: 3px;
  color: #778CA2;
}

.details-container .details-popup .details-popup-lower .details-popup-lower-receipt p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #778CA2;
  letter-spacing: 0.2px;
  display: inline-block;
  line-height: 16px;
  padding-bottom: 3px;
  letter-spacing: 0.1px;
}
/*# sourceMappingURL=style.css.map */