<div class="create-new-invoice">
  <div class="new-invoice-header">
    <p class="disable-select">New Invoice</p>
    <i class="las la-ellipsis-h"></i>
  </div>
  <hr />
  <div>
    <img src="../../../../assets/invoice/def_invoice.png" />
  </div>
  <div class="information-body">
    <p class="disable-select">
      Perfect for small businesses, contractors, and freelancers. Try now to create new invoices by clicking the "Creat eInvoice" button below.
    </p>
  </div>
  <div class="create-invoice-footer">
    <i class="las la-file-alt"></i>
    <a class="disable-select" [routerLink]="'new-invoice'">CREATE INVOICE</a>
  </div>
</div>
