@import '../../../../styles/index';

a {
  text-decoration: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 242px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu--active {
  min-width: 83px;
  max-width: 83px;

  .main-nav-title {
    padding-left: 15px;
    opacity: 0;
    visibility: hidden;
  }

  .main-nav-icon {
    padding-left: 24px;
  }

  .intro-heading-title {
    padding-left: 20px;
  }

  .intro-heading-subtitle {
    visibility: hidden;
    opacity: 0;
  }

  .accounts-item {
    .span-hidden {
      font-size: 14px;
      visibility: visible;
      opacity: 1;
    }

    &:hover .accounts-icon {
      padding-left: 7px;
    }
  }

  .span-visible {
    visibility: hidden;
    font-size: 0;
    opacity: 0;
  }

  .accounts-icon {
    padding: 0;
  }

  .accounts-icon i {
    font-size: 22px;
    opacity: 0;
  }

  .accounts-main-title {
    visibility: hidden;
    opacity: 0;
  }
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;

  &-heading {
    width: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: $rubik;
    color: $primary;
    letter-spacing: 0.2px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &-title {
      padding-left: 70px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &-subtitle {
      visibility: visible;
      opacity: 1;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.49px;
      padding-left: 3px;
    }
  }
}

.main-nav {
  padding-top: 19px;

  &-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 23px;
    padding-bottom: 23px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border-left: 2px solid transparent;

    &:hover {
      background-color: $background-2;
      border-left: 2px solid $primary;

      .main-nav-icon {
        padding-left: 33px;

        i {
          color: $primary;
        }
      }
    }
  }

  &-icon {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding-left: 28px;

    i {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      color: $secondary-dark-1;
      font-size: 22px;
    }
  }

  &-title {
    opacity: 1;
    padding-left: 30px;
    visibility: visible;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    color: $primary-dark;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
}

.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 242px;
}

.accounts {
  &-main-title {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: $secondary-dark-2;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    padding: 19px 0 3px 28px;
  }

  &-item {
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border-left: 2px solid $secondary-1;

    &:nth-child(3) {
      border-left: 2px solid $primary;
    }

    &:nth-child(4) {
      border-left: 2px solid $secondary-3;
    }

    &:hover {
      .accounts-icon {
        padding-left: 35px;
      }
    }

    &:hover {
      background-color: $background-2;
    }
  }

  &-icon {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding-left: 28px;
    padding-right: 28px;

    i {
      font-size: 22px;
      opacity: 1;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      color: $secondary-dark-1;
    }
  }

  &-title {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    color: $primary-dark;
    font-family: $roboto;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;

    .span-visible {
      visibility: visible;
      opacity: 1;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }

    .span-hidden {
      visibility: hidden;
      font-size: 0;
      opacity: 0;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;

  &-dashboard {
    padding-left: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid $outline;
    width: 100%;
    max-height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-wrapper {
      display: flex;
      align-items: center;
    }

    &-title {
      padding-left: 20px;
    }
  }

  .content-main {
    min-height: calc(100vh - 124px);
    border-top: 1px solid $outline;
    border-left: 1px solid $outline;
    background-color: $background-2;
    padding: 28px 28px 30px 28px;
  }

  .footer {
    border-left: 1px solid $outline;

    &-text {
      padding: 25px 0 20px 28px;
      color: #98a9bc;
      font-family: $roboto;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 22px;
    height: 23px;
    cursor: pointer;

    &-line {
      width: 20px;
      height: 2px;
      background-color: #778ca2;
    }
  }
}

.profile-bef {
  margin-right: 34px;
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  color: $primary-dark;
  display: flex;
  align-items: center;
  width: 155.75px;
  height: 40px;

  .image {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid $primary;
    margin-right: 11.3px;

    img {
      width: 32px;
    }
  }

  .name {
    letter-spacing: 0.2px;
    font-family: $roboto;
    width: 69%;
  }
}

.profile-hover {
  color: $primary-dark;
  background-color: white;
  font-weight: 500;
  width: 286px;
  height: 237px;
  margin-bottom: 1px;
  display: none;
  position: absolute;
  clear: both;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.000005),
    0 6px 20px 0 rgba(0, 0, 0, 0.05);
  right: 0%;
  top: 70px;
  float: right;
  border-radius: 5px;
  margin-right: 20px;

  .about {
    background-color: $background-2;
    height: 79.75px;
    font-family: $rubik;
    align-items: center;
    font-size: 14px;
    display: flex;
    letter-spacing: 0.3px;
    line-height: 20px;
    padding-top: 2px;

    .profile-mini {
      margin-right: 15px;
      margin-left: 22px;
      height: 36px;
      width: 36px;
      float: left;
      letter-spacing: 0.3px;
    }

    .gmail {
      color: $secondary-dark-2;
      letter-spacing: 0px;
      font-weight: 400;
    }
  }

  .prof-settings {
    font-weight: 500;
    padding-left: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 156.25px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 11px;
    box-sizing: border-box;

    div {
      user-select: none;
      cursor: pointer;
      display: flex;
    }

    i {
      margin-right: 8px;
      color: $secondary-dark-1;
      font-size: 18px;
    }

    p {
      color: $primary-dark;
      font-size: 12px;
      letter-spacing: 0.1px;
      margin-bottom: 3px;
      font-weight: 500;
    }
  }
}

.show {
  display: block;
}
