<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.11.2/css/all.css”>
    <link rel=“stylesheet” href=“https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css”>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    
    <div class="radio-btn">
        <input type="radio" id="radio-unchecked">
        <label for='radio-unchecked'>Unchecked</label>
    </div>
    <div class="radio-btn">
        <input type="radio" id="radio-checked" checked>
        <label for='radio-checked'>Checked</label>
    </div>
    <div class="radio-btn">
        <input type="radio" id="radio-disabled" disabled>
        <label for='radio-disabled'>Disabled unchecked</label>
    </div>
    <div class="radio-btn">
        <input type="radio" id="radio-disabled" checked disabled>
        <label for='radio-disabled'>Disabled checked</label>
    </div>
    <div class="radio-btn">
        <input type="radio" id="radio-error" class="radio-error">
        <label for='radio-error'>Unchecked error</label>
    </div>
    <div class="radio-btn">
        <input type="radio" id="radio-checked-success" class="radio-error" checked>
        <label for='radio-checked-success'>Checked success</label>
    </div>


</body>
</html>