@import "../../../colors&typo/styles.scss";
@import "base.scss";

.radio-btn {
  position: relative;
  padding-left: 30px;
  font-family: $roboto;
  font-size: 14px;
  font-weight: 300;
  color: $secondary-dark-1;
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  input:checked + label {
    color: $primary-dark;
    &:before {
      background-color: $secondary-dark-2;
    }
    &:after {
      content: "";
      @include circle-center;
      width: 8px;
      height: 8px;
      bottom: 11px;
      left: 6px;
      background-color: #fff;
    }
  }
  input:checked {
    opacity: 70%;
  }
  label::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: $outline;
    @include circle-center;
  }
  input:disabled + label{
    opacity: 70%;
  }
  .radio-error + label {
    color: $secondary-3;
    &:before {
      background-color: $secondary-3;
      opacity: 15%;
    }
  }
  .radio-error:checked + label {
    color: $secondary-2;
    &:before {
      background-color: $secondary-2;
      opacity: 15%;
    }
    &:after {
      background-color: $secondary-2;
    }
  }
}
