@import './src/styles/variables/colors';
progress {
  width: 100%;
  background-color: $background-1;
  border-radius: 10px;
  height: 4px;
}
progress::-webkit-progress-bar {
  background-color: $background-1;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  border-radius: 10px;
}
progress.red::-webkit-progress-value {
  background-color: $secondary-3 !important;
}
progress.blue::-webkit-progress-value {
  background-color: $secondary-1 !important;
}
progress.green::-webkit-progress-value {
  background-color: $secondary-2 !important;
}
progress.orange::-webkit-progress-value {
  background-color: $primary !important;
}
