<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel=“stylesheet”
    href=“https://use.fontawesome.com/releases/v5.11.2/css/all.css”> <link
    rel=“stylesheet”
    href=“https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css”>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="forms">
      <h1>Forms / Elements</h1>
    </div>
    <section>
      <h3>Radio</h3>
      <div class="radios">
        <!-- regular -->
        <div>
          <div class="radio-btn">
            <input type="radio" id="radio-unchecked" name="regular" />
            <label for="radio-unchecked">Unchecked</label>
            <input type="radio" id="radio-checked" name="regular" checked />
            <label for="radio-checked">Checked</label>
          </div>
        </div>
        <!-- disabled -->
        <div>
          <div class="radio-btn">
            <input type="radio" id="radio-disabled" disabled />
            <label for="radio-disabled">Disabled unchecked</label>
            <input type="radio" id="radio-disabled" checked disabled />
            <label for="radio-disabled">Disabled checked</label>
          </div>
        </div>
        <!-- error -->
        <div>
          <div class="radio-btn">
            <input type="radio" id="radio-error" class="radio-error" />
            <label for="radio-error">Unchecked error</label>
            <input
              type="radio"
              id="radio-checked-success"
              class="radio-error"
              checked
            />
            <label for="radio-checked-success">Checked success</label>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
