@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.successful-pay, .unsuccessful-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 93px;
  margin-right: 19px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 64px;
  background-color: #6DD230;
}

.successful-pay .payment-text, .unsuccessful-pay .payment-text {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

.successful-pay span, .unsuccessful-pay span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.las {
  color: #fafbff;
}

.la-bell {
  font-size: 22px;
  margin-right: 13px;
  margin-left: 18px;
}

.la-times-circle {
  font-size: 18px;
  margin-right: 14px;
  margin-left: 6.5rem;
}

.la-times-circle:hover {
  cursor: pointer;
}

.unsuccessful-pay {
  background-color: #FFAB2B;
  min-width: 35rem;
  margin-top: 12px;
  margin-right: 16px;
}

.unsuccessful-pay .la-times-circle {
  margin-left: 20px;
}

#bell-notifications {
  position: absolute;
  display: none;
  background-color: white;
  top: 46px;
  right: -4px;
  width: 341px;
  -webkit-box-shadow: 0px 0px 10px -5px #707070;
          box-shadow: 0px 0px 10px -5px #707070;
}

#bell-notifications li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bell-notifications li .notification-bottom {
  letter-spacing: -0.01px;
  padding-bottom: 22px;
  padding-right: 35px;
}

#bell-notifications ul :not(:first-child) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#bell-notifications ul :not(:last-child):hover {
  background-color: #F8FAFB;
  cursor: pointer;
}

#bell-notifications ul :not(:last-child):hover .tooltip {
  background-color: #F8FAFB;
}

#bell-notifications ul p:hover {
  cursor: pointer;
}

#bell-notifications li:nth-of-type(1) > div > .notification-header {
  padding-top: 20px;
}

#bell-notifications .notification-header {
  padding-right: 35px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: #1b1e24;
  font-weight: 400;
}

#bell-notifications .notification-footer-text {
  font-weight: 500;
  color: #FFAB2B;
  padding: 15px 0;
}

#bell-notifications .notification-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F8FAFB;
}

#bell-notifications .bell-image {
  padding-right: 15px;
  padding-left: 20px;
}

#bell-notifications .tooltip {
  width: 22px;
  height: 22px;
  background-color: white;
  position: absolute;
  right: 22px;
  top: -4px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

#bell-notifications.bell-notifications {
  display: block;
  z-index: 2;
}

.bell-notifications-icon {
  position: relative;
}

.bell-notifications-icon .la-bell {
  color: #778CA2;
  margin: 0;
}

.bell-notifications-icon .la-bell:hover {
  color: #FFAB2B;
  cursor: pointer;
}

.bell-notifications-icon .dot {
  position: absolute;
  top: 0.5px;
  right: 1.5px;
  width: 8px;
  height: 8px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #FE4D97;
}

.bell-notifications-icon .bell {
  position: relative;
  width: 22px;
  margin-right: 20px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.line2 {
  height: 1px;
  width: 100%;
  clear: both;
  bottom: 0%;
  position: absolute;
  background-color: #E8ECEF;
}

.profileDiv {
  position: relative;
  width: 1198px;
  height: 66px;
}

.dashboard {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  margin-left: 35px;
  font-size: 20px;
  float: left;
}

.dashboard i {
  margin-right: 22px;
}

.profileBef {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #252631;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 155.75px;
  height: 40px;
  float: right;
  position: absolute;
  margin-right: 25px;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.profileBef .image {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  border: 2px solid #FFAB2B;
  float: left;
  margin-right: 11.3px;
}

.profileBef .image img {
  width: 32px;
}

.profileBef .name {
  letter-spacing: 0.2px;
  font-family: "Roboto", sans-serif;
  width: 69%;
}

.profileHover {
  color: #252631;
  background-color: white;
  font-weight: 500;
  width: 286px;
  height: 237px;
  margin-bottom: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  position: absolute;
  clear: both;
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 5e-06), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 5e-06), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  right: 0%;
  top: 70px;
  float: right;
  border-radius: 5px;
  margin-right: 20px;
}

.profileHover .about {
  background-color: #F8FAFB;
  height: 79.75px;
  font-family: "Rubik", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.3px;
  line-height: 20px;
  padding-top: 2px;
}

.profileHover .about .profileMini {
  margin-right: 15px;
  margin-left: 22px;
  height: 36px;
  width: 36px;
  float: left;
  letter-spacing: 0.3px;
}

.profileHover .about .gmail {
  color: #98A9BC;
  letter-spacing: 0px;
  font-weight: 400;
}

.profileHover .profSettings {
  font-weight: 500;
  padding-left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 156.25px;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.profileHover .profSettings div {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileHover .profSettings i {
  margin-right: 8px;
  color: #778CA2;
  font-size: 18px;
}

.profileHover .profSettings p {
  color: #252631;
  font-size: 12px;
  letter-spacing: 0.1px;
  margin-bottom: 3px;
  font-weight: 500;
}

.show {
  display: block;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #E8ECEF;
  margin-bottom: 88px;
  margin-top: 67px;
}

.feature31 {
  padding-top: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.head {
  font-size: 30px;
  margin-left: 150px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
}

.profileDiv {
  margin-left: 100px;
}

.profileBef {
  width: auto;
}

.line2 {
  z-index: -1;
}

.feature31 .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=index.css.map */