@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bank-transactions {
  min-width: 551px;
}
.bank-transactions .settings {
  padding: 19.12px 23px;
}
.bank-transactions .settings input {
  border: none;
}
.bank-transactions .settings textarea:focus,
.bank-transactions .settings input:focus {
  outline: none;
}
.bank-transactions .settings .left-settings {
  display: inline;
}
.bank-transactions .settings .right-settings {
  float: right;
  margin-right: -12px;
}
.bank-transactions .settings .right-settings p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #778CA2;
  letter-spacing: 0.2px;
}
.bank-transactions .settings .right-settings .position-left {
  float: left;
}
.bank-transactions .settings .right-settings .position-right {
  float: right;
  margin-right: -6px;
}
.bank-transactions .settings .right-settings .text-1 {
  margin-right: -3px;
}
.bank-transactions .settings .right-settings .photo-1 {
  margin-right: 5px;
}
.bank-transactions .settings .right-settings .photo-2 {
  margin-right: 6px;
  margin-left: 26px;
}
.bank-transactions .settings .right-settings .options {
  margin-top: 10px;
}
.bank-transactions .settings .dropdown-general {
  font-size: 12px;
  width: 123px;
  margin-top: -3px;
  height: 5px;
}
.bank-transactions .settings .dropdown-general .selected {
  border: 0px;
  padding: 12px 0 0 14px;
}
.bank-transactions .settings .dropdown-general .placeholder {
  color: #252631;
  padding: 0px 0 0 14px;
  height: 25px;
}
.bank-transactions .settings .dropdown-style {
  width: 70px;
}
.bank-transactions .transaction {
  padding: 10px 23px 9px 23px;
}
.bank-transactions .transaction img {
  margin-right: 0.6%;
}
.bank-transactions .left {
  display: inline;
}
.bank-transactions .left h2 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
  vertical-align: top;
  line-height: 20px;
}
.bank-transactions .left h2 span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #98A9BC;
  letter-spacing: 0.2px;
}
.bank-transactions .right {
  float: right;
  padding-bottom: 9px;
}
.bank-transactions .right span {
  float: right;
}
.bank-transactions .right .green-font {
  color: #6DD230;
}
.bank-transactions h1 span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #252631;
  letter-spacing: 0.2px;
  margin-top: 4px;
}
.bank-transactions h1 .date {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #98A9BC;
  letter-spacing: 0.2px;
  margin-top: -4px;
}
.bank-transactions .first-element {
  padding-top: 18px;
}
.bank-transactions .last-element {
  opacity: 0.3;
}
.bank-transactions .center-hr {
  width: 98%;
  margin: auto;
}

/*# sourceMappingURL=index.css.map */
