.payment {
    font-size: 14px;
    border-radius: 5px;
    background-color: white;
    display: none;
    min-width: 384.922px;

    &.current-payment {
        display: block;
    }

    header {
        padding: 20px;
        padding-bottom: 20px;
        @include flex(space-between);
        border-bottom: 1px solid $outline;
    }

    form {
        width: 91.91%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 30px;

        div:not(:last-child) {
            margin-bottom: 22px;
        }

        .amount-wrapper,
        .currency-wrapper,
        .transfer-type-wrapper {
            display: inline-block;
            width: 48%;
        }
        .currency-wrapper,
        .transfer-type-wrapper {
            float: right;

            .dropdown-general {
                width: 100%;
            }
        }

        .payment-buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;

            button {
                width: 130px;
            }

            div {
                margin-bottom: 0px;
            }
        }
    }

    .dropdown-general .content {
        margin-bottom: 0;
    }

    .payment-dropdown {
        width: 100%;
    }

    .card-account {
        @include flex(space-between);
        & section + span:last-child {
            margin-right: 32px;
        }
        section img {
            margin-right: 19.449%;
        }
        section {
            width: 100%;
        }
    }

    #account .content section + span,
    #account-bank .content section + span,
    #account-instant .content section + span {
        margin-right: 15px;
        color: $secondary-dark-1;
    }

    // online payment specefic styles
    .payment-summary {
        border: 2px dotted $outline;
        border-radius: 5px;
        padding: 25px 15px;
        position: relative;

        div {
            :first-child {
                display: inline-block;
                font-weight: 300;
                width: 103px;
            }

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        i {
            position: absolute;
            right: 18px;
            top: 20px;
            font-size: 18px;
            color: $primary;
            cursor: help;
        }
    }

    //  online transferebshi ratomgac surattan ufro axlos aris card number vidre bank da instant transferebshi
    #account img {
        margin-right: 15px;
    }

    .payment-system-dropdown img {
        margin-right: 12px;
    }

    // Bank transfer specific styles
    &.bank-payment {
        #transfer-type {
            margin-bottom: 66px;
        }

        .dropdown-general {
            width: 100%;
        }
    }

    // instant tranfster specific styles
    &.instant-payment {
        .payment-buttons {
            margin-top: 22px;
        }
    }

    // instanty transfer + bank transfer specific styles

    &.bank-payment,
    &.instant-payment {
        .payment-buttons {
            align-items: center;
            .primary {
                width: 95%;
            }
            button {
                width: 74.6%;
            }
            span {
                display: inline-block;
                width: 55%;
                min-width: 124.672px;
                color: $secondary-dark-1;
            }
        }
    }
}
