@import '../../../../styles/index.scss';
@import './styles/base.scss';
@import './styles/main.scss';
input[type="checkbox" i]:disabled {
    appearance: checkbox;
    box-sizing: border-box;
    margin: 3px;
    border: 0px;
    background: transparent;
    opacity: 0;
}