<section class="bank-transactions">
  <div>
    <div class="settings">
      <div *ngIf="hasInput; else default" class="left-settings">
        <img src="../../../../../assets/bank-transactions/img/Search-bar.png" />
        <input
          class="form-control"
          type="text"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          placeholder="TYPE TO SEARCH"
        />
      </div>

      <ng-template #default>
        <ng-content></ng-content>
      </ng-template>

      <div class="right-settings">
        <img
          class="position-left photo-1"
          src="../../../../../assets/bank-transactions/img/suitcase.png"
        />
        <p class="position-left text-1">DATE:</p>
        <div class="position-left">
          <div class="dropdown-general">
            <select>
              <option>AUGUST 2018</option>
              <option>item 1</option>
              <option>item 2</option>
              <option>item 3</option>
              <option>item 4</option>
            </select>
          </div>
        </div>

        <span *ngIf="show">
          <img
            class="position-left photo-2"
            src="../../assets/bank-transactions/img/suitcase.png"
          />
          <p class="position-left text-2">TYPE</p>
          <div class="position-left">
            <div class="dropdown-general dropdown-style">
              <select>
                <option>ALL</option>
                <option>item 1</option>
                <option>item 2</option>
                <option>item 3</option>
                <option>item 4</option>
              </select>
            </div>
            <script src="../../components/dropdown/core/logic/build/index.js"></script>
          </div>
        </span>
      </div>
    </div>

    <hr class="hr-bottom" />
    <div *ngFor="let transaction of transactionsList | filter: searchText">
      <div class="transaction">
        <div class="left">
          <img src="{{ transaction.icon }}" />
          <h2>
            <a (click)="pop(transaction.id)">
              {{ transaction.title }}
            </a>
            <br />
            <span>{{ transaction.type }}</span>
          </h2>
        </div>
        <div class="right">
          <h1>
            <span>{{ transaction.amount }} </span><br />
            <span class="date">{{ transaction.date }}</span>
          </h1>
        </div>
      </div>
      <hr class="center-hr" />
    </div>

    <app-shared-bank-transaction-details
      *ngIf="popDetails"
      (closePopup)="closePopup()"
      (sendReceipt)="sendReceipt()"
      [transaction]="transactionObject"
    >
    </app-shared-bank-transaction-details>
  </div>
</section>
