@import './index.scss';
.bank-transactions {
  width: 95%;
  margin: auto;
  margin-top: 28px;
  background-color: white;

  .myDiv {
    overflow: auto;
    min-height: 300px;
  }

  min-width: 700px;
  .settings {
    padding: 19.12px 23px;

    input {
      border: none;
      margin-left: 8px;
    }
    textarea:focus,
    input:focus {
      outline: none;
    }
    .left-settings {
      display: inline;
    }
    .right-settings {
      float: right;
      margin-right: -12px;

      p {
        @include text-style(12px, $secondary-dark-1);
      }
      .position-left {
        float: left;
        ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
          padding: 0 !important;
        }
        ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
          background-color: white !important;
        }
        ::ng-deep .mat-form-field-infix {
          width: 100px;
        }
        ::ng-deep .mat-form-field-underline {
          width: 0;
        }
        ::ng-deep .mat-form-field-wrapper {
          padding-bottom: 0;
        }
        ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
          padding: 0.25em 0 0 0;
        }
        ::ng-deep .dropdown-general .selected {
          padding: 0 4px 0 8px;
        }
        ::ng-deep .mat-body p,
        .mat-body-1 p,
        .mat-typography p {
          margin: 0;
        }
        ::ng-deep
          .bank-transactions[_ngcontent-rvx-c106]
          .settings[_ngcontent-rvx-c106]
          .right-settings[_ngcontent-rvx-c106]
          .position-left[_ngcontent-rvx-c106]
          .mat-form-field-appearance-fill
          .mat-form-field-infix {
          padding: 0;
        }
        ::ng-deep .dropdown-general {
          height: 80%;
        }
        ::ng-deep .dropdown-general .selected {
          // width: 85%;
          border: none;
        }
        ::ng-deep .mat-form-field {
          margin-top: -7px;
          width: 150px;
        }
        ::ng-deep .dropdown-general .selected .arrow-container {
          color: #555c64;
        }
        .dropdown-general {
          width: 85%;
        }
      }
      .position-right {
        float: right;
        margin-right: -6px;
      }
      .text-1 {
        margin-right: -3px;
      }
      .text-2 {
        color: rgba(0, 0, 0, 0.6);
      }
      .photo-1 {
        margin-right: 5px;
      }

      .photo-2 {
        margin-right: 6px;
        margin-left: 26px;
      }
      .options {
        margin-top: 10px;
      }
    }

    .mainTitle {
      @include text-style(16px, $primary-dark);
    }
  }

  .transaction {
    padding: 10px 23px 9px 23px;

    img {
      margin-right: 1.2%;
    }
  }

  .left {
    display: inline;
    h2 {
      display: inline-block;
      @include text-style(16px, $primary-dark);
      vertical-align: top;
      line-height: 20px;
      a {
        font-size: 16px;
      }
      span {
        @include text-style(14px, $secondary-dark-2);
      }
    }
  }

  .right {
    float: right;
    padding-bottom: 9px;
    span {
      float: right;
    }
    .green-font {
      color: $secondary-2;
    }
  }

  h1 {
    span {
      @include text-style(14px, $primary-dark);
      margin-top: 4px;
    }

    .date {
      @include text-style(14px, $secondary-dark-2);
      margin-top: -4px;
    }
  }
  .first-element {
    padding-top: 18px;
  }

  .last-element {
    opacity: 0.3;
  }

  .center-hr {
    width: 98%;
    margin: auto;
    border-top: 1px solid #e8ecef;
  }

  .hr-bottom {
    margin-bottom: 9px;
    border-top: 1px solid #e8ecef;
  }
  .title {
    cursor: pointer;
  }
}
