<div class="available-balances">
  <div class="balances-title">Available balance</div>
  <div class="balances-container">
    <div *ngFor="let item of accountDetails" class="account-balance">
      <div class="account-type">
        <div class="logo-background">
          <img [src]="item.iconAddress" />
        </div>
        <div class="detail-position">
          <div class="account-number">{{ item.cardNumber }}</div>
          <div class="account-description">{{ item.description }}</div>
        </div>
      </div>

      <div class="card-position">
        <div class="balance">
          <div>{{ item.balance }}</div>
          <i [ngClass]="item.arrow" class="las"></i>
        </div>
        <div class="account-description">Balance</div>
      </div>
    </div>
  </div>
</div>
