<div class="available-balances">
  <div class="balances-title">Available balances</div>
  <div class="balances-container">
    <div *ngFor="let item of balance" class="account-balance">
      <div class="account-type">
        <div *ngIf="item.cardNumber" class="logo-background">
          <img src="{{ accountBalancesService.determineIconPath(item) }}" />
        </div>
        <div
          [ngClass]="'logo-background-deposit'"
          *ngIf="!item.cardNumber"
          class="logo-background"
        >
          <i class="las la-lock"></i>
        </div>
        <div class="detail-position">
          <div class="account-number" *ngIf="item.cardNumber">
            {{ item.cardNumber | hideNums }}
          </div>
          <div class="account-number" *ngIf="!item.cardNumber">
            Cumulative Deposit
          </div>
          <div class="account-description" *ngIf="item.cardNumber">
            Card Number
          </div>
          <div class="account-description" *ngIf="!item.cardNumber">Name</div>
        </div>
      </div>

      <div class="card-position">
        <div class="balance">
          <div>${{ item.availableAmount }}</div>
          <i
            *ngIf="item.cardNumber"
            [ngClass]="item.arrow | async"
            class="las"
          ></i>
          <i *ngIf="!item.cardNumber" class="las la-long-arrow-alt-up"></i>
        </div>
        <div class="account-description">Balance</div>
      </div>
    </div>
  </div>
</div>
