@import './base.scss';
@import '../../../../../styles/index.scss';
.checkbox {
    label {
        @include checkbox_default($secondary-dark-1);
    }
    label::before {
        @include flex;
        @include checkbox_default_before($secondary-dark-1);
    }
    input {
        opacity: 0;
        cursor: pointer;
    }
    input:disabled+label {
        opacity: 80%;
    }
    input:checked+label {
        color: $primary-dark;
    }
    input:checked+label::before {
        content: '\2714';
        color: $background-2;
        background-color: $secondary-dark-2;
    }
    .checkbox-error {
        @include checkbox_default($secondary-3);
    }
    .checkbox-error::before {
        @include flex;
        @include checkbox_default_before($secondary-3);
    }
    input:checked+.checkbox-error {
        color: $secondary-2;
    }
    input:checked+.checkbox-error::before {
        content: '\2714';
        color: $secondary-2;
        background-color: rgba($color: $secondary-2, $alpha: 0.15);
    }
}