<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Bars</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <h1>Progress Bars</h1>
    </header>
    <main>
        <div class="container-progress-bar"><h5>Progress bars</h5></div>
        <div class="grid-progress-bar">
            <div class="progress"><div class="color-59"></div></div>
            <div class="progress"><div class="color-22"></div></div>
            <div class="progress"><div class="color-84"></div></div>
            <div class="progress"><div class="color-80"></div></div>
        </div>
    </main>
</body>
</html>