<div class="payment">
  <header>
    <h5>{{ title }}</h5>
  </header>
  <form [formGroup]="form" [@formTrigger]>
    <div class="input-wrapper">
      <label class="input-label"
        >Select account
        <span
          [@errorTrigger]
          *ngIf="fromAccount.hasError('required') && fromAccount.touched"
          >Required</span
        >
      </label>
      <ng-template #account let-option>
        <div class="account">
          <img [src]="option['iconPath']" />
          <span>{{ option['cardNumber'] | hideNums }}</span>
          <span class="amount"
            >{{ option['availableAmount'] | currency }}
          </span>
        </div>
      </ng-template>

      <app-shared-dropdown
        [ngClass]="{
          'invalid-dropdown': fromAccount.errors && fromAccount.touched,
          'valid-dropdown': !fromAccount.errors
        }"
        style="width: 100%"
        formControlName="fromAccount"
        placeholder="Select account"
        [options]="currentUsersCards | async"
        [selectedTemplate]="account"
        [optionTemplate]="account"
      >
      </app-shared-dropdown>
    </div>

    <div class="input-wrapper">
      <label class="input-label"
        >Select payment system
        <span
          [@errorTrigger]
          *ngIf="paymentSystem.hasError('required') && paymentSystem.touched"
          >Required</span
        >
      </label>

      <ng-template #paymentSystemTemplate let-option>
        <div class="payment-system-template">
          <img [src]="option['iconPath']" />
          <span>{{ option['name'] }}</span>
        </div>
      </ng-template>

      <app-shared-dropdown
        [ngClass]="{
          'invalid-dropdown': paymentSystem.errors && paymentSystem.touched,
          'valid-dropdown': !paymentSystem.errors
        }"
        style="width: 100%"
        formControlName="paymentSystem"
        placeholder="Select payment system"
        [options]="paymentSystems$ | async"
        [selectedTemplate]="paymentSystemTemplate"
        [optionTemplate]="paymentSystemTemplate"
      >
      </app-shared-dropdown>
    </div>

    <div class="input-wrapper" *ngIf="paymentSystem.value">
      <label class="input-label" for="el-account"
        >{{ paymentSystem.value.name }} account
        <span
          [@errorTrigger]
          *ngIf="toAccountEmail.hasError('required') && toAccountEmail.touched"
          >Required</span
        >
        <span
          [@errorTrigger]
          *ngIf="toAccountEmail.hasError('email') && toAccountEmail.touched"
          >Invalid email</span
        ></label
      >
      <app-shared-input
        placeholder="Enter email account"
        inputId="el-account"
        formControlName="toAccountEmail"
        type="email"
      ></app-shared-input>
    </div>

    <div class="input-wrapper half-width">
      <label class="input-label" for="amount"
        >Amount
        <span
          [@errorTrigger]
          *ngIf="amount.hasError('required') && amount.touched"
          >Required</span
        >
        <span [@errorTrigger] *ngIf="amount.hasError('min') && amount.touched"
          >Too low</span
        ></label
      >
      <app-shared-input
        inputId="amount"
        formControlName="amount"
        type="number"
        placeholder="Enter amount"
      ></app-shared-input>
    </div>

    <div class="input-wrapper half-width float-right">
      <label class="input-label"
        >Currency
        <span
          [@errorTrigger]
          *ngIf="currency.hasError('required') && currency.touched"
          >Required</span
        ></label
      >
      <app-shared-dropdown
        [ngClass]="{
          'invalid-dropdown': currency.errors && currency.touched,
          'valid-dropdown': !currency.errors
        }"
        placeholder="Select currency"
        [options]="['USD']"
        formControlName="currency"
      >
      </app-shared-dropdown>
    </div>

    <div class="payment-summary" *ngIf="form.valid" [@summaryTrigger]>
      <i class="las la-info-circle"></i>
      <img
        src="https://i.kym-cdn.com/photos/images/original/001/598/772/918.png"
        alt="monke"
      />
      <div class="amount">
        <span>Amount</span>
        <span>{{ amount.value }} {{ currency.value }}</span>
      </div>
      <div class="fee">
        <span>Fee</span>
        <span>{{ (amount.value * 1) / 100 }} {{ currency.value }}</span>
      </div>
      <div class="proccesing">
        <span>Processing</span>
        <span>5 - 7 Business days</span>
      </div>
    </div>

    <div class="footer">
      <app-shared-button
        [className]="{ primary: true, active: true }"
        class="button"
        (clicked)="onSubmit()"
        >PAY NOW</app-shared-button
      >
      <app-shared-button
        [className]="{ primary: true, resting: true }"
        class="button"
        (clicked)="onReset()"
        >RESET</app-shared-button
      >
    </div>
  </form>
</div>
