@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h3 {
  font-family: "Roboto", sans-serif;
}

.input-demo {
  box-sizing: border-box;
  width: 1140px;
  margin: 0 auto;
  border: 1px solid transparent;
  border-bottom: 2px solid gray;
  padding-bottom: 137px;
}

.input-state-demo {
  padding-top: 12px;
}
.input-state-demo h3 {
  margin-bottom: 33px;
}

.input-demo-container {
  display: flex;
  justify-content: space-between;
}

.input-demo-container .input-group {
  width: 31.5%;
}

.input-label {
  box-sizing: border-box;
  line-height: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #252631;
  letter-spacing: 0.2px;
  letter-spacing: 0.15px;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 12px;
}

.basic-input {
  box-sizing: border-box;
  padding: 19px 0 15px 14px;
  display: block;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #252631;
  letter-spacing: 0.2px;
  letter-spacing: 0.15px;
  border-radius: 4px;
  border: 1px solid #E8ECEF;
}

.basic-input:focus, .basic-input:active {
  outline: none;
}

.basic-input::-webkit-input-placeholder {
  color: #98A9BC;
}

.basic-input:-ms-input-placeholder {
  color: #98A9BC;
}

.basic-input::placeholder {
  color: #98A9BC;
}

.basic-input:disabled {
  background-color: #F8FAFB;
  color: #98A9BC;
}

.input-wrapper {
  position: relative;
}

.input-wrapper i {
  position: absolute;
  font-size: 18px;
  top: 18px;
  right: 16px;
}

.basic-input.invalid {
  border-color: #FE4D97;
}

.basic-input.valid {
  border-color: #6DD230;
}

.basic-input.valid::placeholder,
.basic-input.invalid::placeholder {
  color: #252631;
}

/*# sourceMappingURL=index.css.map */
