<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Inputs</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div class="input-demo">
    <h3>Text Fields</h3>
    <div class="demo-container">
      <div class="input-group">
        <label class="input-label" for="">Field title</label>
        <br>
        <input class="basic-input" type="text" placeholder="Placeholder">
      </div>
      <div class="input-group">
        <label class="input-label" for="">Field title</label>
        <br>
        <input class="basic-input" value="Text caption" type="text" placeholder="Placeholder">
      </div>
      <div class="input-group">
        <label class="input-label" for="">Field title</label>
        <br>
        <input disabled class="basic-input" value="Text caption" type="text" placeholder="Placeholder">
      </div>
    </div>
  </div>
</body>
</html>