<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Inputs</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
</head>

<body>
  <div class="input-demo">
    <h3>Text Fields</h3>
    <div class="input-demo-container">
      <div class="input-group">
        <label class="input-label" for="basic-placeholder">Field title</label>
        <div class="input-wrapper">
          <input id="basic-placeholder" class="basic-input" type="text" placeholder="Placeholder">
        </div>
      </div>
      <div class="input-group">
        <label class="input-label" for="basic-text">Field title</label>
        <div class="input-wrapper">
          <input id="basic-text" class="basic-input" value="Text caption" type="text" placeholder="Placeholder">
        </div>
      </div>
      <!-- Disabled Input -->
      <div class="input-group">
        <label class="input-label" for="input-disabled">Field title</label>
        <div class="input-wrapper">
          <input id="input-disabled" disabled class="basic-input" value="Text caption" type="text" placeholder="Placeholder">
        </div>
      </div>
    </div>
  </div>
  <div class="input-demo input-state-demo">
    <div class="input-demo-container">
      <h3>
        Text field states
      </h3>
    </div>
    <!-- Invalid Input -->
    <div class="input-demo-container" style="margin-bottom: 33px">
      <div class="input-group">
        <label class="input-label" for="input-invalid">Field title</label>
        <div class="input-wrapper">
          <input id="input-invalid" class="basic-input invalid" type="text" placeholder="Placeholder" value="Text caption">
          <i class="las la-ban"></i>
        </div>
      </div>
    </div>
    <!-- Valid Input -->
    <div class="input-demo-container">
      <div class="input-group">
        <label class="input-label" for="input-valid">Text caption</label>
        <div class="input-wrapper">
          <input id="input-valid" class="basic-input valid" type="text" placeholder="Placeholder">
          <i class="las la-check"></i>
        </div>
      </div>
    </div>
  </div>
</body>
</html>