.grid {
  display: grid;
  height:fit-content;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
}

app-invoice-list {
  margin: 28px;
  grid-area: 1 / 1 / 3 / 2;
}

app-create-invoice {
  width: 262px;
  display: inline-block;
  margin-right: 31px;
  margin-top: 28px;
  height: 375px;
}

app-features-shared-income-chart {
  display: block;
  width: 262px;
  height: 375px;
  margin-top: 0;
}
@media screen and (max-width: 1121px) {
  .grid {
    grid-template-columns: auto;
    align-content: center;
    width: 100%;
    padding: 28px;
  }
  app-create-invoice {
    align-self: center;
    justify-self: center;
    margin-top: 0;
    margin-right:0px;
    grid-area: 1 / 1 / 2 / 2;
  }
  app-invoice-list {
    grid-area: 2 / 1 / 3 / 3;
    padding: 0;
    margin: 0;
    margin-top:28px;
  }
  app-features-shared-income-chart {
    align-self: center;
    justify-self: center;
    margin: 0;
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 28px;
    width: 95%;
  }
  .grid-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
