div {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
}

app-invoice-list {
  margin: 29px;
  grid-row: 1/3;
}

app-create-invoice {
  width: 262px;
  display: inline-block;
  margin-right: 31px;
  margin-top: 29px;
  height: 344px;
}

app-features-shared-income-chart {
  display: block;
  width: 262px;
  height: 347px;
  margin-top: 22px;
}
