@import "../../../../colors&typo/styles.scss";
@import "./helpers";
@import "./payment-providers";
@import "./payment";

.payments {
    font-family: $roboto;
    width: 79.16%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
