<div class="list">
  <div class="header">
    <p class="name">Your Credits</p>
    <p [routerLink]="'create-loan'" class="new">
      <i class="las la-plus-circle"></i>New credit
    </p>
  </div>
  <div class="items">
    <app-accounts-list-item
      *ngFor="let loan of loans"
      [info]="infoService.loanToInfo(loan)"
      [color]="getColor(loan)"
      [class.blocked]="loan.blocked"
      [route]="'/card-view/loan/' + loan.id"
      ><i [class]="getIconClass(loan)"></i>
    </app-accounts-list-item>
    <p *ngIf="!loans || !loans.length">You have no credits</p>
  </div>
</div>
