@import './index.scss';
$notif-width: 555px;

:host {
  display: block;
  width: $notif-width;
}

.notification {
  width: 100%;
  min-height: 64px;
  background-color: #4d7cfe;
  position: relative;
  padding: 20px;
  p {
    font-size: 16px;
    font-family: $rubik;
    font-weight: 500;
  }

  :first-child {
    font-size: 24px;
    float: left;
    padding-right: 5px;
  }

  :nth-child(2) {
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    float: right;
    padding-bottom: 15px;
    padding-top: 2.4px;
  }
}

@mixin notif-style($bg-color, $text-color: #fff) {
  background-color: $bg-color;
  p,
  i {
    color: $text-color;
  }
}

.orange {
  @include notif-style($orange);
}
.blue {
  @include notif-style($secondary-1);
}
.dark {
  @include notif-style($primary-dark);
}

.dark-grey {
  @include notif-style($secondary-dark-1);
}

.light-grey {
  @include notif-style($secondary-dark-2);
}

.green {
  @include notif-style($secondary-2);
}
.pink {
  @include notif-style($secondary-3);
}

.cyan {
  @include notif-style($secondary-4);
}

.grey {
  @include notif-style($outline, $secondary-dark-1);
}
.lighter-grey {
  @include notif-style($background-1, $secondary-dark-1);
}

.lightest-grey {
  @include notif-style($background-2, $secondary-dark-1);
}

.white {
  @include notif-style(white, $secondary-dark-1);
  box-shadow: 0px 0px 6px $outline;
}
