<div
  class="notification"
  [ngClass]="{
    'white-notification': color == 'white',
    'blue-notification': color == 'blue',
    'dark-notification': color == 'dark',
    'dark-grey-notification': color == 'dark-grey',
    'orange-notification': color == 'orange',
    'light-grey-notification': color == 'light-grey',
    'pink-notification': color == 'pink',
    'cyan-notification': color == 'cyan',
    'grey-color-notification': color == 'grey',
    'lighter-grey-notification': color == 'lighter-grey',
    'lightest-grey-notification': color == 'lightest-grey',
    'green-notification': color == 'green'
  }"
>
  <i class="las la-bell"></i>

  <div><ng-content></ng-content></div>
  <i class="las la-times-circle" (click)="closeModal()"></i>
</div>
