$primary-hover: #F4A42B;

.primary {
    .active {
        @extend .btn-schema;
        color: white;
        background-color: $primary;
        
        &:hover {
            color: white;
            background-color: $primary-hover;
        }
    }

    .hover {
        @extend .btn-schema;
        background-color: $primary-hover;
        color: white;
    }
    
    .resting {
        @extend .btn-schema;
        background-color: $background-1;
        color: $secondary-dark-1;
        &:hover {
            background-color: $background-1;
            color: $primary;
        }
    }
    
    .hover2 {
        @extend  .btn-schema;
        background-color: $background-1;
        color: $primary;
    }
}