<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/build/index.css">
</head>

<body>

  <div class="dropdown-general">
    <select>
      <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt cumque nobis blanditiis error
        recusandae, est eius, ab numquam non ex vel! Illum aliquid iste maxime quidem deserunt praesentium labore. Eos?
      </option>
      <option>Select item 1Select item 1Select item 1Select item 1Select item 1Select item 1Select item 1Select item
        1Select item 1Select item 1</option>
      <option>Select item 2</option>
      <option>Select item 3</option>
      <option>Select item 4</option>
    </select>
  </div>
  
  <div class="dropdown-field">
    <select>
      <option>Text caption</option>
      <option>Select item 1</option>
      <option>Select item 2</option>
      <option>Select item 3</option>
      <option>Select item 4</option>
    </select>
  </div>

  <div class="dropdown-field dropdown-disabled">
    <select>
      <option>Text caption</option>
      <option>Select item 1</option>
      <option>Select item 2</option>
      <option>Select item 3</option>
      <option>Select item 4</option>
    </select>
  </div>

  <label>
    <input type="checkbox" id="dropdown-debug">
    For Perfectpixel (to freeze options)
  </label>

  <script type="text/javascript" src="core/logic/build/index.js"></script>
</body>

</html>