<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/build/index.css">
</head>

<body>

  <hr>
  <h1>Perfectpixel</h1>

  <label>
    <input type="checkbox" id="dropdown-debug">
    For Perfectpixel (to freeze options)
  </label>

  <div class="dropdown-select">
    <select>
      <option>Placeholder</option>
      <option>Select item 1</option>
      <option>Select item 2</option>
      <option>Select item 3</option>
      <option>Select item 4</option>
    </select>
  </div>

  <div class="dropdown-field">
    <select>
      <option>Text caption</option>
      <option>Select item 1</option>
      <option>Select item 2</option>
      <option>Select item 3</option>
      <option>Select item 4</option>
    </select>
  </div>

  <div class="dropdown-field dropdown-disabled">
    <select>
      <option>Text caption</option>
      <option>Select item 1</option>
      <option>Select item 2</option>
      <option>Select item 3</option>
      <option>Select item 4</option>
    </select>
  </div>

  <hr>
  <h1>Bigger text test</h1>

  <div class="dropdown-select">
    <select>
      <option>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti maiores ipsa eligendi facere,
        voluptatibus natus quia nesciunt autem voluptates itaque dicta illum beatae est, consequatur necessitatibus.
        Accusamus quidem asperiores quas.</option>
      <option>Select item 1</option>
      <option>Select item 2</option>
      <option>Select item 3</option>
      <option>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, ullam nobis! Eveniet molestias ratione
        recusandae ea alias magnam, sint eos distinctio at, assumenda doloribus ad et neque mollitia sequi quasi?
      </option>
    </select>
  </div>

  <hr>

  <script type="text/javascript" src="core/logic/build/index.js"></script>
</body>

</html>