<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/build/index.css">
</head>

<body>

  <hr>
  <h1>Perfectpixel</h1>

  <label>
    <input type="checkbox" id="dropdown-debug">
    To freeze options
  </label>

  <div class="dropdown-general">

    <select>
      <option>Placeholder</option>
      <option>Select item 1</option>
      <option>Select item 2</option>
      <option>Select item 3</option>
      <option>Select item 4</option>
    </select>

  </div>

  <div class="dropdown-general-symbol">

    <select>
      <option>Text caption</option>
      <option>Select item 1</option>
      <option>Select item 2</option>
      <option>Select item 3</option>
      <option>Select item 4</option>
    </select>

  </div>

  <div class="
    dropdown-general
    dropdown-disabled">

    <select>
      <option>Text caption</option>
      <option>Select item 1</option>
      <option>Select item 2</option>
      <option>Select item 3</option>
      <option>Select item 4</option>
    </select>

  </div>

  <hr>
  <h1>Bigger text</h1>

  <div class="dropdown-general">

    <select>
      <option>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio deserunt quam ex earum in voluptate
        debitis corporis culpa iure deleniti, ullam, dolor architecto natus soluta est quisquam eveniet voluptatum
        aperiam!</option>
      <option>Select item 1</option>
      <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, magni quisquam! Est nulla a repellat,
        laborum officiis labore maiores culpa suscipit, consectetur minima, consequuntur quibusdam perspiciatis
        accusantium hic sint! Soluta!</option>
      <option>Select item 3</option>
      <option>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio deserunt quam ex earum in voluptate
        debitis corporis culpa iure deleniti, ullam, dolor architecto natus soluta est quisquam eveniet voluptatum
        aperiam!
      </option>
    </select>

  </div>

  <div class="dropdown-general-symbol">

    <select>
      <option>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio deserunt quam ex earum in voluptate
        debitis corporis culpa iure deleniti, ullam, dolor architecto natus soluta est quisquam eveniet voluptatum
        aperiam!</option>
      <option>Select item 1</option>
      <option>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, magni quisquam! Est nulla a repellat,
        laborum officiis labore maiores culpa suscipit, consectetur minima, consequuntur quibusdam perspiciatis
        accusantium hic sint! Soluta!</option>
      <option>Select item 3</option>
      <option>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio deserunt quam ex earum in voluptate
        debitis corporis culpa iure deleniti, ullam, dolor architecto natus soluta est quisquam eveniet voluptatum
        aperiam!
      </option>
    </select>

  </div>

  <hr>
  <h1>Custom dropdown</h1>

  <div class="dropdown-general-symbol">

    <div style="width: 30px; height: 30px; background-color: red;"></div>
    <i class="fas fa-camera" style="font-size: 100px;"></i>
    <i class="fas fa-camera"></i>
    <i class="fas fa-angry" style="font-size: 33px"></i>
    <select>
      <option>Text caption</option>
      <option>Select item 1</option>
      <option>Select item 2</option>
      <option>Select item 3</option>
      <option>Select item 4</option>
    </select>

  </div>

  <div class="
    dropdown-custom
    my-custom-dropdown-1">

    <i index="1" class="fas fa-angry" style="font-size: 50px"></i>
    <em class="arrow-symbol las la-tty" style="font-size: 33px"></em>
    <div class="option-default-symbol" style="width: 50px; height: 30px; background-color: green;"></div>
    <select>
      <option>Placeholder</option>
      <option>Select item 1</option>
      <option>Select item 2</option>
      <option>Select item 3</option>
      <option>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum beatae dicta blanditiis culpa perferendis
        sequi officia facere recusandae quae esse expedita, explicabo tempore sed nam amet itaque consequatur sint vel!
      </option>
    </select>

  </div>

  <script type="text/javascript" src="core/logic/build/index.js"></script>
</body>

</html>