<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <p class="head">Fills / Notifications</p>
    <div class="line"></div>
    <div class="line-1"></div>
    <p class="notification">Notifications</p>
    <div class="message secondary-1">
        <i class="las la-bell bell"></i>

        <p class="msg">Notification message</p>
        <i class="las la-times-circle exit"></i>


    </div>
    <div class="message primary-dark">
        <i class="las la-bell bell"></i>

        <p class="msg">Notification message</p>
        <i class="las la-times-circle exit"></i>


    </div>
    <div class="message secondary-dark-1">
        <i class="las la-bell bell"></i>

        <p class="msg">Notification message</p>
        <i class="las la-times-circle exit"></i>


    </div>
    <div class="message secondary-dark-2">
        <i class="las la-bell bell"></i>

        <p class="msg">Notification message</p>
        <i class="las la-times-circle exit"></i>


    </div>
    <div class="message primary">
        <i class="las la-bell bell"></i>

        <p class="msg">Notification message</p>
        <i class="las la-times-circle exit"></i>


    </div>
    <div class="message secondary-2">
        <i class="las la-bell bell"></i>

        <p class="msg">Notification message</p>
        <i class="las la-times-circle exit"></i>


    </div>
    <div class="message secondary-3">
        <i class="las la-bell bell"></i>

        <p class="msg">Notification message</p>
        <i class="las la-times-circle exit"></i>


    </div>
    <div class="message secondary-4">
        <i class="las la-bell bell"></i>

        <p class="msg">Notification message</p>
        <i class="las la-times-circle exit"></i>


    </div>
    <div class="message outline-1 grey">
        <i class="las la-bell bell grey"></i>

        <p class="msg grey">Notification message</p>
        <i class="las la-times-circle exit grey"></i>


    </div>
    <div class="message background-1">
        <i class="las la-bell bell grey"></i>

        <p class="msg grey">Notification message</p>
        <i class="las la-times-circle exit grey"></i>


    </div>
    <div class="message background-2">
        <i class="las la-bell bell grey"></i>

        <p class="msg grey">Notification message</p>
        <i class="las la-times-circle exit grey"></i>


    </div>
    <div class="message white ">
        <i class="las la-bell bell grey"></i>

        <p class="msg grey">Notification message</p>
        <i class="las la-times-circle exit grey"></i>


    </div>
</body>
</html>