<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <p class="head">Fills / Notifications</p>
    <div class="line"></div>
    <div class="line-1"></div>
    <p class="notification">Notifications</p>
    <div class="allNotifications">
        <div class="each-notification notif-cyanBg">
            <i class="las la-bell whiteFont"></i>
    
            <p class="whiteFont">Notification message</p>
            <i class="las la-times-circle whiteFont"></i>
    
    
        </div>
        <div class="each-notification notif-darkBlueBg ">
            <i class="las la-bell whiteFont"></i>
    
            <p class="whiteFont">Notification message</p>
            <i class="las la-times-circle whiteFont"></i>
    
    
        </div>
        <div class="each-notification notif-lightBlueBg ">
            <i class="las la-bell whiteFont"></i>
    
            <p class="whiteFont">Notification message</p>
            <i class="las la-times-circle whiteFont"></i>
    
    
        </div>
        <div class="each-notification notif-veryLightBlueBg ">
            <i class="las la-bell whiteFont"></i>
    
            <p class="whiteFont">Notification message</p>
            <i class="las la-times-circle whiteFont"></i>
    
    
        </div>
        <div class="each-notification notif-orangeBg ">
            <i class="las la-bell whiteFont"></i>
    
            <p class="whiteFont">Notification message</p>
            <i class="las la-times-circle whiteFont"></i>
    
    
        </div>
        <div class="each-notification notif-greenBg">
            <i class="las la-bell whiteFont"></i>
    
            <p class="whiteFont">Notification message</p>
            <i class="las la-times-circle whiteFont"></i>
    
    
        </div>
        <div class="each-notification notif-pinkBg ">
            <i class="las la-bell whiteFont"></i>
    
            <p class="whiteFont">Notification message</p>
            <i class="las la-times-circle whiteFont"></i>
    
    
        </div>
        <div class="each-notification notif-lightCyanBg">
            <i class="las la-bell whiteFont "></i>
    
            <p class="whiteFont">Notification message</p>
            <i class="las la-times-circle whiteFont"></i>
    
    
        </div>
        <div class="each-notification notif-theLightest-BlueBg grey ">
            <i class="las la-bell  grey"></i>
    
            <p class="grey">Notification message</p>
            <i class="las la-times-circle grey"></i>
    
    
        </div>
        <div class="each-notification notif-whiteBg ">
            <i class="las la-bell  grey"></i>
    
            <p class="grey">Notification message</p>
            <i class="las la-times-circle  grey"></i>
    
    
        </div>
        <div class="each-notification notif-whiterBg ">
            <i class="las la-bell  grey"></i>
    
            <p class="grey">Notification message</p>
            <i class="las la-times-circle  grey"></i>
    
    
        </div>
        <div class="each-notification notif-whitestBg ">
            <i class="las la-bell grey"></i>
    
            <p class="grey">Notification message</p>
            <i class="las la-times-circle grey"></i>
    
    
        </div>
    </div>
    
</body>
</html>