@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #1b1e24;
  letter-spacing: 0.2px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #252631;
  letter-spacing: 0.2px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #252631;
  letter-spacing: 0.2px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252631;
  letter-spacing: 0.2px;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

p {
  color: #98A9BC;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

button {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  color: #252631;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.caption {
  color: #1b1e24;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.notification {
  color: #FFAB2B;
}

.head {
  margin-top: 65px;
  margin-bottom: 65px;
  margin-left: 150px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #252631;
  letter-spacing: 0.2px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: #E8ECEF;
}

.line-1 {
  background-color: #E8ECEF;
  margin-top: 90px;
  margin-left: 150px;
  height: 1px;
  width: 556px;
}

.notification {
  margin-left: 150px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252631;
  letter-spacing: 0.2px;
}

.secondary-1 {
  background-color: #4D7CFE;
}

.message {
  width: 555px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  background-color: #4D7CFE;
  margin-bottom: 13px;
}

.bell {
  padding-left: 15px;
  font-size: 25px;
  color: #F8FAFB;
}

.exit {
  color: #F8FAFB;
  font-size: 20px;
  padding-right: 15px;
}

.msg {
  padding-right: 300px;
  font-size: 16px;
  color: #F8FAFB;
}

.primary-dark {
  background-color: #252631;
}

.secondary-dark-1 {
  background-color: #778CA2;
  color: #778CA2;
}

.secondary-dark-2 {
  background-color: #98A9BC;
}

.primary {
  background-color: #FFAB2B;
}

.secondary-2 {
  background-color: #6DD230;
}

.secondary-3 {
  background-color: #FE4D97;
}

.secondary-4 {
  background-color: #2CE5F6;
}

.outline-1 {
  background-color: #E8ECEF;
}

.background-1 {
  background-color: #F2F4F6;
}

.background-2 {
  background-color: #F8FAFB;
}

.white {
  background-color: #FFFFFF;
}

.grey {
  color: #778CA2;
}

/*# sourceMappingURL=main.css.map */
