<div class="profileDiv">
  <ng-content class="dashboard"></ng-content>
  <div class="dashboard"><i class="las la-bars"></i>Dashboard</div>
  <div class="profileBef dropbtn" (click)="myFunction()">
    <div class="image dropbtn">
      <img class="dropbtn" src="{{ headerProfile.picture }}" alt="" />
    </div>
    <div class="name dropbtn">{{ headerProfile.name }}</div>
  </div>
  <div class="line2"></div>
  <div class="profileHover" id="myDropdown">
    <div class="about">
      <div class="profileMini">
        <img src="{{ headerProfile.picture }}" alt="" />
      </div>
      <div>
        <div>{{ headerProfile.name }}</div>
        <div class="gmail">{{ headerProfile.gmail }}</div>
      </div>
    </div>
    <div class="profSettings">
      <div>
        <i class="las la-user"></i>
        <p>YOUR PROFILE</p>
      </div>
      <div>
        <i class="las la-cog"></i>
        <p>SETTINGS</p>
      </div>
      <div>
        <i class="las la-sign-out-alt"></i>
        <p>SIGN OUT</p>
      </div>
    </div>
  </div>
</div>
