<div class="profileDiv">
  <div class="dashboard"><i class="las la-bars"></i>Dashboard</div>
  <div class="profileBef dropbtn" (click)="myFunction()">
    <div class="image dropbtn">
      <img class="dropbtn" src="./assets/header-profile/User.png" alt="" />
    </div>
    <div class="name dropbtn">Barry Armstrong</div>
  </div>
  <div class="line2"></div>
  <div class="profileHover" id="myDropdown">
    <div class="about">
      <div class="profileMini">
        <img src="./assets/header-profile/User.png" alt="" />
      </div>
      <div>
        <div>Barry Armstrong</div>
        <div class="gmail">b.armstrong@gmail.com</div>
      </div>
    </div>
    <div class="profSettings">
      <div>
        <i class="las la-user"></i>
        <p>YOUR PROFILE</p>
      </div>
      <div>
        <i class="las la-cog"></i>
        <p>SETTINGS</p>
      </div>
      <div>
        <i class="las la-sign-out-alt"></i>
        <p>SIGN OUT</p>
      </div>
    </div>
  </div>
</div>
