.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;

  &:hover {
    background-color: #ddd;
  }

  &.active {
    background-color: #666;
    color: white;
  }
}
