<div class="popup-blur"></div>
<div class="details-popup">
  <div class="details-container">
    <div
      class="details-popup-upper"
      [ngStyle]="{
        'background-color': background | async,
        opacity: opacity | async
      }"
    >
      <i class="las la-times-circle" (click)="closeModal()"></i>
    </div>
    <div class="details-popup-lower">
      <div class="details-popup-lower-logo">
        <img
          [src]="object.value.iconPath"
          alt="Transaction Icon"
          onerror="this.onerror=null; this.src='./assets/transfers/default.png'"
        />
      </div>
      <div></div>
      <div class="details-popup-lower-heading">
        <h3>{{ object.value.title }}</h3>
      </div>
      <div class="details-popup-lower-tag">
        <app-shared-tag
          *ngIf="showTag"
          (closeClicked)="closeTag()"
          [color]="tagColor"
        >
          {{ object.value.status }}
        </app-shared-tag>
      </div>
      <div class="details-popup-lower-transaction">
        <div class="details-popup-lower-transaction-account">
          <h5>xxxx {{ accNum }}</h5>
          <p>Payment account</p>
        </div>
        <div class="details-popup-lower-transaction-amount">
          <p class="details-popup-lower-transaction-number">
            ${{ object.value.amount }}
          </p>
          <p>{{ object.value.date | date: 'MMM dd yyyy hh:mm a' }}</p>
        </div>
      </div>
      <div class="details-popup-lower-receipt">
        <i class="las la-envelope" (click)="receipt(transaction)"></i>
        <p (click)="receipt(transaction)">SEND RECEIPT</p>
      </div>
    </div>
  </div>
</div>
