<app-card-view-template
  [list]="list$ | async"
  [cardInfo]="cardInfo$ | async"
  [name]="name$ | async"
  [amount]="amount$ | async"
  [canBlock]="false"
  [color]="color$ | async"
  [background]="background$ | async"
  [buttons]="buttons$ | async"
>
  <i header [class]="icon$ | async"></i>
  <i logo [class]="icon$ | async"></i>
</app-card-view-template>
<app-features-shared-expanses
  style="width: 100%; height: 100%"
  [chartData]="chartData$ | async"
  [header]="'Credit Overview'"
></app-features-shared-expanses>
