@import "../../../colors&typo/styles.scss";
@import "../../../components/basic-inputs/core/index.scss";
@import "../../../components/checkbox/core/index.scss";
@import "../../../components/buttons/core/index.scss";

.grid-container {
  display: grid;
  grid-template-columns: 48.95833333333333% 51.04166666666667%;
  max-width: 1440px;
  min-width: 1024px;
  height: 900px;

  .authentication {
    display: flex;
    justify-content: center;
    align-items: center;

    .minor-grid-container {
      position: relative;
      left: 2.6vw;
      display: grid;
      height: 780px;
    }

    .auth-form {
      width: 360px;

      .TBC-bold {
        color: $primary;
        font: 500 20px /27px $rubik, sans-serif; //weight, size, line-height, font
        letter-spacing: 0.01em;
      }

      .banking-light {
        color: $primary;
        font: 300 18px /24px $rubik, sans-serif; //weight, size, line-height, font
        letter-spacing: 0.027em;
      }

      .sign-in {
        p {
          color: $primary-dark;
          padding-top: 15px;
          font-weight: 300;
          max-width: 95%;
        }
      }

      a {
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
      }

      form {
        position: relative;
        top: 45px;

        .checkbox-flex {
          display: flex;
          justify-content: space-between;
          padding: 32px 0;

          label {
            @include text-style(14px, $secondary-dark-1);
            letter-spacing: 0;
            padding-left: 13px;
          }

          a {
            position: relative;
            right: 9px;
          }
        }

        .active {
          width: 100%;
        }
      }
      .auth-form-footer {
        position: relative;

        div {
          position: absolute;
          bottom: 0;
        }

        p {
          display: inline-block;
          margin-right: 3px;
        }
      }
    }
  }

  .img-bg {
    background-size: cover;
    // სურათის ბმული განკუთვნილია 1 დონით გარე სტილისთვის მისამართისთვის
    background-image: url(../../assets/img/webp/auth-sidebar-img.webp);
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
  }
}
