<head>
  <link rel=“stylesheet”
  href=“https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css”>
  <link
    rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
  />
</head>
<div class="background"></div>
<div class="container">
  <h2>Are you sure?</h2>
  <p>You will not be able to reactivate this account</p>
  <div class="buttons">
    <app-shared-button
      [className]="{ blue: true }"
      style="width: 116px; height: 46px"
      (click)="confirm.emit()"
    >
      Confirm</app-shared-button
    >

    <app-shared-button
      [className]="{ primary: true, resting: true }"
      style="height: 46px; width: 116px"
      (click)="closeAccount.emit()"
    >
      CANCEL</app-shared-button
    >
  </div>
</div>
