<div class="security-settings-wrapper">
  <div class="security">
    <h4>security</h4>
    <div class="headers">change password</div>
    <form [formGroup]="formChange" (ngSubmit)="onSubmit()">
      <div class="settings-form-aligment">
        <div class="aligment-flex">
          <div class="current">
            <label class="input-label" for="input-icon-example"
              >current password</label
            >
            <div class="input-wrapper">
              <input
                type="password"
                id="input-icon-example"
                class="valid"
                formControlName="curentPass"
              />
              <i class="las la-eye"></i>
              <div
                *ngIf="
                  !formChange.get('curentPass').valid &&
                  formChange.get('curentPass').touched
                "
              >
                invalid password
              </div>
            </div>
          </div>
          <div class="new">
            <label class="input-label" for="input-icon-example"
              >new password</label
            >
            <div class="input-wrapper">
              <input
                type="password"
                id="input-icon-example"
                class="valid"
                formControlName="newPass"
              />
              <i class="las la-lock"></i>
              <div
                *ngIf="
                  !formChange.get('newPass').valid &&
                  formChange.get('newPass').touched
                "
              >
                invalid password
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="headers">security questions</div>
      <div class="settings-form-aligment">
        <div class="aligment-flex">
          <div>
            <label class="select" for="dropdown-general">question #1</label>
            <div class="dropdown-general">
              <ng-template #dropdownTemplate let-option>
                {{ option.question }}
              </ng-template>
              <app-shared-dropdown
                style="width: 336px; height: 52px"
                formControlName="dropdown"
                placeholder="choose your question"
                [optionTemplate]="dropdownTemplate"
                [selectedTemplate]="dropdownTemplate"
                [options]="questions"
              >
              </app-shared-dropdown>
            </div>
          </div>
          <div>
            <label class="input-label" for="input-icon-example">answer</label>
            <div class="input-wrapper">
              <input
                formControlName="answer"
                id="input-icon-example"
                class="valid"
                type="text"
                placeholder=""
              />
            </div>
          </div>
        </div>
      </div>
      <div id="btn" class="primary buttons">
        <button class="active btn" type="submit">UPDATE SETTINGS</button>
        <button class="resting btn" (click)="reset()">RESET</button>
        <div></div>
      </div>
    </form>
  </div>
</div>
