<div class="security-settings-wrapper">
  <div class="security">
    <h4>security</h4>
    <div class="headers">change password</div>
    <form [formGroup]="formChange">
      <div class="settings-form-aligment">
        <div class="aligment-flex">
          <div class="current">
            <label class="input-label" for="input-icon-exampleee"
              >current password</label
            >
            <div class="input-wrapper">
              <app-shared-input
                id="input-icon-exampleee"
                placeholder=" "
                formControlName="curentPass"
                type="password"
              >
                <!-- <i class="las la-eye"></i> -->
              </app-shared-input>
              <!-- <div
                *ngIf="
                  !formChange.get('curentPass').valid &&
                  formChange.get('curentPass').touched
                "
              >
                invalid password
              </div> -->
            </div>
          </div>
          <div class="new">
            <label class="input-label" for="input-icon-example"
              >new password</label
            >
            <div class="input-wrapper">
              <app-shared-input
                placeholder=" "
                type="password"
                id="input-icon-example"
                class="valid"
                formControlName="newPass"
              >
                <!-- <i class="las la-lock"></i> -->
              </app-shared-input>
              <div
                *ngIf="
                  !formChange.get('newPass').valid &&
                  formChange.get('newPass').touched
                "
              >
                invalid password
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="headers">security questions</div>
      <div class="settings-form-aligment">
        <div class="aligment-flex">
          <div>
            <label class="select" for="dropdown-general">question #1</label>
            <div class="dropdown-general">
              <ng-template #dropdownTemplate let-option>
                {{ option.question }}
              </ng-template>
              <app-shared-dropdown
                style="width: 336px; height: 52px"
                formControlName="dropdown"
                placeholder="choose your question"
                [optionTemplate]="dropdownTemplate"
                [selectedTemplate]="dropdownTemplate"
                [options]="questions"
              >
              </app-shared-dropdown>
            </div>
          </div>
          <div>
            <label class="input-label" for="input-icon-example">answer</label>
            <div id="in" class="input-wrapper">
              <app-shared-input
                style="width: 336px; height: 52px"
                formControlName="answer"
                id="input-icon-example"
                class="valid"
                type="text"
                placeholder=""
              >
              </app-shared-input>
            </div>
          </div>
        </div>
      </div>
      <div id="btn" class="primary buttons">
        <app-shared-button
          [className]="{ primary: true, active: true }"
          style="width: 206px; height: 46px"
          [isDisabled]="false"
          (click)="onSubmit()"
          >UPDATE SETTINGS</app-shared-button
        >

        <app-shared-button
          [className]="{ primary: true, resting: true }"
          style="width: 148px; height: 46px; margin-left: 12px"
          (clicked)="reset()"
          >resting</app-shared-button
        >
        <div></div>
      </div>
    </form>
  </div>
</div>
