@import './index.scss';
.security-settings-wrapper {
  margin-left: 24px;
  margin-bottom: 24px;
  margin-top: 18px;
  line-height: 42px;
  @include text-style(14px);
  text-transform: capitalize;
  display: flex;

  .security {
    max-width: 1140px;
    min-width: 690px;
    width: 100vw;
  }
  .aligment-flex {
    display: flex;
  }

  #btn {
    display: flex;
    width: 32%;

    margin-top: 183px;
  }

  .dropdown-general {
    width: 336px;
    margin-right: 26px;
  }

  h4 {
    font-size: 18px;
    margin-bottom: -30px;
  }

  .headers {
    text-align: left;
    color: #98a9bc;
    border-bottom: solid 1px #e8ecef;
    width: 61%;
    margin-top: 31px;
  }

  .settings-form-aligment {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
  }

  #input {
    width: 336px;
    height: 52px;
    border-color: #e8ecef !important;
    border-radius: 6px;
    border-width: 1px;
    margin-right: 26px;
    border-style: solid;
    padding-left: 7px;
    outline: none;
  }

  input::placeholder {
    color: #98a9bc;
    text-transform: capitalize;
  }
}

#in {
  margin-left: -12px;
}

.input-wrapper {
  position: relative;
  margin-top: -43px;
  width: 336px;
  margin-right: 12px;
}
.current {
  i {
    position: absolute;
  }
}

i {
  position: absolute;
  top: 50px;
}

app-shared-toggle {
  position: relative;
  right: -650px;
  top: 70px;
}

#plus {
  font-weight: bolder;
  font-size: 40px;
  width: 40px;
  color: orange;
  cursor: pointer;
  position: relative;
  top: 50px;
  left: 590px;
}
#minus {
  font-weight: bolder;
  font-size: 40px;
  width: 40px;
  color: orange;
  cursor: pointer;
  position: relative;
  top: 50px;
  left: 600px;
}
