<div class="news-list-container">
  <app-news-item
    *ngFor="let article of news"
    routerLink="./article"
    [imgSrc]="article.urlToImage"
    [articleUrl]="article.url"
    (click)="newsService.goToSingleNews(article)"
  >
    <span articleTitle>{{ article.title }}</span>
    <span articleDate>{{ article.publishedAt | dateAgo }}</span>
    <span articleBody>{{ article.description }}</span>
  </app-news-item>
  <div *ngIf="showLearnMore">
    <button (click)="displayMore()">Learn More</button>
  </div>
  <ng-container *ngIf="noNewsToDisplay">
    <div class="news-error">No news to display ...</div>
  </ng-container>
</div>
