<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="message background-1 ">
        <i class="las la-bell bell grey"></i>

        <p class="msg grey">Notification message</p>
        <i class="las la-times-circle exit grey"></i>


    </div>
</body>
</html>