@import "../../../colors&typo/styles.scss";

$notif-width:555px;
$content-widtha:$notif-width - 100px;
.notif-cyanBg{
    background-color:$secondary-1;
}

.notification{
    width:$notif-width;
    height:64px;
    background-color:$secondary-1;
    position: relative;
    p {
        font-size:16px;
        position: absolute;
        font-family: $rubik;
        font-weight:500;
        max-width:$content-widtha;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        top: 24px;
        left: 51px;

    }
    :first-child{
        font-size:24px;
        position: absolute;
        top: 20px;
        left: 15px;

    }
    :last-child{
        font-size:20px;
        user-select: none;
        cursor:pointer ;
        position: absolute;
        top: 24px;
        right:15px;

    }

}




.notif-darkBlueBg{
    background-color: $primary-dark;
}

.notif-lightBlueBg{
    background-color:$secondary-dark-1;
}

.notif-veryLightBlueBg{
    background-color:$secondary-dark-2;
}
.notif-orangeBg{
    background-color: $primary;
}

.notif-greenBg{
    background-color: $secondary-2;
}
.notif-pinkBg{
    background-color: $secondary-3;
}

.notif-lightCyanBg{
    background-color: $secondary-4;
}

.notif-theLightest-BlueBg{
    background-color: $outline;
}

.notif-whiteBg{
    background-color: $background-1;
}

.notif-whiterBg{
    background-color: $background-2;
}
.notif-whitestBg{
    background-color:#FFFFFF;
    box-shadow: 0px 0px 6px $outline;

}

.grey{
    color:$secondary-dark-1;
}

.whiteFont{
    color:$background-2;
}