@import "../../../colors&typo/styles.scss";


.cyanBg{
    background-color:$secondary-1;
}

.each-notification{
    width:555px;
    height:64px;
    background-color:$secondary-1;
    position: relative;
    


}
.bell{
    font-size:25px;
    color:$background-2;
    position: absolute;
    top: 20px;
    left: 15px;

}

.exit{
    color:$background-2;
    font-size:20px;
    user-select: none;
    cursor:pointer ;
    position: absolute;
    top: 24px;
    left: 520px;
   
}

.msg{
    font-size:16px;
    color:$background-2;
    position: absolute;
    font-style: $rubik;
    font-weight:500;
    max-width:460px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 24px;
    left: 51px;
}

.darkBlueBg{
    background-color: $primary-dark;
}

.lightBlueBg{
    background-color:$secondary-dark-1;
}

.veryLightBlueBg{
    background-color:$secondary-dark-2;
}
.orangeBg{
    background-color: $primary;
}

.greenBg{
    background-color: $secondary-2;
}
.pinkBg{
    background-color: $secondary-3;
}

.lightCyanBg{
    background-color: $secondary-4;
}

.theLightest-BlueBg{
    background-color: $outline;
}

.whiteBg{
    background-color: $background-1;
}

.whiterBg{
    background-color: $background-2;
}
.whitestBg{
    background-color:#FFFFFF;
    box-shadow: 0px 0px 6px $outline;

}

.grey{
    color:$secondary-dark-1;
}

