@import "../../../colors&typo/styles.scss";


.secondary-1{
    background-color:$secondary-1;
}

.message{
    width:555px;
    height:64px;
    background-color:$secondary-1;
    position: relative;


}
.bell{
    font-size:25px;
    color:$background-2;
    position: absolute;
    top: 17px;
    left: 10px;
}

.exit{
    color:$background-2;
    font-size:20px;
    user-select: none;
    cursor:pointer ;
    position: absolute;
    top: 17px;
    left: 520px;
   
}

.msg{
    font-size:16px;
    color:$background-2;
    position: absolute;
    top: 20px;
    left: 50px;
    font-style: $rubik;
    font-weight:500;
    max-width:460px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.primary-dark{
    background-color: $primary-dark;
}

.secondary-dark-1{
    background-color:$secondary-dark-1;
}

.secondary-dark-2{
    background-color:$secondary-dark-2;
}
.primary{
    background-color: $primary;
}

.secondary-2{
    background-color: $secondary-2;
}
.secondary-3{
    background-color: $secondary-3;
}

.secondary-4{
    background-color: $secondary-4;
}

.outline-1{
    background-color: $outline;
}

.background-1{
    background-color: $background-1;
}

.background-2{
    background-color: $background-2;
}
.white{
    background-color:#FFFFFF;
}

.grey{
    color:$secondary-dark-1;
}

